html, body {
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	background: #000;
	margin: 0px;
	padding: 0px;
	/*background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.1)), url(../img/10.png) no-repeat center center;*/
	/*background-size: cover;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;*/
	background-size: cover;
	background: #444;
}
#header {
	position: absolute;
	top: 0px;
	height: 70px;
	width: 100%;
	background: rgba(0,0,0,0.3);
	/*background:#00A0C6*/

	background: #DC260A;
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
	border-bottom: 1px solid gray;
	z-index: 999;
	text-transform: uppercase;
	/*letter-spacing: 3px;*/
}

#header > .container-fluid {
	margin-top: 20px;
}

#title_text {
	font-family: 'Verdana';
	letter-spacing: 2px;
}

#center-body {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 70px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	width: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	/*overflow-y: scroll;*/
}

.anims {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#side {
	position: absolute;
	bottom: 0px;
	width: 250px;
	top: 0px;
	background: #222;
	text-align: center;
	-webkit-box-shadow: 2px 0 7px -2px #888;
	box-shadow: 2px 0 7px -2px #888;
	z-index: 999;
	/*-webkit-overflow-scrolling: touch;*/
	/*overflow-y: scroll;*/
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}
#bigtextshadow {
	color: orange;
	font-size: 3em;
	text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
	padding: 100px 100px;
}

.card {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.nav-text {
	color: #222;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 1.5em;
	text-transform: uppercase;
	/*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);*/
}

#fullscreenElement {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.8);
	/*	background: url(../img/bg.jpg) no-repeat center top;*/
	/*background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(../img/b3.jpg) no-repeat center center;*/
	background-size: cover;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

#fullscreenElement.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
	opacity: 1;
	z-index: 9999;
}

#fullscreenElement .close {
	position: absolute;
	padding: 15px;
	top: 25px;
	right: 15px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	opacity: 1;
	z-index: 9999;
	border-radius: 50% !important;
}

#fullscreen_stage {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	position: absolute;
	top: 20px;
	left: 1px;
	bottom: 1px;
	right: 1px;
}

#custom-tooltip {
    background-color: #ddd;
    min-width: 25%;
    max-width: 25%;
    min-height: 25%;
    top: 75px;
    left: 0px;
}

#custom-tooltip.open {
	position: absolute;
}

#custom-tooltip .cx{
	color : #423c3c;
	cursor : pointer;
	margin : 10px;
	float : right;
	font-size : 1.5em;
}

@media only screen and (max-width: 500px) {
	#custom-tooltip {
    	background-color: #ddd;
    	max-width: 100%;
    	top: 75px;
    	left: 15px;
    	right : -15px;
    	margin-right : 30px;
	}

	#custom-tooltip.open {
		position: absolute;
	}
}

.animated {
	-webkit-backface-visibility: hidden;
	/*-webkit-transform-style: preserve-3d;*/

	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	animation-duration: 1s;
	-moz-animation-duration: 1s;
}

/* -------------- PANEL STYLES ----------------- */
.black-glass {
	background: #fff;
	border-radius: 0px;
	color: white;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}
.white-glass {
	background: rgba(255,255,255,0.2);
	border: none;
	border-radius: 0px;
	color: white;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
	max-width: 600px;
	margin: auto;
}

.pad10 {
	padding: 10px;
}
.pad-sides-10 {
	padding: 0px 10px;
}
.pad-overs-10 {
	padding: 10px 0px;
}

.pad15 {
	padding: 15px;
}
.pad20 {
	padding: 20px;
}
a {
	color: #0060B6;
	text-decoration: none;
}

a:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}
.pad-sides-15 {
	padding: 0px 15px;
}
.pad-overs-15 {
	padding: 15px 0px;
}

.topmargin50 {
	margin-top: 50px;
}

.topmargin70 {
	margin-top: 70px;
}

.topmargin25 {
	margin-top: 25px;
}

.bottommargin25 {
	margin-bottom: 25px;
}

/* -------------- FORM STYLES ----------------- */
.form-group > label {
	font-family: lato;
	letter-spacing: 2px;
	text-align: left;
	color: black;
}

.form-group {
	text-align: left;
}

* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	font-family: Verdana;
}

.form-holder {
	padding: 25px;
}

.navblock {
	margin-top: 30px;
	height: 160px;
	font-family: 'Verdana', sans-serif;
	color: #00A0C6;
}

.navblock h4 {
	letter-spacing: 2px;
	margin-top: 20px;
	color: #333;
	font-weight: bold;
}

a {
	color: white;
	text-decoration: none; /* no underline */
}
a:visited {
	color: white;
	text-decoration: none; /* no underline */
}
a:hover {
	color: white;
	text-decoration: none; /* no underline */
}

.ani-block {
	visibility: hidden;
}

.has-error .help-block {
	color: #ff0037;
}

.fa {
	color: #DC260A;
}
.table-wrapper {
	background: white;
	/*border: 1px solid silver;*/
	padding: 40px;
}

@media only screen and (max-width: 500px) {
	.table-wrapper {
		padding: 5px;
		padding-bottom: 40px;
	}
}
/* -------------- SCREEN STYLES ----------------- */
.para-heading {
	color: white;
	font-size: 1.2em;
}

th, td {
	color: black;
	text-align: center;
}

.addContext {
	color: white;
	background: rgba(0,0,0,0.2);
	border: none;
	padding: 10px;
}
.addContext > span {
	margin-left: 12px;
	margin-bottom: -10px;
}

h4, a {
	/*color: white;*/
	color: black;
}

.summary-charts {
	/*padding-top: 10px;*/
	padding: 20px;
	background: white;
	border: 1px solid #DCDCDC;
}

.main-div-wrapper {
	background: white;
	padding: 40px;
}

@media only screen and (max-width: 500px) {
	.main-div-wrapper {
		padding: 5px;
		padding-bottom: 40px;
	}
}

.doc-head {
	margin-bottom: 10px;
	display: inline;
}

.doc-head > a {
	padding: 0px 40px;
	font-size: small;
}
.pg-holder {
	padding: 10px 0px;
}

@media only screen and (max-width: 680px) {
	.doc-head > a {
		padding: 0px 10px;
		font-size: small;
	}
}

.bottom > .btn {
	padding: 4px 30px;
}

.menu-button {
	cursor: pointer;
	padding: 10px;
	color: white;
	border: 1px solid #4d544d;
	width: 20%;
	margin: 20px;
}
.menu-button span {
	color: #00A0C6;
	font-size: large;
}

.block3 {
	display: flex;
}

@media only screen and (max-width: 600px) {
	.menu-button {
		border: 1px solid #4d544d;
		width: 100%;
	}
	.menu-button span {
		color: #00A0C6;
		font-size: large;
	}
	.block3 {
		display: block;
		text-align: center;
	}
}

@media only screen and (max-width: 800px) {

	#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
		display: block;
	}

	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr {
		border: 1px dotted #222;
	}

	#no-more-tables td {
		border: none;
		border-bottom: 1px dotted #222;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align: left;
	}

	#no-more-tables td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}

	#no-more-tables td:before {
		content: attr(data-title);
	}

}

*:not(.badge) {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.list-group-item {
	background: none;
	border: none;
	color: white;
	letter-spacing: 1px;
	font-family: Verdana;
}

.list-group  a {
	color: white;
	text-decoration: none;
}

.list-group  i {
	color: silver;
}

.list-group a:hover {
	background-color: red;
	color: white;
}

span.htitle {
	margin-right : 10px;
}

