<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="main-div-wrapper card-2">
				<div class="row">
					<div id="profile-data">
						
					</div>
				</div>
				<hr>
				<form id="profile_form">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<select id="ctype" class="form-control">
									<option>Contact Type</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="first_name" class="form-control" placeholder="First Name">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="middle_name" class="form-control" placeholder="Middle Name">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="last_name" class="form-control" placeholder="Last Name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="suffix" class="form-control" placeholder="Suffix">
							</div>
							<div class="form-group">
								<input type="text" id="phone" class="form-control" placeholder="Phone">
							</div>
						</div>
						<div class="col-sm-8">
							<div class="form-group">
								<input type="text" id="title" class="form-control" placeholder="Title">
							</div>
							<div class="form-group">
								<input type="text" id="email" class="form-control" placeholder="Email ID">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<input type="text" id="adr1" class="form-control" placeholder="Address 1">
							</div>
							<div class="form-group">
								<input type="text" id="adr2" class="form-control" placeholder="Address 2">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="fax" class="form-control" placeholder="Fax">
							</div>
							<div class="form-group">
								<input type="text" id="zcode" class="form-control" placeholder="Zip Code">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<select id="city" class="form-control">
									<option>City</option>
								</select>
							</div>
							<div class="form-group">
								<select id="country" class="form-control">
									<option>Country</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<select id="state" class="form-control">
									<option>State</option>
								</select>
							</div>
						</div>
					</div>
					<hr>
					<h4 style="text-align: center;">Additional Information</h4>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="hdata" class="form-control" placeholder="Hired Data">
							</div>
							<div class="form-group">
								<input type="text" id="dob" class="form-control" placeholder="DOB(mm/dd/yy)">
							</div>
							<div class="form-group">
								<input type="text" id="hphone" class="form-control" placeholder="Home Phone">
							</div>
							<div class="form-group">
								<input type="text" id="acontact" class="form-control" placeholder="Alternate contact">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="di-dialing" class="form-control" placeholder="Direct Inward Dialing">
							</div>
							<div class="form-group">
								<input type="text" id="bplace" class="form-control" placeholder="Birth Place">
							</div>
							<div class="form-group">
								<input type="text" id="mobileno" class="form-control" placeholder="Mobile Number">
							</div>
							<div class="form-group">
								<input type="text" id="dept" class="form-control" placeholder="Department">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="extension" class="form-control" placeholder="Extension">
							</div>
							<div class="form-group">
								<input type="text" id="ssn" class="form-control" placeholder="SSN">
							</div>
							<div class="form-group">
								<input type="text" id="beeper" class="form-control" placeholder="Beeper">
							</div>
							<div class="form-group">
								<input type="text" id="upin" class="form-control" placeholder="UPIN">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<a class="btn btn-primary btn-block"> Update </a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script id="user-profile-template" type="text/template">
	{{#rows}}
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="form-group pull-right">
			<div id="preview_frame" style="border:1px solid silver;margin:0px 2px;height:150px;width:150px;background-size:cover">
				<img src="{{profileImage}}" style="width: inherit;"/>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-8">
		<div class="form-group">
			<p class="profile-data">
				<span>{{role}} : </span>
				{{name}}
				<br/>
				<br/>
				<span>Title : </span>
				{{title}}
				<br/>
				<br/>
				<span>Current Program : </span>
				<a> {{currentProgram}} </a>
			</p>
		</div>
	</div>
	{{/rows}}
</script>
<script type="text/javascript">
	$(function() {
		var user_data = JSON.parse(LS.get_data('USER_PRIOFILE'));
		$('#profile-data').append(prepareHtml('user-profile-template')(user_data));
		var str = (user_data.name).trim();
		$('#first_name').val((str.substr(0, str.indexOf(' '))).trim());
		$('#last_name').val((str.substr(str.indexOf(' ') + 1)).trim());
		$('#title').val(user_data.currentProgram);
		$('#email').val(user_data.username);
	}); 
</script>