<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="main-div-wrapper card-2">
				<div style="text-align: center;">
					<label for="edit" style="float: left;display: inline;height: 34px;margin-top: 4px;">
						<input id="edit" name="edit" type="checkbox">&nbsp;edit
					</label>
					<span style="font-size: 1.5em;">RESEARCH REPORT</span>
				</div>
				<br />
				<form id="">
					<div class="form-group">
						<select id="select_study" class="form-control" onclick='clickData()'>
							<option value="">Select Study</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" id="HypothesisPopulation" class="form-control" placeholder="Hypothesis"/>
					</div>
					<div class="form-group">
						<input type="text" id="IntroductionPopulation" class="form-control" placeholder="Introduction"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Methods"/>
					</div>
					<div class="row">
						<div class="col-md-8">
							<input type="text"  class="form-control" placeholder="Results"/>
						</div>
						<div class="col-md-4">
							<input type="file" class="form-control"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" id="DataSetPopulation" class="form-control" placeholder="Data Sets"/>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<a class="form-control">Data Links</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<textarea type="text" class="form-control" placeholder="enter notes"></textarea>
					</div>
					<div class="form-group">
						&nbsp;<h4 >References:</h4>
						<input type="file" class="form-control" multiple/>
						<br>
						<div class="input-group">
							<input class="form-control" name="" type="text" placeholder="URL">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button"><i style="color:white;" class="fa fa-plus"></i></button> 
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<a class="btn btn-primary btn-block">Save Draft</a>
						</div>
						<div class="col-md-4 col-sm-4">
							<a class="btn btn-primary btn-block">Share</a>
						</div>
						<div class="col-md-4 col-sm-4">
							<a class="btn btn-primary btn-block">Publish</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script id="study-title-options-template" type="text/template">
	{{#rows}}
		<option value="{{studyid}}">{{studytitle}}</option>
	{{/rows}}
</script>
<script type="text/javascript">
	function clickData() {
		document.getElementById('HypothesisPopulation').value = 'If a healthy immune system is able to eliminate the virus spontaneously, following primary infection, then a "boosted" immune system may also be capable of achieving the same result during the chronic phase of the disease';
		document.getElementById('DataSetPopulation').value = 'DataSet: UCSF01881867';
	}

	$(function() {
		$('.btn-primary').on('click', function() {
			var template = $(this).closest('.input-group').html().replace('fa-plus', 'fa-minus');
			$(this).closest('.form-group').append('<div style="margin-top:5px;" class="input-group slideInDown animated">' + template + '</div>');
		});
		
		$('body').on('click', 'button:has(> i.fa-minus)', function() {
			$(this).closest('.input-group').addClass('slideOutUp animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
				$(this).remove();
			});
		});
		
		$('.form-control').attr('disabled', true);
		$('.btn').attr('disabled', true);
		$('#edit').on('change', function(){
			if($(this).prop('checked')){
				$('.form-control').attr('disabled', false);
				$('.btn').attr('disabled', false);	
			} else {
				$('.form-control').attr('disabled', true);
				$('.btn').attr('disabled', true);
			}
		});
		
		var qry = {'studyid' : {$ne : ""}};
		var studies = db2.getCollection('STUDIES').findObjects(qry);
		$('#select_study').append(prepareHtml('study-title-options-template')(studies));
	}); 
</script>