<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper card-2">
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">RR NO</span></th>
							<th><span class="htitle">SENT BY</span></th>
							<th><span class="htitle">DATE OF CREATION</span></th>
							<th><span class="htitle">HYPOTHESIS</span></th>
							<th><span class="htitle">LAST MODIFIED</span></th>
							<th><span class="htitle">STATUS</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Researcher1</td>
							<td>01/01/2015</td>
							<td>There is no correlation</td>
							<td>01/01/2016</td>
							<td>Completed</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Researcher2</td>
							<td>02/02/2015</td>
							<td>.....</td>
							<td>02/02/2016</td>
							<td>In Progress</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Researcher3</td>
							<td>03/03/2015</td>
							<td>.....</td>
							<td>03/03/2016</td>
							<td>To Start</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Researcher4</td>
							<td>04/04/2015</td>
							<td>.....</td>
							<td>04/04/2016</td>
							<td>Modified Request</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Researcher5</td>
							<td>05/05/2015</td>
							<td>.....</td>
							<td>05/05/2016</td>
							<td>To Start</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Researcher6</td>
							<td>06/06/2015</td>
							<td>There is no correlation</td>
							<td>06/06/2016</td>
							<td>Completed</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Researcher7</td>
							<td>01/07/2015</td>
							<td>There is no correlation</td>
							<td>01/07/2016</td>
							<td>Completed</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
	}); 
</script>