<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="table-wrapper card-2">
				<div class="table-responsive">
					<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle"  style="white-space: nowrap;">REQUEST NO</span></th>
							<th><span class="htitle">SENT BY</span></th>
							<th><span class="htitle" style="white-space: nowrap;">DATE OF CREATION</span></th>
							<th><span class="htitle" style="white-space: nowrap;">STUDY ID</span></th>
							<th><span class="htitle">DESCRIPTION</span></th>
							<th><span class="htitle" style="white-space: nowrap;">LAST MODIFIED</span></th>
							<th><span class="htitle">STATUS</span></th>
							<th><span class="htitle">DATA SET</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a onclick="$('body').trigger('research-report-form');">1</a></td>
							<td>Masa Takayama</td>
							<td>01/01/2015</td>
							<td>PICI2-01716806</td>
							<td float="left">If a healthy immune system is able to eliminate the virus spontaneously, following primary infection, then a "boosted" immune system may also be capable of achieving the same result during the chronic phase of the disease.</td>
							<td>01/01/2016</td>
							<td>Completed</td>
							<td>PICI201881867</td>
						</tr>
						<tr>
							<td><a onclick="$('body').trigger('research-report-form');">2</a></td>
							<td>Researcher2</td>
							<td>02/02/2015</td>
							<td>PICI2-01716809</td>
							<td>.....</td>
							<td>02/02/2016</td>
							<td>In Progress</td>
							<td>.....</td>
						</tr>
						<tr>
							<td><a onclick="$('body').trigger('research-report-form');">3</a></td>
							<td>Researcher3</td>
							<td>03/03/2015</td>
							<td>PICI2-01716804</td>
							<td>.....</td>
							<td>03/03/2016</td>
							<td>To Start</td>
							<td>.....</td>
						</tr>
						<tr>
							<td><a onclick="$('body').trigger('research-report-form');">4</a></td>
							<td>Researcher4</td>
							<td>04/04/2015</td>
							<td>PICI2-01716803</td>
							<td>.....</td>
							<td>04/04/2016</td>
							<td>Modified Request</td>
							<td>.....</td>
						</tr>
						<tr>
							<td><a onclick="$('body').trigger('research-report-form');">5</a></td>
							<td>Researcher5</td>
							<td>05/05/2015</td>
							<td>PICI2-01716802</td>
							<td>.....</td>
							<td>05/05/2016</td>
							<td>To Start</td>
							<td>.....</td>
						</tr>
						<tr>
							<td onclick="$('body').trigger('research-report-form');"><a>6</a></td>
							<td>Researcher6</td>
							<td>06/06/2015</td>
							<td>PICI2-01716807</td>
							<td>.....</td>
							<td>06/06/2016</td>
							<td>Completed</td>
							<td>.....</td>
						</tr>
						<tr>
							<td><a onclick="$('body').trigger('research-report-form');">7</a></td>
							<td>Researcher7</td>
							<td>01/07/2015</td>
							<td>PICI2-01716805</td>
							<td>.....</td>
							<td>01/07/2016</td>
							<td>Completed</td>
							<td>.....</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
	}); 
</script>