<div class="container animated fadeInUp" style="margin-top: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wrapper card-2">
                <div style="display:inline;">
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input id="filter" type="text" class="form-control" placeholder="Type here...">
                    </div>
                    <div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
                        <button class="btn btn-default btn-sm" id="pg-left">
                            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-default  btn-sm" id="pg-right">
                            <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                    <br>
                    <br>
                    <table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
                        <thead class="cf" style="background:#ffe5e5;">
                            <tr>
                                <th>
                                    <span class="htitle">CPAN</span>
                                </th>
                                <th>
                                    <span class="htitle">LAB</span>
                                </th>
                                <th>
                                    <span class="htitle">OBSERVATION DATE</span>
                                </th>
                                <th>
                                    <span class="htitle">RESULT</span>
                                </th>
                                <th>
                                    <span class="htitle">UNIT</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="clinical-labs-list" class="searchable">
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <script id='clinicaldata_temp' type="text/template">
        {{#rows}}
        <tr>
            <td style="text-align: center" data-title="CPAN">
                {{cpan}}
            </td>
            <td style="text-align: left" data-title="LAB">
                {{lab}}
            </td>
            <td style="text-align: left" data-title="OBSERVATION DATE">
                {{observation}}
            </td>
            <td style="text-align: left" data-title="RESULT">
                {{result}}
            </td>
            <td style="text-align: center" data-title="UNIT">
                {{unit}}
            </td>
        </tr>
        {{/rows}}
    </script>
    <script>
        $(function(){
        
            function render_table(rows){
                var clinicaldataTemplate = $('#clinicaldata_temp').html();
                var clinicaldataHtml = Mustache.to_html(clinicaldataTemplate, {
                    'rows': rows
                });
                $("#clinical-labs-list").html(clinicaldataHtml);
                $.bootstrapSortable(applyLast = true);
            }
            
            var pageHitCount = 1, startRange = 0, qry = {};
			if($('#select-pid').val()) qry.cpan = $('#select-pid').val();
            var rows = db2.getCollection('CLINICALLABS').findObjects(qry), newRows = [];
        	rows.forEach(function(clab, index){
        		if(clab.cpan && clab.lab && clab.observation && clab.result && clab.unit){
        			newRows.push(clab);	
        		}
        	});
        	rows = newRows;
            
            //if total rows count is less than 50,pagination not required
            if (rows.constructor === Array && rows.length <= 50) {
                $('.pg-holder').hide();
                render_table(rows);
            }
            else {
                render_table(onLeft(rows, startRange, pageHitCount));
            }
            
            $('#pg-left').click(function(){
                pageHitCount = pageHitCount - 1;
                startRange = startRange - 50;
                render_table(onLeft(rows, startRange, pageHitCount));
            });
            
            $('#pg-right').click(function(){
                pageHitCount = pageHitCount + 1;
                startRange = startRange + 50;
                render_table(onRight(rows, startRange, pageHitCount));
            });
            
            $('#filter').keyup(function(){
                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function(){
                    return rex.test($(this).text());
                }).show();
            });
            
        });
    </script>
