<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper card-2">
				<table class="table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th data-defaultsort='disabled'><input id="all-subjects" type="checkbox"/></th>
							<th style="text-align: left;">Subjects</th>
							<th>Sex</th>
							<th>Age</th>
							<th>Date Of Admission</th>
							<th>Adverse Events</th>
							<th>Treatment</th>
							<th>Specimen</th>
						</tr>
					</thead>
					<tbody id="subject-list">
						<tr>
							<td><input type="checkbox"/></td>
							<td style="text-align: left;"><a onclick="$('body').trigger('single-patient-view');">Janet Johnson</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td style="text-align: left;"><a onclick="$('body').trigger('single-patient-view');">Nick Nightingale</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td style="text-align: left;"><a onclick="$('body').trigger('single-patient-view');">Francis Frasier</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td style="text-align: left;"><a onclick="$('body').trigger('single-patient-view');">Dewey Donald</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td style="text-align: left;"><a onclick="$('body').trigger('single-patient-view');">Shana Schwartz</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#homebutton").show();
		$("#top-right-holder").show();
		$('#all-subjects').on('change',function(){
			if($(this).prop('checked')){
				$('#subject-list input[type="checkbox"]').prop('checked', true);
				return;
			}
			$('#subject-list input[type="checkbox"]').prop('checked', false);	
		});
	}); 
</script>