<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3></center>
			<div class="table-wrapper card-2">
			</div>
		</div>
	</div>
</div>
<script>
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); 
</script>
