<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-left pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<a class="btn btn-primary" id="save"  onclick="$('body').trigger('study-cohorting-screen');"><i class="fa fa-arrow-left fa-1x" style="color: white;"></i></a>
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<a class="btn btn-primary" id="save"  onclick="$('body').trigger('');">Save</a>
						<a class="btn btn-primary" id="createset"  onclick="$('body').trigger('');">Create Data Set</a>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">Patient</span></th>
							<th><span class="htitle">Set</span></th>
							<th><span class="htitle">Benefit Group</span></th>
							<th><span class="htitle"></span># Mutations</th>
						</tr>
					</thead>
					<tbody id="adverse_date_table" class="searchable">
						<tr>
							<td>CR04885</td><td>Validation</td><td>LB</td><td>235</td>
						</tr>
						<tr>
							<td>PR4077</td><td>Validation</td><td>LB</td><td>198</td>
						</tr>
						<tr>
							<td>PR11217</td><td>Validation</td><td>LB</td><td>164</td>
						</tr>
						<tr>
							<td>LSD4744</td><td>Validation</td><td>LB</td><td>152</td>
						</tr>
						<tr>
							<td>PR4092</td><td>Validation</td><td>LB</td><td>130</td>
						</tr>

						<tr>
							<td>CR6161</td><td>Validation</td><td>LB</td><td>102</td>
						</tr>
						<tr>
							<td>PR4035</td><td>Validation</td><td>LB</td><td>94</td>
						</tr>

						<tr>
							<td>CR6126</td><td>Validation</td><td>LB</td><td>81</td>
						</tr>
						<tr>
							<td>LSD3484</td><td>Validation</td><td>LB</td><td>81</td>
						</tr>
						<tr>
							<td>LSD4691</td><td>Validation</td><td>LB</td><td>65</td>
						</tr>
						<tr>
							<td>LSDNR9298</td><td>Validation</td><td>LB</td><td>64</td>
						</tr>
						<tr>
							<td>CR06670</td><td>Validation</td><td>LB</td><td>56</td>
						</tr>
						<tr>
							<td>PR4091</td><td>Validation</td><td>LB</td><td>44</td>
						</tr>
						<tr>
							<td>LSD6819</td><td>Validation</td><td>LB</td><td>38</td>
						</tr>
						<tr>
							<td>CR22640</td><td>Validation</td><td>LB</td><td>35</td>
						</tr>
						<tr>
							<td>LSDNR1120</td><td>Validation</td><td>LB</td><td>34</td>
						</tr>
						<tr>
							<td>CRNR0244</td><td>Validation</td><td>LB</td><td>32</td>
						</tr>
						<tr>
							<td>PR4046</td><td>Validation</td><td>LB</td><td>26</td>
						</tr>
						<tr>
							<td>LSD0167</td><td>Validation</td><td>LB</td><td>25</td>
						</tr>
						<tr>
							<td>LSD2057</td><td>Validation</td><td>LB</td><td>17</td>
						</tr>
						<tr>
							<td>CRNR2472</td><td>Validation</td><td>LB</td><td>15</td>
						</tr>
						<tr>
							<td>LSDNR3086</td><td>Validation</td><td>LB</td><td>9</td>
						</tr>
						<tr>
							<td>LSDNR1650</td><td>Validation</td><td>LB</td><td>7</td>
						</tr>
						<tr>
							<td>PR03803</td><td>Validation</td><td>LB</td><td>3</td>
						</tr>
						<tr>
							<td>CRNR4941</td><td>Validation</td><td>LB</td><td>2</td>
						</tr>
						<tr>
							<td>NR8815</td><td>Validation</td><td>LB</td><td>233</td>
						</tr>
						<tr>
							<td>NR4631</td><td>Validation</td><td>LB</td><td>173</td>
						</tr>
						<tr>
							<td>NR9521</td><td>Validation</td><td>LB</td><td>172</td>
						</tr>
						<tr>
							<td>NR2137</td><td>Validation</td><td>LB</td><td>99</td>
						</tr>
						<tr>
							<td>NR4045</td><td>Validation</td><td>LB</td><td>59</td>
						</tr>
						<tr>
							<td>NR9449</td><td>Validation</td><td>LB</td><td>52</td>
						</tr>
						<tr>
							<td>NR9445</td><td>Validation</td><td>LB</td><td>43</td>
						</tr>
						<tr>
							<td>NR4083</td><td>Validation</td><td>LB</td><td>40</td>
						</tr>
						<tr>
							<td>NR4018</td><td>Validation</td><td>LB</td><td>18</td>
						</tr>
						<tr>
							<td>NR6721</td><td>Validation</td><td>LB</td><td>17</td>
						</tr>
						<tr>
							<td>NR9705</td><td>Validation</td><td>LB</td><td>11</td>
						</tr>
						<tr>
							<td>NR9765</td><td>Validation</td><td>LB</td><td>11</td>
						</tr>
						<tr>
							<td>NR6689</td><td>Validation</td><td>LB</td><td>0</td>
						</tr>
						<tr>
							<td>NR6842</td><td>Validation</td><td>LB</td><td>0</td>
						</tr>

					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));</script>