<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-left pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<a class="btn btn-primary" id="save"  onclick="$('body').trigger('study-cohorting-screen');"><i class="fa fa-arrow-left fa-1x" style="color: white;"></i></a>
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<a class="btn btn-primary" id="save"  onclick="$('body').trigger('');">Save</a>
						<a class="btn btn-primary" id="createset"  onclick="$('body').trigger('');">Create Data Set</a>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">Patient</span></th>
							<th><span class="htitle">Set</span></th>
							<th><span class="htitle">Benefit Group</span></th>
							<th><span class="htitle"></span># Mutations</th>
						</tr>
					</thead>
					<tbody id="adverse_date_table" class="searchable">
						<tr>

							<td><a onclick="$('body').trigger('CR9999')">CR9699</a></td><td>Discovery</td><td>LB</td><td>176</td>
						</tr>
						<tr>

							<td>CR9306</td><td>Discovery</td><td>LB</td><td>164</td>
						</tr>
						<tr>

							<td>SD1491</td><td>Discovery</td><td>LB</td><td>147</td>
						</tr>
						<tr>

							<td>SD0346</td><td>Discovery</td><td>LB</td><td>103</td>
						</tr>
						<tr>

							<td>CR4880</td><td>Discovery</td><td>LB</td><td>86</td>
						</tr>
						<tr>

							<td>CR1509</td><td>Discovery</td><td>LB</td><td>58</td>
						</tr>
						<tr>

							<td>SD6336</td><td>Discovery</td><td>LB</td><td>38</td>
						</tr>
						<tr>

							<td>CR0095</td><td>Discovery</td><td>LB</td><td>35</td>
						</tr>
						<tr>

							<td>SD2056</td><td>Discovery</td><td>LB</td><td>22</td>
						</tr>
						<tr>

							<td>CR7623</td><td>Discovery</td><td>LB</td><td>19</td>
						</tr>
						<tr>

							<td>CR1509</td><td>Discovery</td><td>LB</td><td>18</td>
						</tr>
						<tr>

							<td>SD6336</td><td>Discovery</td><td>LB</td><td>183</td>
						</tr>
						<tr>

							<td>CR0095</td><td>Discovery</td><td>LB</td><td>93</td>
						</tr>
						<tr>

							<td>SD2056</td><td>Discovery</td><td>LB</td><td>75</td>
						</tr>
						<tr>

							<td>CR7623</td><td>Discovery</td><td>LB</td><td>65</td>
						</tr>
						<tr>

							<td>CR1509</td><td>Discovery</td><td>LB</td><td>53</td>
						</tr>
						<tr>

							<td>SD6336</td><td>Discovery</td><td>LB</td><td>49</td>
						</tr>
						<tr>

							<td>CR0095</td><td>Discovery</td><td>LB</td><td>24</td>
						</tr>
						<tr>

							<td>SD2056</td><td>Discovery</td><td>LB</td><td>8</td>
						</tr>
						<tr>

							<td>CR7623</td><td>Discovery</td><td>LB</td><td>8</td>
						</tr>
						<tr>
							<td>CR1509</td><td>Discovery</td><td>LB</td><td>8</td>
						</tr>
						<tr>

							<td>SD6336</td><td>Discovery</td><td>LB</td><td>6</td>
						</tr>
						<tr>

							<td>CR0095</td><td>Discovery</td><td>LB</td><td>4</td>
						</tr>
						<tr>

							<td>SD2056</td><td>Discovery</td><td>LB</td><td>0</td>
						</tr>
						<tr>

							<td>CR7623</td><td>Discovery</td><td>LB</td><td>0</td>
						</tr>
						<tr>

							<td>CR1509</td><td>Discovery</td><td>LB</td><td>0</td>
						</tr>
						<tr>

							<td>SD6336</td><td>Discovery</td><td>LB</td><td>235</td>
						</tr>
						<tr>

							<td>CR0095</td><td>Discovery</td><td>LB</td><td>198</td>
						</tr>
						<tr>

							<td>SD2056</td><td>Discovery</td><td>LB</td><td>0</td>
						</tr>
						<tr>

							<td>CR7623</td><td>Discovery</td><td>LB</td><td>0</td>
						</tr>
						<tr>

							<td>SD6336</td><td>Discovery</td><td>LB</td><td>0</td>
						</tr>
						<tr>

							<td>CR0095</td><td>Discovery</td><td>LB</td><td>235</td>
						</tr>
						<tr>

							<td>SD2056</td><td>Discovery</td><td>LB</td><td>198</td>
						</tr>
						<tr>
							<td>CR7623</td><td>Discovery</td><td>LB</td><td>23</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));</script>