<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">Whole Exome Sequencing - Distribution of Variants
			<center><h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3><br /></center>
			<div class="table-wrapper card-2">
				<center><img src="img/mocks/cohorting_img.jpg" class="img-responsive" width="60%"></center>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
</script>