<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<a class="btn btn-primary" id="save"  onclick="$('body').trigger('save-dataset-screen');">Save</a>
						<a class="btn btn-primary" id="createset"  onclick="$('body').trigger('create-dataset-screen');">Create Data Set</a>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">Patient</span></th>
							<th><span class="htitle">Set</span></th>
							<th><span class="htitle">Benefit Group</span></th>
							<th><span class="htitle"></span># Mutations</th>
						</tr>
					</thead>
					<tbody id="adverse_date_table" class="searchable">
						<tr>
							<td>NR8815</td><td>Validation</td><td>NB</td><td>233</td>
						</tr>

						<tr>
							<td>SD7357</td><td>Discovery</td><td>NB</td><td>183</td>
						</tr>
						<tr>
							<td>NR4631</td><td>Validation</td><td>NB</td><td>173</td>
						</tr>
						<tr>
							<td>NR9521</td><td>Validation</td><td>NB</td><td>172</td>
						</tr>
						<tr>
							<td>NR2137</td><td>Validation</td><td>NB</td><td>99</td>
						</tr>
						<tr>
							<td>SD6494</td><td>Discovery</td><td>NB</td><td>93</td>
						</tr>
						<tr>
							<td>NR4949</td><td>Discovery</td><td>NB</td><td>75</td>
						</tr>
						<tr>
							<td>NR3549</td><td>Discovery</td><td>NB</td><td>65</td>
						</tr>
						<tr>
							<td>NR4045</td><td>Validation</td><td>NB</td><td>59</td>
						</tr>
						<tr>
							<td>NR4810</td><td>Discovery</td><td>NB</td><td>53</td>
						</tr>
						<tr>
							<td>NR9449</td><td>Validation</td><td>NB</td><td>52</td>
						</tr>
						
						<tr>
							<td>SD5038</td><td>Discovery</td><td>NB</td><td>49</td>
						</tr>
						<tr>
							<td>NR9445</td><td>Validation</td><td>NB</td><td>43</td>
						</tr>
						<tr>
							<td>NR4083</td><td>Validation</td><td>NB</td><td>40</td>
						</tr>
						<tr>
							<td>SD5934</td><td>Discovery</td><td>NB</td><td>24</td>
						</tr>
						
						<tr>
							<td>NR4018</td><td>Validation</td><td>NB</td><td>18</td>
						</tr>
						<tr>
							<td>NR6721</td><td>Validation</td><td>NB</td><td>17</td>
						</tr>
						<tr>
							<td>NR9705</td><td>Validation</td><td>NB</td><td>11</td>
						</tr>
						<tr>
							<td>NR9765</td><td>Validation</td><td>NB</td><td>11</td>
						</tr>

						<tr>
							<td>NR1867</td><td>Discovery</td><td>NB</td><td>8</td>
						</tr>
						<tr>
							<td>SD2051</td><td>Discovery</td><td>NB</td><td>8</td>
						</tr>
						<tr>
							<td>SD5118</td><td>Discovery</td><td>NB</td><td>6</td>
						</tr>
						<tr>
							<td>NR9341</td><td>Discovery</td><td>NB</td><td>4</td>
						</tr>

						<tr>
							<td>NR3156</td><td>Discovery</td><td>NB</td><td>0</td>
						</tr>
						<tr>
							<td>NR5784</td><td>Discovery</td><td>NB</td><td>0</td>
						</tr>
						<tr>
							<td>NR8727</td><td>Discovery</td><td>NB</td><td>0</td>
						</tr>
						<tr>
							<td>NR6689</td><td>Validation</td><td>NB</td><td>0</td>
						</tr>
						<tr>
							<td>NR6842</td><td>Validation</td><td>NB</td><td>0</td>
						</tr>

					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));</script>