<div class="container animated fadeInUp" style="margin-top: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-wrapper card-2">
                <div style="display:inline;">
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input id="filter" type="text" class="form-control" placeholder="Type here...">
                    </div>
                    <div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
                        <button class="btn btn-default btn-sm" id="pg-left">
                            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-default  btn-sm" id="pg-right">
                            <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <br>
                <br>
                <table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
                    <thead class="cf" style="background:#ffe5e5;">
                        <tr>
                            <th>
                                <span class="htitle">PATIENT ID</span>
                            </th>
                            <th>
                                <span class="htitle">COLLECTION DATE</span>
                            </th>
                            <th>
                                <span class="htitle">SPECIMEN</span>
                            </th>
                            <th>
                                <span class="htitle">IPTP</span>
                            </th>
							<th>
                                <span class="htitle">IPTP SEQ</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="collection_data_table" class="searchable">
                    </tbody>
                </table>
            </div>
            <br/>
        </div>
    </div>
</div>
<script id='collection_data_template' type="text/template">
    {{#rows}}
    <tr style="padding: 20px;">
        <td style="text-align: center" data-title="PATIENTID">
            {{patientid}}
        </td>
        <td style="text-align: left" data-title="COLLECTION DATE">
            {{collectiondate}}
        </td>
        <td style="text-align: left" data-title="SPECIMEN">
            {{specimen}}
        </td>
        <td style="text-align: left" data-title="IPTP">
            {{iptp}}
        </td>
		<td style="text-align: center" data-title="IPTP SEQ">
            {{iptpseq}}
        </td>
    </tr>
    {{/rows}}
</script>
<script>
    $(function(){
        //start of pagination relevant rendering logic
        
        function renderCollectionTable(rows){
            var collectionTemplate = $('#collection_data_template').html();
            var collectionHtml = Mustache.to_html(collectionTemplate, {
                'rows': rows
            });
            $("#collection_data_table").html(collectionHtml);
            $.bootstrapSortable(applyLast = true);
        }
        
        
        var pageHitCount = 1, startRange = 0, qry = {};
       	if ($('#select-pid').val()) 
            qry.patientid = $('#select-pid').val();//pan
        var rows = db2.getCollection('SPECIMEN').findObjects(qry), newRows = [];
        rows.forEach(function(collection, index){
        	if(collection.patientid && collection.collectiondate && collection.specimen && collection.iptp && collection.iptpseq){
        		newRows.push(collection);	
        	}
        });
        rows = newRows;
        //if total rows count is less than 50,pagination not required
        if (rows.constructor === Array && rows.length <= 50) {
            $('.pg-holder').hide();
            renderCollectionTable(rows);
        } else {
            renderCollectionTable(onLeft(rows, startRange, pageHitCount));
        }
        
        $('#pg-left').click(function(){
            pageHitCount = pageHitCount - 1;
            startRange = startRange - 50;
            renderCollectionTable(onLeft(rows, startRange, pageHitCount));
        });
        
        $('#pg-right').click(function(){
            pageHitCount = pageHitCount + 1;
            startRange = startRange + 50;
            renderCollectionTable(onRight(rows, startRange, pageHitCount));
        });
        
        renderCollectionTable(onLeft(rows, startRange, pageHitCount));
        
        //end of pagination relevant rendering logic
        
        $('#filter').keyup(function(){
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function(){
                return rex.test($(this).text());
            }).show();
        });
    });
</script>
