<div class="container animated fadeInUp">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="main-div-wrapper">
				<div style="text-align: center;">
					<span style="font-size: 1.5em;">CREATE RESEARCH REQUEST</span>
				</div>
				<br />
				<form id="">
					<div class="form-group" onclick='clickData()'>
						<select id="select_study" class="form-control">
							<option value="">Select Study</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" name="tests">
							<option value="">Select StudyTeam</option>
							<option value="1">Dougie Henderson</option>
							<option value="2">Michael Cox</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" id="HypothesisPopulation" class="form-control" placeholder="Hypothesis"/>
					</div>
					<div class="form-group">
						<input type="text" id="IntroductionPopulation" class="form-control" placeholder="Introduction"/>
					</div>
					<div class="form-group">
						<input type="text" id="MethodsPopulation" class="form-control" placeholder="Methods"/>
					</div>
					<div class="form-group">
						<input type="text" id="DataSetPopulation" class="form-control" placeholder="Data Sets"/>
					</div>
					<div class="form-group">
						&nbsp;<h4 >References:</h4>
						<form action="/" method="post" name="upload">
							<input type="file" multiple name="file" />
						</form>
						<br>
						<div class="input-group">
							<input class="form-control" name="" type="text" placeholder="URL">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">
									<i style="color:white;" class="fa fa-plus"></i>
								</button> </span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<a class="btn btn-primary btn-block">Save Draft</a>
						</div>
						<div class="col-md-6 col-sm-6">
							<a class="btn btn-primary btn-block">Share</a>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script id="study-title-options-template" type="text/template">
	{{#rows}}
	<option value="{{studyid}}">{{studytitle}}</option>
	{{/rows}}
</script>
<script type="text/javascript">
	function clickData() {
		document.getElementById('HypothesisPopulation').value = 'If a healthy immune system is able to eliminate the virus spontaneously, following primary infection, then a "boosted" immune system may also be capable of achieving the same result during the chronic phase of the disease';
		document.getElementById('DataSetPopulation').value = 'DataSet: UCSF01881867';
	}

	$(function() {
		$('.btn-primary').on('click', function() {
			var template = $(this).closest('.input-group').html().replace('fa-plus', 'fa-minus');
			$(this).closest('.form-group').append('<div style="margin-top:5px;" class="input-group slideInDown animated">' + template + '</div>');
		});

		$('body').on('click', 'button:has(> i.fa-minus)', function() {
			$(this).closest('.input-group').addClass('slideOutUp animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
				$(this).remove();
			});
		});

		var qry = {
			'studyid' : {
				$ne : ""
			}
		};
		var studies = db2.getCollection('STUDIES').findObjects(qry);
		$('#select_study').append(prepareHtml('study-title-options-template')(studies));
	});

	//FILE LOADING CODE
	window.onload = function() {
		var app = function() {
			var baseUrl = 'http://127.0.0.1:5984/playground/';
			var fileInput = document.forms['upload'].elements['file'];
			document.forms['upload'].onsubmit = function() {
				uploadFile('foo', fileInput.files[0]);
				return false;
			};

			var uploadFile = function(docName, file) {
				var name = encodeURIComponent(file.name),
				    type = file.type,
				    fileReader = new FileReader(),
				    getRequest = new XMLHttpRequest(),
				    putRequest = new XMLHttpRequest();

				getRequest.open('GET', baseUrl + encodeURIComponent(docName), true);
				getRequest.send();
				getRequest.onreadystatechange = function(response) {
					if (getRequest.readyState == 4 && getRequest.status == 200) {
						var doc = JSON.parse(getRequest.responseText);
						putRequest.open('PUT', baseUrl + encodeURIComponent(docName) + '/' + name + '?rev=' + doc._rev, true);
						putRequest.setRequestHeader('Content-Type', type);
						fileReader.readAsArrayBuffer(file);
						fileReader.onload = function(readerEvent) {
							putRequest.send(readerEvent.target.result);
						};
						putRequest.onreadystatechange = function(response) {
							if (putRequest.readyState == 4) {
								console.log(putRequest);
							}
						};
					}
				};
			};
		};
		app();
	};

	//CODE TO ADD URL's

	/* var $container = $('.container');
	 var $row = $('.shelf');
	 var $add = $('#addButton');
	 var $remove = $('#removeButton');
	 var $focused;

	 $container.on('click', 'input', function () {
	 $focused = $(this);
	 });

	 $add.on('click', function () {
	 var $newRow = $row.clone().insertAfter('.row:last');
	 $newRow.find('input').each(function () {
	 this.value = '';
	 });
	 });

	 $remove.on('click', function () {
	 if (!$focused) {
	 alert('Select a row to delete (click en input with it)');
	 return;
	 }

	 var $currentRow = $focused.closest('.row');
	 if ($currentRow.index() === 0) {
	 // don't remove first row
	 alert("You can't remove first row");
	 } else {
	 $currentRow.remove();
	 $focused=null;
	 }
	 }); */
</script>