<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="main-div-wrapper card-2">
				<div style="text-align: center;">
					<span style="font-size: 1.5em;">CREATE TEMPLATE</span>
				</div>
				<br />
				<form>
					<div class="form-group">
						<input type="text" id="template-name" class="form-control" placeholder="Template Name"/>
					</div>
					<div class="form-group">
						<h5>Template File:</h5>
						<input type="file" multiple name="file" />
					</div>
					<div class="form-group">
						<a class="btn btn-primary btn-block">Save</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>