<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper">
				<h4>VEGF-C</h4>
				<div id="chart_div"></div>
				<table class="table-bordered table-condensed" align="center">
					<thead>
						<tr>
							<th>Mean</th>
							<th>Standard Deviation</th>
							<th>Min</th>
							<th>Max</th>
							<th>Q1</th>
							<th>Q3</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>126.40</td>
							<td>102.65</td>
							<td>0.00</td>
							<td>579.89</td>
							<td>63.90</td>
							<td>150.87</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		function NormalDensityZx(x, Mean, StdDev) {
        	var a = x - Mean;
        	return Math.exp(-(a * a) / (2 * StdDev * StdDev)) / (Math.sqrt(2 * Math.PI) * StdDev);
        }
		
		function drawChart() {
        	var data = new google.visualization.DataTable();
        	data.addColumn('number', 'X Value');
        	data.addColumn('number', 'Y Value');
			
			/* var cytokineRecords = db2.getCollection('CYTOKINE').findObjects({
				"studyid" : "MDA01377389",
				"pid" : "PID- 2",
				"marker" : "VEGF-C",
				"result" : {$ne : "NULL"}
			});
			console.log('cytokineRecords == ' + JSON.stringify(cytokineRecords, null, 2));
			console.log('cytokineRecords.length == ' + cytokineRecords.length);
			var total = 0, mean = 0, stdDevs = [];
			cytokineRecords.forEach(function(cyto){
				total += Number(cyto.result.trim());
			});
			
			mean = total/cytokineRecords.length;
			
			console.log('mean === ' + mean);
			
			cytokineRecords.forEach(function(cyto){
				stdDevs.push((Number(cyto.result.trim()) - mean) * (Number(cyto.result.trim()) - mean));
			});
			
			var totalStdDev = 0;
			stdDevs.forEach(function(Obj){
				totalStdDev += Obj;
			});
			
			var standardDevitation = Math.sqrt(totalStdDev/(cytokineRecords.length - 1));
			
			console.log('standardDevitation == ' + standardDevitation); */
			

        	for (var i = -3; i < 3.1; i += 0.1) {
        		data.addRow([i, NormalDensityZx(i, 0, 1)]);
        	}
        	
        	var options = { 
        		legend: {
        			position : 'none'
        		},
        		hAxis : {
        			minorGridlines : {
        				count : 12
        			}
        		}
        	};
        				
        	var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        	chart.draw(data, options);
        	$(window).smartresize(function(){
        		chart.draw(data, options);
        	});
    }
    
    google.charts.setOnLoadCallback(function() {drawChart();});
}); 
</script>
