<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-sm-12" align="center">
			<h4>Study Summary&nbsp;(Number Of Studies : <span id='studies' style="font-size: 100%"></span>)</h4>
			<!--
			<p class="text-center" style="font-size: 100%;">
							(Number Of Studies : <span id='studies'></span>)
						</p>-->			
			<div class="summary-charts">
				<div align="right" id="toolbar" style="display: none;">
					<button style="border:none;background: transparent;" id="moveLeft">
						<i class="fa fa-2x fa-arrow-circle-o-left"></i>
					</button>
					<button style="border:none;background: transparent;" id="moveRight">
						<i class="fa fa-2x fa-arrow-circle-o-right"></i>
					</button>
				</div>
				<div id="adverse_events"></div>
			</div>
		</div>
		<div class="col-sm-6" align="center">
			<h4>Study Status</h4>
			<div class="summary-charts" id="study_status"></div>
		</div>
		<div class="col-sm-6" align="center">
			<h4>Study Participants</h4>
			<div class="summary-charts" id="study_participants"></div>
		</div>
		<div class="col-sm-6" align="center">
			<h4>Demographic</h4>
			<div class="summary-charts" id="demographic_ratio" ></div>
		</div>
		<div class="col-sm-6" align="center">
			<h4>Gender Ratio</h4>
			<div class="summary-charts" id="gender_ratio"></div>
		</div>
		<div class="col-xs-12">
			<div class="table-wrapper card" style="margin-top: 20px;">
				<div class="table-responsive">
					<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">STUDY ID</span><span class="sign arrow up"></span></th>
							<th style="white-space: nowrap;"><span class="htitle">NCT-NUMBER</span></th>
							<th><span class="htitle">TITLE</span></th>
							<th><span class="htitle">PHASE</span></th>
							<th><span class="htitle">STATUS</span></th>
							<th style="white-space: nowrap;"><span class="htitle">START DATE</span></th>
							<th style="white-space: nowrap;"><span class="htitle">END DATE</span></th>
						</tr>
					</thead>
					<tbody id="study-list"></tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script id='study-template' type="text/template">
	{{#rows}}
	<tr>
	<td style="text-align: center;white-space: nowrap;" data-title="STUDYID">
	<button onclick="$('body').trigger('full-study-view',['{{studyid}}']);">{{studyid}}</button>
	</td>
	<td style="text-align: center" data-title="NCTNO">
	<button class="nctlink" onclick="nctLink('{{url}}')">{{ctorgid}}</button>
	</td>
	<td style="text-align: left" data-title="STUDYTITLE">
	{{studytitle}}
	</td>
	<td style="text-align: left" data-title="PHASE">
	{{phase}}
	</td>
	<td style="text-align: left" data-title="STATUS">
	{{status}}
	</td>
	<td style="text-align: left" data-title="STARTDATE">
	{{startdate}}
	</td>
	<td style="text-align: center" data-title="ENDDATE">
	{{completiondate}}
	</td>
	</tr>
	{{/rows}}
</script>

<script type="text/javascript">
	$(function() {
		$("#homebutton").show();
		$("#top-right-holder").show();
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo(LS.get_data('LOGGEDINUSER'))));

		var Options = {
			chartArea : {
				left : 0,
				right : 0,
				top : 5,
				bottom : 30
			},
			width : '100%',
			height : '250',
			tooltip : {
				isHtml : true
			},
			legend : {
				position : "bottom",
				textStyle : {
					fontSize : 12
				}
			},
			pieHole : 0.4,
			pieSliceText : 'value'
		};

		function drawCharts() {
			drawAdverseChart();
			drawStudyStatusChart();
			drawStudyParticipantsChart();
			drawStudyDemographicChart();
			drawStudyGenderChart();
		}

		var studies = [],
		    noOfCharts = 1,
		    itemsPerChart = 5;
		function bootsrapPageRendering() {
			var rowStudies = db2.getCollection('STUDIES').findObjects({
				studyid : {
					$ne : ""
				}
			});
			rowStudies.forEach(function(study, index) {
				if (['PICI2-01881867', 'PICI2-02506114', 'PICI2-01530984', 'PICI2-02643667'].indexOf(study.studyid.trim(), 0) === -1 && (study.studyid.trim()).substr(0, 5) !== 'PICI1') studies.push(study);
			});
			
			studies.forEach(function(study) {
				for (var key in study) {
					if (['adverseevents', 'targetenrollment', 'enrollment', 'averagegrade', 'w', 'aa', 'h', 'c', 'male', 'female'].indexOf(key, 0) !== -1) {
						if (study[key]) {
							if ( typeof study[key] === 'string') 
								study[key] = Number(study[key].replace(/[^.0-9]/g, ''));
						} else {
							study[key] = 0;
						}
					}
				}
				study.startdate = getStandardDate(study.startdate);
				study.completiondate = getStandardDate(study.completiondate);
			});

			studies = studies.sort(function(study1, study2) {
				//if(!study1.completiondate || !study2.completiondate)
				//		return 1;
				//return Date.parse(study1.completiondate) - Date.parse(study2.completiondate);
				return study2.studyid - study1.studyid;
			});
			
			if (studies.length > itemsPerChart)
				noOfCharts = Math.ceil(studies.length / itemsPerChart);

			if (noOfCharts > 1)
				$('#toolbar').show();

			$("#study-list").html(prepareHtml('study-template')(studies));
			$.bootstrapSortable( applyLast = true);
			$('table.sortable>thead th[data-defaultsort!="disabled"]').trigger('click');
		}

		//pagination for Charts
		var clickCount = 0;

		if (clickCount === 0)
			$('#moveLeft').prop('disabled', true);

		$("#moveLeft").click(function() {
			if (clickCount > 0 && clickCount < noOfCharts) {
				clickCount--;
				if (clickCount === 0)
					$('#moveLeft').prop('disabled', true);
				$('#moveRight').prop('disabled', false);
				drawAdverseChart();
			}
		});

		$("#moveRight").click(function() {
			if (clickCount < noOfCharts - 1) {
				clickCount++;
				if (clickCount === noOfCharts - 1)
					$('#moveRight').prop('disabled', true);
				$('#moveLeft').prop('disabled', false);
				drawAdverseChart();
			}
		});

		if (!Storage.getItem('DATASOURCES')) {
			setTimeout(function() {
				bootsrapPageRendering();
				drawCharts();
			}, 12000);
			return;
		}

		console.log('initial control takes 10 seconds to reach this line');
		bootsrapPageRendering();
		google.charts.setOnLoadCallback(function() {
			drawCharts();
		});

		function drawAdverseChart() {
			$("#studies").html(studies.length);
			var colors = ['#dc3912', '#3366CC', '#109618', '#ff9900'];

			//column chart related options
			var columnOptions = {
				chartArea : {
					left : 40,
					right : 0,
					top : 5,
					bottom : 40
				},
				width : '100%',
				height : '350',
				colors : colors,
				focusTarget : 'category',
				tooltip : {
					isHtml : true
				},
				hAxis : {
					title : 'STUDIES',
					titleTextStyle : {
						color : 'black',
						bold : true,
						italic : false
					},
					textPosition : 'center'
				},
				legend : {
					position : 'none',
					textStyle : {
						fontSize : 10
					}
				},
				vAxis : {
					ticks : [0, 200, 400, 600, 800, 1000, 1200, 1400],
					gridlines : {
						count : 8
					}
				}
			};

			// preparing data table for chart
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'STUDY ID');
			data.addColumn({
				'type' : 'string',
				'role' : 'tooltip',
				'p' : {
					'html' : true
				}
			});
			data.addColumn('number', 'Adverse Events');
			data.addColumn('number', 'Target Recuirtment');
			data.addColumn('number', 'Recuirtment');
			data.addColumn('number', 'Average Grade');

			function customTooltip(data) {
				var html = '<div style="text-align:left;margin-left:10px;width:100%">';
				for (var i = 0; i < data.length; i++) {
					html += '<span style="color:' + data[i].color + ';padding:0;text-align:left;font-weight:bold;font-size:10px;">' + data[i].name + ': </span><span style="float:right;padding-right:20px;"><b>' + data[i].value + '</b></span><br/>';
				}
				html += '</div>';
				return html;
			}

			var i = ((clickCount <= 0) ? 0 : clickCount * itemsPerChart),
			    end = 0;
			end = i + itemsPerChart;
			end = (end <= studies.length ) ? end : studies.length;

			for (i; i < end; i++) {
				var study = studies[i];
				//if (study.adverseevents === 0 || study.adverseevents > 1010) {continue;}
				if (study.adverseevents > 5000) {
					continue;
				}
				var tooltipData = [{
					'name' : 'Adverse Events',
					'value' : study.adverseevents,
					'color' : colors[0]
				}, {
					'name' : 'Target Enrollment',
					'value' : study.targetenrollment,
					'color' : colors[1]
				}, {
					'name' : 'Enrollment',
					'value' : study.enrollment,
					'color' : colors[2]
				}, {
					'name' : 'Average Grade',
					'value' : study.averagegrade,
					'color' : colors[3]
				}];

				data.addRow([study.studyid, customTooltip(tooltipData), study.adverseevents, study.targetenrollment, study.enrollment, study.averagegrade]);
			}

			//creating and drawing chart
			var columnChart = new google.visualization.ColumnChart(document.getElementById('adverse_events'));
			columnChart.draw(data, columnOptions);

			//showing full study view by clicking bars in charts
			google.visualization.events.addListener(columnChart, 'select', function() {
				var selectedItem = columnChart.getSelection()[0];
				if (selectedItem) {
					var studyId = data.getValue(selectedItem.row, 0);
					var total = data.getValue(selectedItem.row, 1);
					$('body').trigger('full-study-view', [studyId]);
				}
			});

			//redrawing when window resized
			$(window).smartresize(function() {
				columnChart.draw(data, columnOptions);
			});
		};

		//------------------------------- pie charts rendering starts from here----------------------------------------------------------

		function drawStudyStatusChart() {
			var statusData = new google.visualization.DataTable(),
			    renderObj = {};
			statusData.addColumn('string', 'Name');
			statusData.addColumn('number', 'Value');

			studies.forEach(function(object) {
				if (!renderObj[object.status]) {
					renderObj[object.status] = 1;
					return;
				}
				renderObj[object.status] += 1;
			});

			$.each(renderObj, function(key, value) {
				statusData.addRow([key, value]);
			});
			var statusChart = new google.visualization.PieChart(document.getElementById('study_status'));
			statusChart.draw(statusData, Options);
			$(window).smartresize(function() {
				statusChart.draw(statusData, Options);
			});
		};

		function drawStudyParticipantsChart() {
			var participantsData = new google.visualization.DataTable(), renderObj = { 'Enrolled' : 0, 'to be enrolled' : 0};
			participantsData.addColumn('string', 'Name');
			participantsData.addColumn('number', 'Value');

			studies.forEach(function(object) {
				renderObj['to be enrolled'] += (object.targetenrollment - object.enrollment);
				renderObj['Enrolled'] += object.enrollment;
			});

			$.each(renderObj, function(key, value) {
				participantsData.addRow([key, value]);
			});

			var participantsChart = new google.visualization.PieChart(document.getElementById('study_participants'));
			participantsChart.draw(participantsData, Options);
			$(window).smartresize(function() {
				participantsChart.draw(participantsData, Options);
			});
		};

		function drawStudyDemographicChart() {
			var demographicData = new google.visualization.DataTable(),
			    renderObj = {
				'W' : 0,
				'AA' : 0,
				'H' : 0,
				'C' : 0
			};
			demographicData.addColumn('string', 'Name');
			demographicData.addColumn('number', 'Value');

			studies.forEach(function(object) {
				renderObj.W += object.w;
				renderObj.AA += object.aa;
				renderObj.H += object.h;
				renderObj.C += object.c;
			});

			$.each(renderObj, function(key, value) {
				demographicData.addRow([key, value]);
			});

			var demographicChart = new google.visualization.PieChart(document.getElementById('demographic_ratio'));
			demographicChart.draw(demographicData, Options);
			$(window).smartresize(function() {
				demographicChart.draw(demographicData, Options);
			});
		};

		function drawStudyGenderChart() {
			var genderData = new google.visualization.DataTable(),
			    renderObj = {
				'Male' : 0,
				'Female' : 0
			};
			genderData.addColumn('string', 'Name');
			genderData.addColumn('number', 'Value');

			studies.forEach(function(study) {
				renderObj.Male += study.male;
				renderObj.Female += study.female;
			});

			$.each(renderObj, function(key, value) {
				genderData.addRow([key, value]);
			});

			var genderChart = new google.visualization.PieChart(document.getElementById('gender_ratio'));
			genderChart.draw(genderData, Options);
			$(window).smartresize(function() {
				genderChart.draw(genderData, Options);
			});
		};
	}); 
</script>
