<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper">
				<h4>MDC</h4>
				<div id="chart_div"></div>
				<table class="table-bordered table-condensed"  align="center">
					<thead>
						<tr>
							<th>Measure</th>
							<th>Mean</th>
							<th>Standard Deviation</th>
							<th>Min</th>
							<th>Max</th>
							<th>Q1</th>
							<th>Q3</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Percent</td>
							<td>1.43</td>
							<td>0.79</td>
							<td>0.38</td>
							<td>4.87</td>
							<td>0.94</td>
							<td>1.72</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		function NormalDensityZx(x, Mean, StdDev) {
			var a = x - Mean;
			return Math.exp(-(a * a) / (2 * StdDev * StdDev)) / (Math.sqrt(2 * Math.PI) * StdDev);
		}

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('number', 'X Value');
			data.addColumn('number', 'Y Value');

			for (var i = -3; i < 3.1; i += 0.1) {
				data.addRow([i, NormalDensityZx(i, 0, 1)]);
			}

			var options = {
				legend : {
					position : 'none'
				},
				hAxis : {
					minorGridlines : {
						count : 12
					}
				}
			};

			var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
			chart.draw(data, options);
			$(window).smartresize(function() {
				chart.draw(data, options);
			});
		}


		google.charts.setOnLoadCallback(function() {
			drawChart();
		});
	}); 
</script>
