<form id="forgot_form">
	<div class="container animated fadeInUp" style="margin-top:20px;">
		<div class="row">
			<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
				<div class="black-glass pad20">
					<div class="col-sm-12">
						<div class="form-group">
							<input type="text" name="uname" id="uname" class="form-control input-md" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="email" name="email" id="email" class="form-control input-md" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="text" name="institute" id="institute" class="form-control input-md" placeholder="Institution Name">
						</div>
						<div class="form-group">
							<input type="text" name="dob" id="dob" class="form-control input-md" placeholder="Date of Birth">
						</div>
						<div class="form-group">
							<div class="g-recaptcha"  data-callback="recaptchaCallback" data-sitekey="6LefbicTAAAAAKaNhCzXkUPXtmzCc2lKz0sxHX44" style="transform:scale(0.96);-webkit-transform:scale(0.96);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
						</div>
						<div class="form-group">
							<a id="join_button" value="send"  class="btn btn-primary btn-block" > RECOVER </a>
						</div>
					</div>
					<p class="text-center" style="color: black;">
						Already have an account? <a href="#/login" onclick="$('body').trigger('login-screen');">Sign in</a>
					</p>
					<p style="letter-spacing: 2px;font-size: .7em;text-align: center;color: black;font-weight: bold;">
						For further assitance please send email to <a href="mailto:support@parkerici.org" target="_top" style="font-size: 1.2em;font-weight: none;">support@parkerici.org</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</form>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#menubutton").hide();
		$("#homebutton").hide();
		$("#top-right-holder").hide();
	});
	/*
	 function recaptchaCallback() {
	 var v = grecaptcha.getResponse();
	 if (v.length == 0) {
	 return false;
	 }
	 if (v.length != 0) {
	 $('#join_button').removeAttr("disabled");
	 return true;
	 }
	 }*/

</script>
