<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><h3>Genetic Basis For Clinical Reponse to CTLA-4 Blockade in Melanoma</h3></center>
			<div class="table-wrapper card-2">
				<br>
                <center><img src="img/mocks/sub-home.jpg" class="img-responsive" width="80%">
				</center>
				<br>
               
			</div>
			<br/>
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
	}); 
</script>

<!--style>
.glyphicon-star {
color: blue;
}
.glyphicon-record {
color: red;
}
.glyphicon-stop {
color: green;
}

.google-visualization-tooltip-item-list .google-visualization-tooltip-item {
margin: 0px;
padding: 0px;
}

.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child {
margin: 0px;
padding: 0px;
}

</style>

<div class="container animated fadeInUp" style="margin-top: 20px;">
<div class="row">
<div style="margin: 10px;" align="center">
<h2 id="single-study-title">Maintenance Therapy for Multiple Myeloma</h2>
</div>
<div class="col-sm-8" align="center">
<h4>Participants</h4>
<div class="summary-charts" id="participants_line"></div>
</div>
<div class="col-sm-4" align="center">
<h4>Demographic</h4>
<div class="summary-charts" id="demographic_pie"></div>
</div>
<div class="col-sm-4" align="center">
<h4>Male/Female Ratio</h4>
<div class="summary-charts" id="gender_pie" ></div>
</div>
<div class="col-sm-4" align="center">
<h4>Adverse Events</h4>
<div class="summary-charts" id="adverse_pie"></div>
</div>
<div class="col-sm-4" align="center">
<h4>Specimen Collection</h4>
<div class="summary-charts" id="specimen_pie"></div>
</div>
<div class="col-xs-12">
<div class="table-wrapper card" style="margin-top: 20px;">

<table class="table-bordered  table-condensed cf table-hover" width="100%">
<thead class="cf" style="background:#ffe5e5;">
<tr>
<th><span>Subjects</span></th>
<th><span>Visit-1</span></th>
<th><span>Visit-2</span></th>
<th><span>Visit-3</span></th>
<th><span>Visit-4</span></th>
<th><span>Visit-5</span></th>
</tr>
</thead>
<tbody id="study-details" class="searchable">
<tr>
<td>
<button onclick="$('body').trigger('single-patient-view');">
PID-1
</button></td>
<td> Adverse Events(2)
<br>
<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-star"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
<td> Adverse Events(2) </td>
<td> Adverse Events(3) </td>
<td> Adverse Events(1) </td>
<td> Adverse Events(0) </td>
</tr>
<tr>
<td>
<button onclick="$('body').trigger('single-patient-view');">
PID-2
</button></td>
<td> Adverse Events(2)
<br>
<span class="glyphicon glyphicon-star"></span></td>
<td> Adverse Events(0) </td>
<td> Adverse Events(4) </td>
<td> Adverse Events(5) </td>
<td> Adverse Events(2) </td>
</tr>
<tr>
<td>
<button onclick="$('body').trigger('single-patient-view');">
PID-3
</button></td>
<td> Adverse Events(4)
<br>
<span class="glyphicon glyphicon-record"></span></td>
<td> Adverse Events(7)
<br>
<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
<td> Adverse Events(3)
<br>
<span class="glyphicon glyphicon-star"></span></td>
<td> Adverse Events(1) </td>
<td> Adverse Events(1) </td>
</tr>
<tr>
<td>
<button onclick="$('body').trigger('single-patient-view');">
PID-4
</button></td>
<td> Adverse Events(6) </td>
<td> Adverse Events(5)
<br>
<span class="glyphicon glyphicon-stop"></span></td>
<td> Adverse Events(5) </td>
<td> Adverse Events(4) </td>
<td> Adverse Events(2)
<br>
<span class="glyphicon glyphicon-star"></span></td>
</tr>
<tr>
<td>
<button onclick="$('body').trigger('single-patient-view');">
PID-5
</button></td>
<td> Adverse Events(5) </td>
<td> Adverse Events(6) </td>
<td> Adverse Events(4)
<br>
<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
<td> Adverse Events(2)
<br>
<span class="glyphicon glyphicon-record"></span></td>
<td> Adverse Events(0) </td>
</tr>
<tr>
<td>
<button onclick="$('body').trigger('single-patient-view');">
PID-6
</button></td>
<td> Adverse Events(0) </td>
<td> Adverse Events(4)
<br>
<span class="glyphicon glyphicon-record"></span></td>
<td> Adverse Events(7)
<br>
<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
<td> Adverse Events(5) </td>
<td> Adverse Events(3) </td>
</tr>
</tbody>
</table>
<h4 class="pull-left">Legend: IHC=<span class="glyphicon glyphicon-record"></span> &nbsp;&nbsp; Flow=<span class="glyphicon glyphicon-stop"></span>&nbsp;&nbsp; Cytokine=<span class="glyphicon glyphicon-star"></span></h4>
</div>
</div>
</div>
</div>

<script type="text/javascript">
$(function() {
$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

var currentStudy = db2.getCollection('STUDIES').find({
'studyid' : LS.get_data('STUDYID')
}),
study = currentStudy[0];

(function(keys) {
for (var key in study) {
if (keys.indexOf(key, 0) !== -1) {
if (study[key]) {
if ( typeof study[key] === 'string')
study[key] = Number(study[key].replace(/[^.0-9]/g, ''));
} else {
study[key] = 0;
}
}
study.startdate = getStandardDate(study.startdate);
study.completiondate = getStandardDate(study.completiondate);
}
})(['adverseevents', 'targetenrollment', 'enrollment', 'w', 'aa', 'h', 'c', 'male', 'female', "_d5fpr", "_d6ua4", "_d88ul", "_dkvya", "_dmair"]);

$('#single-study-title').html(function() {
LS.set_data('NCT-URL', study.url);
return study.studytitle;
});

function getCDate(today) {
var dd = today.getDate();
var mm = today.getMonth() + 1;
var yyyy = today.getFullYear();
if (dd < 10) {
dd = '0' + dd;
}
if (mm < 10)
mm = '0' + mm;

return yyyy + '-' + mm + '-' + dd;
}

function drawParticipants() {

var data = new google.visualization.DataTable();
data.addColumn('string', 'Completion Date');
data.addColumn('number', 'Target Enrollment');
data.addColumn('number', 'Enrollment');

var today = new Date(),
startDate = (study.startdate) ? study.startdate : '2016-01-01',
endDate = (study.completiondate) ? study.completiondate : getCDate(today),
targetEnrollment = study.targetenrollment,
enrollment = study.enrollment;

var startDateInMilliSeconds = Date.parse(startDate),
endDateInMilliSeconds = Date.parse(endDate);
var n = 4,
datesArray = [],
diff = (endDateInMilliSeconds - startDateInMilliSeconds);

if (diff > n) {
var div = diff / n;
for (var i = 1; i < n; i++) {
datesArray.push(new Date(startDateInMilliSeconds + (div * i)));
}
}

var enrollments = [];
if (enrollment > 4) {
var difference = enrollment / 4;
for (var i = 1; i < 4; i += 1) {
enrollments.push(difference * i);
}
}

data.addRow([startDate, targetEnrollment, 0]);

for (var i = 0; i < enrollments.length; i += 1) {
if ((1 * today) > Date.parse(datesArray[i]))
data.addRow([getCDate(datesArray[i]), targetEnrollment, enrollments[i]]);
}

if ((endDateInMilliSeconds - (1 * today)) < 0) {
data.addRow([endDate, targetEnrollment, enrollment]);
} else if ((endDateInMilliSeconds - (1 * today)) > 0) {
data.addRow([getCDate(today), targetEnrollment, enrollment]);
data.addRow([endDate, targetEnrollment, null]);
}

var lineOptions = {
chartArea : {
left : 40,
right : 0,
top : 5,
bottom : 40
},
width : '100%',
height : '350',
curveType : 'function',
crosshair : {
trigger : 'both'
},
legend : {
position : "bottom",
textStyle : {
fontSize : 15
}
},
tooltip : {
isHtml : true
},
vAxis : {
maxValue : targetEnrollment + 20,
minValue : 0,
viewWindow : {
max : targetEnrollment + 20,
min : 0
}
},
hAxis : {
titleTextStyle : {
color : 'black',
bold : true,
italic : false
},
textPosition : 'center'
}
};

var lineChart = new google.visualization.LineChart(document.getElementById('participants_line'));
lineChart.draw(data, lineOptions);

$(window).smartresize(function() {
lineChart.draw(data, lineOptions);
});
};

var pieOptions = jQuery.extend(true, {
chartArea : {
left : 0,
right : 0,
top : 5,
bottom : 50,
},
width : '100%',
height : '100%',
curveType : 'function',
tooltip : {
isHtml : true
},
legend : {
position : "bottom",
textStyle : {
fontSize : 10
}
},
pieHole : 0.4,
pieSliceText : 'value',
}, options);

function drawDemographic() {
var pieData = new google.visualization.DataTable();
pieData.addColumn('string', 'Name');
pieData.addColumn('number', 'Value');
// pieData.addColumn({type: 'string', role: 'tooltip', 'p': {'html':true}});

//var total = 0;
//$.each(currentStudy[0], function(key, value){
//if($.inArray(key, ["w", "aa", "h", "c"]) !== -1){
//total += value;
//}
//});
//var customTooltip = '<p style="margin:5px;font-weight:bold;">'+ key.toUpperCase() +':' + value + ' (' + percent.toFixed(1) +'%)</p>';
$.each(study, function(key, value) {
if ($.inArray(key, ["w", "aa", "h", "c"]) !== -1) {
pieData.addRow([key.toUpperCase(), value]);
}
});

var pieChart = new google.visualization.PieChart(document.getElementById('demographic_pie'));
pieChart.draw(pieData, pieOptions);
$(window).smartresize(function() {
pieChart.draw(pieData, pieOptions);
});
};

function drawGender() {
var pieData = new google.visualization.DataTable();
pieData.addColumn('string', 'Name');
pieData.addColumn('number', 'Value');

$.each(study, function(key, value) {
if ($.inArray(key, ["male", "female"]) !== -1) {
pieData.addRow([key.charAt(0).toUpperCase() + key.substr(1), value]);
}
});

var pieChart = new google.visualization.PieChart(document.getElementById('gender_pie'));
pieChart.draw(pieData, pieOptions);
$(window).smartresize(function() {
pieChart.draw(pieData, pieOptions);
});
};
function drawAdverse() {
var pieData = new google.visualization.DataTable();
pieData.addColumn('string', 'Name');
pieData.addColumn('number', 'Value');

var keys = {
"_d5fpr" : "G1",
"_d6ua4" : "G2",
"_d88ul" : "G3",
"_dkvya" : "G4",
"_dmair" : "G5"
};
$.each(study, function(key, value) {
if ($.inArray(key, ["_d5fpr", "_d6ua4", "_d88ul", "_dkvya", "_dmair"]) !== -1) {
pieData.addRow([keys[key], value]);
}
});

var pieChart = new google.visualization.PieChart(document.getElementById('adverse_pie'));
pieChart.draw(pieData, pieOptions);
$(window).smartresize(function() {
pieChart.draw(pieData, pieOptions);
});
};

function drawSpecimen() {
var studySpecimen = db2.getCollection('SPECIMEN').find({
'studyid' : LS.get_data('STUDYID')
}),
renderObject = {};

studySpecimen.forEach(function(obj) {
if (!renderObject[obj.specimen]) {
renderObject[obj.specimen] = 1;
return;
}
renderObject[obj.specimen] += 1;
});

var pieData = new google.visualization.DataTable();
pieData.addColumn('string', 'Name');
pieData.addColumn('number', 'Value');

$.each(renderObject, function(key, value) {
pieData.addRow([key, ((value && !isNaN(value)) ? Number(value) : 0)]);
});

if ($.isEmptyObject(renderObject)) {
pieData.addRow(["Blood", 500]);
pieData.addRow(["Tissue", 300]);
pieData.addRow(["Saliva", 150]);
pieData.addRow(["Marrow", 50]);
}

var pieChart = new google.visualization.PieChart(document.getElementById('specimen_pie'));
pieChart.draw(pieData, pieOptions);
$(window).smartresize(function() {
pieChart.draw(pieData, pieOptions);
});
};

google.charts.setOnLoadCallback(function() {
drawDemographic();
drawGender();
drawAdverse();
drawSpecimen();
drawParticipants();
});
});
</script -->