<div class="container animated fadeInUp" style="margin-top: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-wrapper card-2">
                <div style="display:inline;">
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input id="filter" type="text" class="form-control" placeholder="Type here...">
                    </div>
                    <div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
                        <button class="btn btn-default btn-sm" id="pg-left">
                            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-default  btn-sm" id="pg-right">
                            <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <br>
                <br>
               <div class="table-responsive" style="display: inline-block;width: 100%;">
               	 <table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
                    <thead class="cf" style="background:#ffe5e5;">
                        <tr>
                            <th>
                                <span class="htitle">PAN</span>
                            </th>
                            <th>
                                <span class="htitle">ID</span>
                            </th>
                            <th>
                                <span class="htitle">STATE</span>
                            </th>
                            <th>
                                <span class="htitle">SAN</span>
                            </th>
                            <th>
                                <span class="htitle">PROCEDURE DATE</span>
                            </th>
                            <th>
                                <span class="htitle">MARKER</span>
                            </th>
                            <th>
                                <span class="htitle">MEASURE</span>
                            </th>
                            <th>
                                <span class="htitle">RESULT</span>
                            </th>
                            <th>
                            	<span class="htitle">PATHOLOGY IMAGE</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ihclist-data" class="searchable">
                    </tbody>
                </table>
               </div>
            </div>
            <br/>
        </div>
    </div>
</div>
<script id='ihc-data' type="text/template">
    {{#rows}}
    <tr style="padding: 20px;">
        <td style="text-align: center" data-title="PAN">
            {{pan}}
        </td>
        <td style="text-align: left" data-title="ID">
            {{id}}
        </td>
        <td style="text-align: left" data-title="STATE">
            {{state}}
        </td>
        <td style="text-align: left" data-title="SAN">
            {{san}}
        </td>
        <td style="text-align: left" data-title="PROCEDURE DATE">
            {{proceduredate}}
        </td>
        <td style="text-align: left" data-title="MARKER">
            {{marker}}
        </td>
        <td style="text-align: left" data-title="MEASURE">
            {{measure}}
        </td>
        <td style="text-align: left" data-title="RESULT">
            {{result}}
        </td>
        <td style="text-align: center" data-title="iMAGE">
            <a onclick="$('body').trigger('pathology-view');" style="color:blue">View Image</a>
        </td>
    </tr>
    {{/rows}}
</script>
<script>
    $(function(){
    
        function renderIHCDetails(rows){
            var ihcTemplate = $('#ihc-data').html();
            var ihcHtml = Mustache.to_html(ihcTemplate, {
                'rows': rows
            });
            $("#ihclist-data").html(ihcHtml);
            $.bootstrapSortable(applyLast = true);
        }
        
		
        var pageHitCount = 1, startRange = 0, qry = {};
        if ($('#select-pid').val()) 
            qry.pan = $('#select-pid').val();
        var rows = db2.getCollection('IHC').findObjects(qry);
        
        //if total rows count is less than 50,pagination not required
        if (rows.constructor === Array && rows.length <= 50) {
            $('.pg-holder').hide();
            renderIHCDetails(rows);
        } else {
            renderIHCDetails(onLeft(rows, startRange, pageHitCount));
        }
        
        $('#pg-left').click(function(){
            pageHitCount = pageHitCount - 1;
            startRange = startRange - 50;
            renderIHCDetails(onLeft(rows, startRange, pageHitCount));
        });
        
        $('#pg-right').click(function(){
            pageHitCount = pageHitCount + 1;
            startRange = startRange + 50;
            renderIHCDetails(onRight(rows, startRange, pageHitCount));
        });
        
        renderIHCDetails(onLeft(rows, startRange, pageHitCount));
        
        $('#filter').keyup(function(){
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function(){
                return rex.test($(this).text());
            }).show();
        });     
    });
</script>

