<style type="text/css">
	td {
		text-align : left
	}
</style>
<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper">
				<h4>CC-3</h4>
				<div id="chart_div"></div>
				<table class="table-bordered table-condensed"  align="center">
					<thead>
						<tr>
							<th>Measure</th>
							<th>Mean</th>
							<th>Standard Deviation</th>
							<th>Min</th>
							<th>Max</th>
							<th>Q1</th>
							<th>Q3</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Density</td>
							<td>414.61</td>
							<td>422.31</td>
							<td>27.15</td>
							<td>1906.41</td>
							<td>139.50</td>
							<td>533.41</td>
						</tr>
						<tr>
							<td>H-Score</td>
							<td>7.91</td>
							<td>7.50</td>
							<td>0.62</td>
							<td>30.60</td>
							<td>2.69</td>
							<td>11.89</td>
						</tr>
						<tr>
							<td>Percent</td>
							<td>5.80</td>
							<td>5.05</td>
							<td>0.38</td>
							<td>20.70</td>
							<td>2.02</td>
							<td>9.33</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		function NormalDensityZx(x, Mean, StdDev) {
			var a = x - Mean;
			return Math.exp(-(a * a) / (2 * StdDev * StdDev)) / (Math.sqrt(2 * Math.PI) * StdDev);
		}

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('number', 'X Value');
			data.addColumn('number', 'Y Value');

			for (var i = -3; i < 3.1; i += 0.1) {
				data.addRow([i, NormalDensityZx(i, 0, 1)]);
			}

			var options = {
				legend : {
					position : 'none'
				},
				hAxis : {
					minorGridlines : {
						count : 12
					}
				}
			};

			var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
			chart.draw(data, options);
			$(window).smartresize(function() {
				chart.draw(data, options);
			});
		}


		google.charts.setOnLoadCallback(function() {
			drawChart();
		});
	}); 
</script>
