<style type="text/css" media="screen">
	#loginbg {
		background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(img/loginbg.jpg) no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		position: absolute;
	}
</style>
<div id="loginbg">
	<form id="login_form" action="">
		<div class="container animated fadeInUp" style="margin-top:20px;">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="pad20" style="margin-top:20px;width:400px;margin:auto;background: rgba(255,255,255,0.7)">
						<br/>
						<div id="alertdiv" align='center'></div>
						<div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-md" placeholder="Email Address">
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-md" placeholder="Password">
						</div>
						<div class="row pad20">
							<!--<a class="btn btn-default col-xs-6 col-sm-6 " onclick="$('body').trigger('register-screen')">Signup</a>-->
							<a class="btn btn-primary btn-block col-xs-12 col-sm-12 " id="loginID" onclick="loginClick()">Login</a>
						</div>
						<p class="text-center">
							<br />
							New user ? <a onclick="$('body').trigger('register-screen')" >Register here</a>
						</p>
						<p class="text-center">
							<a href="#/forgot-password" style="color:black;">Forgot password ?</a>
						</p>
					</div>
					<div class=" pad20" style="margin-top:120px;width:400px;margin:auto;background: rgba(255,255,255,0.7)">
                        <p style="letter-spacing: 2px;font-size: .7em;padding:10px;text-align: center;color: black;font-weight: bold;">
                            Privacy Policy <b>|</b> Terms & Conditions
						</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" charset="utf-8">
	$("#password").keyup(function(event) {
		if (event.keyCode == 13) {
			$("#loginID").click();
		}
	});

	function loginClick() {
		if (document.getElementById("email").value == "" || document.getElementById("password").value == "") {
			alert("Please enter email and password");
		} else if (document.getElementById("email").value == "dan@parkerici.org" && document.getElementById("password").value == "pici1234") {
			LS.set_data('LOGGEDINUSER', "director");
			$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo("director")));
			window.location.href = "#/" + "director" + "-home";
		} else if (document.getElementById("email").value == "bob@parkerici.org" && document.getElementById("password").value == "pici1234") {
			LS.set_data('LOGGEDINUSER', "bioinformatician");
			$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo("bioinformatician")));
			window.location.href = "#/" + "bioinformatician" + "-home";
		} else if (document.getElementById("email").value == "pat@parkerici.org" && document.getElementById("password").value == "pici1234") {
			LS.set_data('LOGGEDINUSER', "patient");
			$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo("patient")));
			window.location.href = "#/" + "patient" + "-home";
		} else if (document.getElementById("email").value == "rex@parkerici.org" && document.getElementById("password").value == "pici1234") {
			LS.set_data('LOGGEDINUSER', "researcher");
			$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo("researcher")));
			window.location.href = "#/" + "researcher" + "-home";
		} else if (document.getElementById("email").value == "cln@parkerici.org" && document.getElementById("password").value == "pici1234") {
			LS.set_data('LOGGEDINUSER', "clinician");
			$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo("clinician")));
			$('body').trigger('clinician-home');
		} else {
			alert("Incorrect email & password combination");
		}
	}

	$(function() {

		$("#menubutton").hide();
		$("#homebutton").hide();
		$("#top-right-holder").hide();
		$("#title_text").html("PICI Dashboard Powered by ICORE");
	}); 
</script>
