<style type="text/css">
	table {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
	}
	table td {
		word-wrap: break-word;
	}
</style>
<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3></center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<a onclick="$('body').trigger('wes1');" style="color: white;background-color: #337ab7;padding: 5px;">NGS</a>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th> GENE </th>
							<th> #MUT </th>
							<th> # </th>
							<th> MUT/PERSON </th>
							<th> FREQ </th>
						</tr>
					</thead>
					<tbody id="collection_data_table" class="searchable">
						<tr>
							<th>MUC16</th>
							<th>149</th>
							<th>42</th>
							<th>3.55</th>
							<th>65.60%</th>
						</tr>
						<tr>
							<td>PCLO</td>
							<td>56</td>
							<td>30</td>
							<td>1.87</td>
							<td>46.90%</td>
						</tr>
						<tr>
							<td>BRAF</td>
							<td>37</td>
							<td>30</td>
							<td>1.23</td>
							<td>46.90%</td>
						</tr>
						<tr>
							<td>DNAH5</td>
							<td>56</td>
							<td>27</td>
							<td>2.07</td>
							<td>42.20%</td>
						</tr>
						<tr>
							<td>LRP1B</td>
							<td>49</td>
							<td>24</td>
							<td>2.04</td>
							<td>37.50%</td>
						</tr>
						<tr>
							<td>FAT4</td>
							<td>41</td>
							<td>23</td>
							<td>1.78</td>
							<td>35.90%</td>
						</tr>
						<tr>
							<td>RP1</td>
							<td>32</td>
							<td>22</td>
							<td>1.45</td>
							<td>34.40%</td>
						</tr>
						<tr>
							<td>DCC</td>
							<td>26</td>
							<td>21</td>
							<td>1.24</td>
							<td>32.80%</td>
						</tr>
						<tr>
							<td>PKHD1L1</td>
							<td>34</td>
							<td>20</td>
							<td>1.70</td>
							<td>31.30%</td>
						</tr>
						<tr>
							<td>XIRP2</td>
							<td>33</td>
							<td>20</td>
							<td>1.65</td>
							<td>31.30%</td>
						</tr>
						<tr>
							<td>OBSCN</td>
							<td>23</td>
							<td>19</td>
							<td>1.21</td>
							<td>29.70%</td>
						</tr>
						<tr>
							<td>UNC13C</td>
							<td>27</td>
							<td>18</td>
							<td>1.50</td>
							<td>28.10%</td>
						</tr>
						<tr>
							<td>MGAM</td>
							<td>24</td>
							<td>17</td>
							<td>1.41</td>
							<td>26.60%</td>
						</tr>
						<tr>
							<td>MROH2B</td>
							<td>21</td>
							<td>17</td>
							<td>1.24</td>
							<td>26.60%</td>
						</tr>
						<tr>
							<td>SCN10A</td>
							<td>28</td>
							<td>16</td>
							<td>1.75</td>
							<td>25.00%</td>
						</tr>
						<tr>
							<td>THSD7B</td>
							<td>23</td>
							<td>16</td>
							<td>1.44</td>
							<td>25.00%</td>
						</tr>
						<tr>
							<td>MYO18B</td>
							<td>21</td>
							<td>16</td>
							<td>1.31</td>
							<td>25.00%</td>
						</tr>
						<tr>
							<td>NPAP1</td>
							<td>17</td>
							<td>16</td>
							<td>1.06</td>
							<td>25.00%</td>
						</tr>
						<tr>
							<td>SPHKAP</td>
							<td>29</td>
							<td>15</td>
							<td>1.93</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>MXRA5</td>
							<td>22</td>
							<td>15</td>
							<td>1.47</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>DOCK3</td>
							<td>22</td>
							<td>15</td>
							<td>1.47</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>MAGEC1</td>
							<td>21</td>
							<td>15</td>
							<td>1.40</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>PLCB4</td>
							<td>19</td>
							<td>15</td>
							<td>1.27</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>ZFPM2</td>
							<td>19</td>
							<td>15</td>
							<td>1.27</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>PTPRT</td>
							<td>18</td>
							<td>15</td>
							<td>1.20</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>ZNF804A</td>
							<td>18</td>
							<td>15</td>
							<td>1.20</td>
							<td>23.40%</td>
						</tr>
						<tr>
							<td>FMN2</td>
							<td>18</td>
							<td>14</td>
							<td>1.29</td>
							<td>21.90%</td>
						</tr>
						<tr>
							<td>NRAS</td>
							<td>14</td>
							<td>14</td>
							<td>1.00</td>
							<td>21.90%</td>
						</tr>
						<tr>
							<td>RELN</td>
							<td>18</td>
							<td>13</td>
							<td>1.38</td>
							<td>20.30%</td>
						</tr>
						<tr>
							<td>PTPRD</td>
							<td>15</td>
							<td>13</td>
							<td>1.15</td>
							<td>20.30%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<script>
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); 
</script>
