<style type="text/css">
	table {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
	}
	table td {
		word-wrap: break-word;
	}
</style>
<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3></center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<a onclick="$('body').trigger('wes1');" style="color: white;background-color: #337ab7;padding: 5px;">NGS</a>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th> GENE </th>
							<th> #MUTATIONS </th>
							<th> #PATIENTS </th>
							<th> Freq </th>
							<th> LIST OF SUBJECTS </th>
						</tr>
					</thead>
					<tbody id="" class="searchable">
						<tr>
							<td>MUC16</td>
							<td>149</td>
							<td>42</td>
							<td>65.60%</td>
							<td>NR2137,NR9521,<a  onclick="$('body').trigger('CR9999')">CR9699</a>,PR4077,CRNR0244,SD0346,CR4880,NR8815,LSDNR9298,CR9306,CR9699,CR6161,CR4880,CR22640,CRNR0244,PR11217,PR4077,NR9445,SD6494,LSD3484,PR4092,CR1509,NR4018,CR1509,CR04885,CR9699,SD0346,CR04885,PR4077,SD0346,NR9521,SD7357,CR4880,CR4880,CR9306,NR3549,NR9521,SD7357,CR6161,SD7357,CR9306,NR4810,PR4077,CR04885,CRNR0244,SD1494,CR6161,NR9521,CR9699,CR4880,NR9521,CR6126,CR3665,NR6721,CR9699,CR4880,CR04885,CR9306,NR4810,NR6721,NR4631,NR4045,PR4035,NR4631,NR4631,CR9306,SD1494,PR11217,CR9306,PR4035,CR06670,NR8815,CR1509,SD6494,SD5934,CR9306,LSD4691,CRNR2472,NR8815,SD1494,SD0346,CR3665,CR04885,SD7357,CR04885,NR8815,PR4092,PR4077,SD7357,PR4091,CRNR0244,CR04885,SD0346,CR06670,CR9699,CR0095,NR8815,SD1494,CR0095,SD1494,NR2137,PR4077,NR9521,NR8815,CR6161,NR3549,SD7357,CR4880,PR4035,NR4949,CR9306,CR6161,CR6126,SD1494,PR4077,NR9449,CR04885,PR4046,NR9521,CR9306,LSD3484,SD6494,CR6161,NR4949,NR4631,CR9699,NR4631,LSD6819,SD5038,NR8815,PR4077,LSDNR9298,NR4631,CR04885,NR4631,PR4077,NR9449,CR4880,CR6161,NR3549,SD5934,NR4045,CR4880,CR6161,NR4810,LSD4744,NR9521,CR1509,NR8815</td>
						</tr>
						<tr>
							<td>BRAF</td>
							<td>37</td>
							<td>30</td>
							<td>46.90%</td>
							<td>SD1494,PR11217,NR4810,CR9699,CR06670,NR4018,CR4880,CR9306,PR4035,SD7357,SD1494,NR4810,NR8815,SD7357,SD5934,SD6336,SD2051,PR4092,PR4046,PR4091,PR11217,NR9765,NR9445,NR9705,CR9699,CR0095,CR06670,CRNR0244,CR1509,LSD0167,LSD2057,LSD6819,NR2137,LSDNR3086,NR4018,NR4045,LSDNR9298</td>
						</tr>
						<tr>
							<td>PCLO</td>
							<td>56</td>
							<td>30</td>
							<td>46.90%</td>
							<td>CR9699,NR2137,NR9449,SD7357,NR4631,NR9521,NR9445,SD0346,LSDNR9298,SD0346,CR0095,CR9699,LSDNR9298,LSD0167,PR11217,SD0346,CR9306,NR4045,CR3665,NR9521,SD7357,PR4077,CR9699,LSD0167,SD1494,CR6126,CR6161,PR4035,CR06670,SD6336,NR4631,CR06670,NR4631,NR2137,CR7623,SD7357,LSD4744,NR3549,NR4631,LSDNR9298,LSD3484,LSD3484,CR04885,SD7357,CR9699,SD7357,CR9699,CR04885,CR9306,NR8815,NR4631,PR4046,NR4631,PR4046,CR9306,LSD6819</td>
						</tr>
						<tr>
							<td>DNAH5</td>
							<td>56</td>
							<td>27</td>
							<td>42.20%</td>
							<td>LSD4744,CR04885,NR2137,CR1509,NR4631,NR9521,CR6161,SD6494,CR04885,NR8815,LSD6819,LSD4744,NR4810,NR4045,NR9449,LSD4744,CR0095,NR4949,PR11217,CR04885,PR4077,NR4631,NR4631,NR2137,CR9699,CR9306,SD5934,NR8815,SD2051,SD6494,CR06670,SD1494,NR4949,CR04885,NR2137,CR6161,CR9306,NR4631,LSD4744,CR04885,NR9449,CR04885,LSD4744,CR04885,NR4631,NR8815,CR9306,CR6126,PR4077,CR04885,SD6336,CR6126,PR11217,NR3549,CR04885,PR4035</td>
						</tr>
						<tr>
							<td>LRP1B</td>
							<td>49</td>
							<td>24</td>
							<td>37.50%</td>
							<td>LSD4744,CR9699,CR9699,CR04885,SD7357,PR4077,NR8815,NR9521,NR9521,SD1494,NR3549,CR04885,CR9699,CR3665,CR9699,SD7357,CR6161,CR1509,PR4035,CR22640,LSD4744,PR4077,CR9699,NR4631,LSD6819,NR9521,CR9306,NR2137,CR04885,CR06670,NR9521,NR4631,LSD4744,CR1509,SD0346,CR9699,PR4077,CR04885,LSD3484,LSD3484,NR8815,PR4091,SD1494,NR4949,LSD4744,NR2137,CR04885,CR6126,LSD4744</td>
						</tr>
						<tr>
							<td>FAT4</td>
							<td>41</td>
							<td>23</td>
							<td>35.90%</td>
							<td>CR9699,CR7623,CR6126,PR4077,PR4077,PR11217,LSD4744,SD7357,SD6494,SD6336,SD6494,LSD4744,NR9449,NR2137,PR4035,NR9521,CR04885,NR4810,NR4045,NR4949,SD7357,PR11217,PR4077,CR9699,CR6126,SD7357,NR8815,NR4949,LSDNR1120,NR9449,CR7623,CR9306,NR4949,NR9449,NR8815,CR06670,SD1494,NR8815,PR11217,LSDNR9298,PR4077</td>
						</tr>
						<tr>
							<td>RP1</td>
							<td>32</td>
							<td>22</td>
							<td>34.40%</td>
							<td>CR9306,NR4083,SD1494,CR6161,NR9521,NR2137,LSD4744,PR4046,NR8815,CR6161,CR22640,SD0346,PR11217,NR4631,SD5038,PR4077,LSD4744,NR4083,SD5934,SD7357,PR4077,CR06670,CR9699,CR9306,PR4077,NR4045,CR9306,CR1509,CR04885,CR6161,CR06670,CR04885</td>
						</tr>
						<tr>
							<td>DCC</td>
							<td>26</td>
							<td>21</td>
							<td>32.80%</td>
							<td>PR4077,LSD3484,PR11217,NR9521,LSDNR1120,PR4092,CR04885,CR9699,PR4046,LSD4744,NR3549,NR4810,SD1494,CR9699,SD0346,NR4631,CR1509,PR4035,CR6126,SD6494,LSD4744,SD7357,NR9705,NR4631,PR4035,SD0346</td>
						</tr>
						<tr>
							<td>XIRP2</td>
							<td>33</td>
							<td>20</td>
							<td>31.30%</td>
							<td>PR4077,CR9306,NR9445,CR9699,CR9306,CR04885,NR8815,PR4077,NR4631,CR9306,NR4949,CR04885,CR9306,PR11217,LSD6819,SD6494,NR3549,CR04885,NR9521,SD1494,LSD4744,NR3549,LSD4744,PR4077,CR22640,CR9306,CR06670,SD7357,LSD4744,CR9699,NR9445,PR4046,SD0346</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<script>
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); 
</script>
