<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">Patient ID</span></th>
							<th><span class="htitle">Diagnosis Age</span></th>
							<th><span class="htitle">Sex</span></th>
							<th><span class="htitle">Response Duration(months)</span></th>
							<th><span class="htitle">Overall Survival(months)</span></th>
							<th><span class="htitle">Prior Treatment</span></th>
						</tr>
					</thead>
					<tbody id="" class="searchable">
						<tr>
							<td>CR0095</td>
							<td>74</td>
							<td>Male</td>
							<td>14.3</td>
							<td>68.4</td>
							<td>2</td>
						</tr>
						<tr>
							<td>CR04885</td>
							<td>49</td>
							<td>Female</td>
							<td>19.5</td>
							<td>25.6</td>
							<td>0</td>
						</tr>
						<tr>
							<td>CR06670</td>
							<td>79</td>
							<td>Female</td>
							<td>38.5</td>
							<td>44.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>CR1509</td>
							<td>54</td>
							<td>Female</td>
							<td>15.8</td>
							<td>54</td>
							<td>1</td>
						</tr>
						<tr>
							<td>CR22640</td>
							<td>71</td>
							<td>Male</td>
							<td>49.5</td>
							<td>51.2</td>
							<td>1</td>
						</tr>
						<tr>
							<td>CR3665</td>
							<td>70</td>
							<td>Male</td>
							<td>10.6</td>
							<td>32.4</td>
							<td>1</td>
						</tr>
						<tr>
							<td>CR4880</td>
							<td>63</td>
							<td>Male</td>
							<td>13</td>
							<td>64.8</td>
							<td>2</td>
						</tr>
						<tr>
							<td>CR6126</td>
							<td>66</td>
							<td>Female</td>
							<td>23.1</td>
							<td>22.8</td>
							<td>1</td>
						</tr>
						<tr>
							<td>CR6161</td>
							<td>81</td>
							<td>Male</td>
							<td>31.2</td>
							<td>31.3</td>
							<td>0</td>
						</tr>
						<tr>
							<td>CR7623</td>
							<td>62</td>
							<td>Male</td>
							<td>10.3</td>
							<td>48</td>
							<td>3</td>
						</tr>
						<tr>
							<td>CR9306</td>
							<td>65</td>
							<td>Male</td>
							<td>9.2</td>
							<td>63.6</td>
							<td>2</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>70</td>
							<td>Male</td>
							<td>11.4</td>
							<td>52.8</td>
							<td>0</td>
						</tr>
						<tr>
							<td>CRNR0244</td>
							<td>49</td>
							<td>Male</td>
							<td>25</td>
							<td>25.2</td>
							<td>0</td>
						</tr>
						<tr>
							<td>CRNR2472</td>
							<td>71</td>
							<td>Male</td>
							<td>20.4</td>
							<td>20.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>CRNR4941</td>
							<td>40</td>
							<td>Female</td>
							<td>86.1</td>
							<td>86.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>LSD0167</td>
							<td>33</td>
							<td>Male</td>
							<td>32.1</td>
							<td>32.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>LSD2057</td>
							<td>36</td>
							<td>Female</td>
							<td>14.6</td>
							<td>40.1</td>
							<td>0</td>
						</tr>
						<tr>
							<td>LSD3484</td>
							<td>74</td>
							<td>Male</td>
							<td>35.3</td>
							<td>34.8</td>
							<td>1</td>
						</tr>
						<tr>
							<td>LSD4691</td>
							<td>62</td>
							<td>Male</td>
							<td>87.7</td>
							<td>87.6</td>
							<td>2</td>
						</tr>
						<tr>
							<td>LSD4744</td>
							<td>52</td>
							<td>Male</td>
							<td>18.3</td>
							<td>25.2</td>
							<td>0</td>
						</tr>
						<tr>
							<td>LSD6819</td>
							<td>55</td>
							<td>Male</td>
							<td>15.3</td>
							<td>40.8</td>
							<td>0</td>
						</tr>
						<tr>
							<td>LSDNR1120</td>
							<td>68</td>
							<td>Male</td>
							<td>55.4</td>
							<td>55.2</td>
							<td>0</td>
						</tr>
						<tr>
							<td>LSDNR1650</td>
							<td>71</td>
							<td>Female</td>
							<td>16.7</td>
							<td>32.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>LSDNR3086</td>
							<td>43</td>
							<td>Male</td>
							<td>30.9</td>
							<td>31.2</td>
							<td>2</td>
						</tr>
						<tr>
							<td>LSDNR9298</td>
							<td>82</td>
							<td>Female</td>
							<td>49.7</td>
							<td>50</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR1867</td>
							<td>68</td>
							<td>Male</td>
							<td>5.1</td>
							<td>18</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR2137</td>
							<td>18</td>
							<td>Male</td>
							<td>1.8</td>
							<td>9.8</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR3156</td>
							<td>68</td>
							<td>Female</td>
							<td>2.4</td>
							<td>13.2</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR3549</td>
							<td>50</td>
							<td>Male</td>
							<td>3.5</td>
							<td>6</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR4018</td>
							<td>55</td>
							<td>Male</td>
							<td>2.4</td>
							<td>3.3</td>
							<td>Did not record prior</td>
						</tr>
						<tr>
							<td>NR4045</td>
							<td>42</td>
							<td>Male</td>
							<td>2.5</td>
							<td>20.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR4083</td>
							<td>54</td>
							<td>Male</td>
							<td>2.6</td>
							<td>2.7</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR4631</td>
							<td>59</td>
							<td>Male</td>
							<td>3</td>
							<td>6</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR4810</td>
							<td>48</td>
							<td>Female</td>
							<td>2.6</td>
							<td>4.8</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR4949</td>
							<td>79</td>
							<td>Female</td>
							<td>5.1</td>
							<td>8.4</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR5784</td>
							<td>58</td>
							<td>Female</td>
							<td>2.4</td>
							<td>6</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR6689</td>
							<td>46</td>
							<td>Female</td>
							<td>2.4</td>
							<td>15</td>
							<td>2</td>
						</tr>
						<tr>
							<td>NR6721</td>
							<td>64</td>
							<td>Male</td>
							<td>0.7</td>
							<td>9.6</td>
							<td>2</td>
						</tr>
						<tr>
							<td>NR6842</td>
							<td>64</td>
							<td>Male</td>
							<td>2.6</td>
							<td>9.8</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR8727</td>
							<td>69</td>
							<td>Male</td>
							<td>2.9</td>
							<td>4.8</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR8815</td>
							<td>67</td>
							<td>Female</td>
							<td>2.1</td>
							<td>14.9</td>
							<td>3</td>
						</tr>
						<tr>
							<td>NR9341</td>
							<td>77</td>
							<td>Male</td>
							<td>3.1</td>
							<td>12</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NR9445</td>
							<td>50</td>
							<td>Male</td>
							<td>1.8</td>
							<td>2.5</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR9449</td>
							<td>64</td>
							<td>Female</td>
							<td>2.3</td>
							<td>7.2</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR9521</td>
							<td>74</td>
							<td>Male</td>
							<td>2.7</td>
							<td>32.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR9705</td>
							<td>63</td>
							<td>Female</td>
							<td>6.6</td>
							<td>14.4</td>
							<td>0</td>
						</tr>
						<tr>
							<td>NR9765</td>
							<td>38</td>
							<td>Female</td>
							<td>5.1</td>
							<td>25</td>
							<td>1</td>
						</tr>
						<tr>
							<td>PR03803</td>
							<td>90</td>
							<td>Male</td>
							<td>54</td>
							<td>94.6</td>
							<td>2</td>
						</tr>
						<tr>
							<td>PR11217</td>
							<td></td>
							<td>NA</td>
							<td>NA</td>
							<td></td>
							<td>NA</td>
						</tr>
						<tr>
							<td>PR4035</td>
							<td>78</td>
							<td>Male</td>
							<td>49.9</td>
							<td>50.2</td>
							<td>did not record prior</td>
						</tr>
						<tr>
							<td>PR4046</td>
							<td>44</td>
							<td>Male</td>
							<td>25.2</td>
							<td>25.3</td>
							<td>did not record prior</td>
						</tr>
						<tr>
							<td>PR4077</td>
							<td>75</td>
							<td>Male</td>
							<td>72.3</td>
							<td>72.7</td>
							<td>did not record prior</td>
						</tr>
						<tr>
							<td>PR4091</td>
							<td>65</td>
							<td>Female</td>
							<td>71.9</td>
							<td>72.4</td>
							<td>did not record prior</td>
						</tr>
						<tr>
							<td>PR4092</td>
							<td>57</td>
							<td>Female</td>
							<td>72.2</td>
							<td>72.8</td>
							<td>did not record prior</td>
						</tr>
						<tr>
							<td>SD0346</td>
							<td>43</td>
							<td>Female</td>
							<td>15</td>
							<td>34.8</td>
							<td>0</td>
						</tr>
						<tr>
							<td>SD1494</td>
							<td>70</td>
							<td>Male</td>
							<td>11.2</td>
							<td>24</td>
							<td>0</td>
						</tr>
						<tr>
							<td>SD2051</td>
							<td>61</td>
							<td>Female</td>
							<td>3.5</td>
							<td>9.6</td>
							<td>1</td>
						</tr>
						<tr>
							<td>SD2056</td>
							<td>39</td>
							<td>Female</td>
							<td>45.8</td>
							<td>46.8</td>
							<td>1</td>
						</tr>
						<tr>
							<td>SD5038</td>
							<td>55</td>
							<td>Male</td>
							<td>5.3</td>
							<td>14.4</td>
							<td>2</td>
						</tr>
						<tr>
							<td>SD5118</td>
							<td>55</td>
							<td>Female</td>
							<td>5.3</td>
							<td>32.4</td>
							<td>2</td>
						</tr>
						<tr>
							<td>SD5934</td>
							<td>52</td>
							<td>Male</td>
							<td>3.1</td>
							<td>19.2</td>
							<td>1</td>
						</tr>
						<tr>
							<td>SD6336</td>
							<td>53</td>
							<td>Male</td>
							<td>79.4</td>
							<td>82.8</td>
							<td>1</td>
						</tr>
						<tr>
							<td>SD6494</td>
							<td>63</td>
							<td>Female</td>
							<td>2.9</td>
							<td>8.4</td>
							<td>2</td>
						</tr>
						<tr>
							<td>SD7357</td>
							<td>50</td>
							<td>Female</td>
							<td>4.6</td>
							<td>24</td>
							<td>2</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<script>
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

		//start of pagination relevant rendering logic
		function renderAdverseEvents(rows) {
			var adverseTemplate = $('#adverse_table_template').html();
			var adverseHtml = Mustache.to_html(adverseTemplate, {
				'rows' : rows
			});
			$("#adverse_date_table").html(adverseHtml);
			$.bootstrapSortable( applyLast = true);
		}

		var pageHitCount = 1,
		    startRange = 0,
		    qry = {};
		if ($('#select-pid').val())
			qry.cpan = $('#select-pid').val();
		var rows = db2.getCollection('ADVERSEVENT').findObjects(qry);

		//if total rows count is less than 50,pagination not required
		if (rows.constructor === Array && rows.length <= 50) {
			$('.pg-holder').hide();
			renderAdverseEvents(rows);
		} else {
			renderAdverseEvents(onLeft(rows, startRange, pageHitCount));
		}

		$('#pg-left').click(function() {
			pageHitCount = pageHitCount - 1;
			startRange = startRange - 50;
			renderAdverseEvents(onLeft(rows, startRange, pageHitCount));
		});

		$('#pg-right').click(function() {
			pageHitCount = pageHitCount + 1;
			startRange = startRange + 50;
			renderAdverseEvents(onRight(rows, startRange, pageHitCount));
		});

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); 
</script>
