<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">

		<div class="col-md-12">

			<div class="table-wrapper card-2">
				<a class="btn btn-primary pull-right" id="exportPdf"><i style="color:white;" class="fa fa-print"></i>&nbsp;Save as Pdf</a>
				<br />
				<br />
				<br />
				<div class="summary-charts" id="patient_history" ></div>
				<br/>
				<div class="doc-head" align="left">
					<h4>Prescription</h4>
				</div>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">NO</span></th>
							<th><span class="htitle">SOURCE</span></th>
							<th><span class="htitle">PRESCRIPTION/ADVISE/NOTE</span></th>
							<th><span class="htitle">DATE</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td style="text-align: left;padding-left: 10px;">Oncologist</td>
							<td style="text-align: left;padding-left: 10px;">Responding Well;</td>
							<td>12/11/2015</td>
						</tr>
						<tr>
							<td>2</td>
							<td style="text-align: left;padding-left: 10px;">Radiologist</td>
							<td style="text-align: left;padding-left: 10px;">Next Scheduled for 10/03/2015 </td>
							<td>11/21/2015</td>
						</tr>
					</tbody>
				</table>
				<!-- div class="row">
					<div class="col-sm-6 col-md-6 bottom" style="text-align: center;">
						<a class="btn btn-primary"> Share </a>
					</div>
					<div class="col-sm-6 col-md-6 bottom" style="text-align: center;">
						<a class="btn btn-primary"> Contact </a>
					</div>
				</div -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		var Options = {
			width : '100%',
			height : '100%',
			legend : {
				position : "top",
				textStyle : {
					fontSize : 12
				}
			}
		};
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
		function getHistory() {
			var clinicaLabs = db2.getCollection('CLINICALLABS').find({
				pid : 'PID- 2'
			});
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'string');
			data.addColumn('number', 'PSA Level-ng/mL');
			clinicaLabs.forEach(function(clinicaLab) {
				data.addRow([clinicaLab.observation, Number(clinicaLab.result)]);
			});
			return data;
		}


		google.charts.setOnLoadCallback(function() {
			drawHistory(getHistory());
		});
		function drawHistory(lineData) {
			var lineChart = new google.visualization.LineChart(document.getElementById('patient_history'));
			lineChart.draw(lineData, Options);
			$(window).smartresize(function() {
				lineChart.draw(lineData, Options);
			});
		};
		
		$('#exportPdf').click(function() {
			var w = window.open();
			w.document.write($('.table-wrapper').html());
			w.print();
			w.close();
		});
	}); 
</script>