<style type="text/css">
	.fc-button-group, .fc button {
		display: inline-block;
	}
</style>
<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="main-div-wrapper card-2">
				<div id="schedule"></div>
				<br />
				<div class="bottom" style="float: right;">
					<a class="btn btn-primary handle-bt"><i style="color:white;" class="fa fa-share-alt"></i>&nbsp;Share</a>
					<a class="btn btn-primary handle-bt" style="margin : 0px 20px;"><i style="color:white;" class="fa fa-share-square"></i>&nbsp;Email</a>
					<a class="btn btn-primary handle-bt"><i style="color:white;" class="fa fa-print"></i>&nbsp;Print</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		var selectedEvents = [], selectedEvent = '';
		$("#schedule").fullCalendar({
			header : {
				left : 'prev,next today myCustomButton',
				center : 'title',
				right : 'month,agendaWeek,agendaDay'
			},
			googleCalendarApiKey : 'AIzaSyC18wcox0jCmcKo2ebF6m7EUNkgu9Bzsro',
			events : {
				googleCalendarId : 'ddelvj6phai888c8bfqitg31go@group.calendar.google.com'
			},
			googleCalendarError : function(response) {
				console.log(JSON.stringify(response));
			},
			eventClick : function(calEvent, jsEvent, view) {
				
				var keys = ['title', 'start', 'end', 'allDay', 'location', 'description'], tableMenu = '<table class="table"><tbody>';
				
				keys.forEach(function(key){
					var value = calEvent[key];
					
					if(!value)
					   value = 'not specified';
					
					if(key === 'start' || key === 'end')
						value = new Date(calEvent[key]);
					tableMenu += '<tr><td style="text-align:left"><b>' + key + '</b></td><td style="text-align:left">' + value + '</td></tr>';
				});
				tableMenu += '</tbody></table>';

				$('#event-details').html(tableMenu);
				
				if(selectedEvent && selectedEvent === calEvent.id){
					$(this).find('.checked').remove();
					selectedEvent = '';
					return false;
				} else if(selectedEvent){
					$('#schedule').find('.checked').remove();
				}
				selectedEvent = calEvent.id;
				$(this).find('.fc-content').append('<span class="checked">&nbsp;&nbsp;<i class="fa fa-check"></i></span>');
				
				var pos = $(this).position();
				if(window.screen.availWidth > 500) $('#custom-tooltip').css({'left': (pos.left) + "px"});
				$('body').trigger('show-event-details');
				return false;
				
			  /*if (selectedEvents.includes(calEvent.id)) {
					$(this).find('.checked').remove();
					selectedEvents = selectedEvents.filter(function(id) {return (calEvent.id !== id);});
					return false;
				}
				selectedEvents.push(calEvent.id);
				$(this).find('.fc-content').append('<span class="checked">&nbsp;&nbsp;<i class="fa fa-check"></i></span>');
				$('body').trigger('show-event-details');
				return false; */
			}
		});
		
		$(".handle-bt").click(function(){
			if(!selectedEvent)
				alert('Please select an event to ' + $(this).text().trim().toLowerCase() + '.');
			else if( $(this).text().trim().toLowerCase() === 'email')
				$('body').trigger('send-mail');
			else
				alert('Event Msg Sent Successfully');
		});
	});
</script>