<style type="text/css" media="screen">
	.styled-select {
		text-align: center;
		background-color: #F5F5F5;
		display: inline;
		/*appearance: none;
		 -moz-appearance: none;
		 -webkit-appearance: none;
		 border: none; */
	}
	h4 {
		color: white;
		margin-top: 0px;
		margin-bottom: 0px;
		display: inline;
	}

	.h4-select-holder {
		margin-bottom: 20px;
		padding: 20px 5px;
	}
</style>

<div class="container animated fadeInUp">
	<div class="table-wrapper">
		<div class="row">
			<div class="col-sm-6" align="center">
				<div class="h4-select-holder">
					<h4 class="pull-left">IHC</h4>
					<div class="pull-right">
						<select class="styled-select" id="styled-select1">
							<option value="Density">Density</option>
							<option value="Percent">Percent</option>
							<option value="H-Score">H-score</option>
						</select>
						<select class="styled-select" id="styled-select2"></select>
					</div>
				</div>
				<div class="summary-charts" id="ihc"></div>
			</div>
			<div class="col-sm-6" align="center">
				<div class="h4-select-holder">
					<h4 class="pull-left">CYTOKINE</h4>
					<select class="styled-select pull-right" id="styled-select3"></select>
				</div>
				<div class="summary-charts" id="cytokine"></div>
			</div>
			<div class="col-sm-6" align="center">
				<div class="h4-select-holder">
					<h4 class="pull-left">FLOW CYTOMETRY</h4>
					<div class="pull-right">
						<select class="styled-select" id="styled-select4">
							<option value="Percent">Percent</option>
						</select>
						<select class="styled-select" id="styled-select5"></select>
					</div>
				</div>
				<div class="summary-charts" id="fcm"></div>
			</div>
			<div class="col-sm-6" align="center">
				<div class="summary-charts" style="margin-top: 60px;">
					<img id="com-image1" src="img/compare1.png" width="200px" height="200px">
					&nbsp;
					<img id="com-image2" src="img/compare2.png" width="200px" height="200px">
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		var compareData = db2.getCollection('COMPARISON').findObjects({
			patient : 'PID-2'
		});

		function renderDropdown() {
			[['ihc-marker', '#styled-select2'], ['cytokenemarker', '#styled-select3'], ['flowcyto-marker', '#styled-select5']].forEach(function(propArray) {
				var uniqueMarkers = [],
				    propName = propArray[0];
				compareData.forEach(function(dbItem) {
					var marker = dbItem[propName];
					if (marker && $.inArray(marker, uniqueMarkers) === -1) {
						uniqueMarkers.push(marker);
						$(propArray[1]).append('<option value="' + marker + '">' + marker + '</option>');
					}
				});
				$(propArray[1] + ' option[value="' + uniqueMarkers[0] + '"]').prop('selected', true);
			});
		}

		//column chart related options
		var columnOptions = {
			bar : {
				groupWidth : 60
			},
			chartArea : {
				left : 70,
				right : 0,
				top : 5,
				bottom : 20
			},
			width : '100%',
			height : '100%',
			colors : ['#dc3912', '#3366CC', '#109618', '#ff9900'],
			tooltip : {
				isHtml : true
			},
			hAxis : {
				titleTextStyle : {
					color : 'black',
					bold : true,
					italic : false
				},
				textPosition : 'center'
			},
			legend : {
				position : 'none'
			},
			vAxis : {
				gridlines : {
					count : 7
				}
			}
		};

		function drawIHC() {
			// preparing data table for chart
			var ihcDataTable = new google.visualization.DataTable();
			ihcDataTable.addColumn('string', 'visits');
			ihcDataTable.addColumn('number', 'result');

			//getting chart data from db based selected criteria
			var compareIhcData = db2.getCollection('COMPARISON').findObjects({
				patient : 'PID-2',
				'measure' : $('#styled-select1').val(),
				'ihc-marker' : $('#styled-select2').val()
			});

			//formatting and validating data
			compareIhcData.forEach(function(obj) {
				if (obj.result) {
					if ( typeof obj.result === 'string') {
						obj.result = obj.result.replace(/[^.0-9]/g, '');
						obj.result = Number(obj.result);
					}
				} else {
					obj.result = 0;
				}
			});

			//sorting data based on visits
			compareIhcData.sort(function(ihc1, ihc2) {
				return ((ihc1.visit < ihc2.visit) ? -1 : ((ihc1.visit > ihc2.visit) ? 1 : 0));
			});

			//Adding data to the chart table
			compareIhcData.forEach(function(obj) {
				ihcDataTable.addRow([obj.visit, obj.result]);
			});

			//setting unique color to graph bars
			columnOptions.colors = ['#dc3912'];

			//creating and initializing and drawing chart
			var ihcChart = new google.visualization.ColumnChart(document.getElementById('ihc'));
			ihcChart.draw(ihcDataTable, columnOptions);

			//redrawing when window resized
			$(window).smartresize(function() {
				columnOptions.colors = ['#dc3912'];
				ihcChart.draw(ihcDataTable, columnOptions);
			});
		}


		$('#styled-select1').on('change', function() {
			drawIHC();
		});

		$('#styled-select2').on('change', function() {
			drawIHC();
		});

		function drawCytokine() {
			// preparing data table for chart
			var cytoDataTable = new google.visualization.DataTable();
			cytoDataTable.addColumn('string', 'visits');
			cytoDataTable.addColumn('number', 'result');

			//getting chart data from db based selected criteria
			var compareCytoData = db2.getCollection('COMPARISON').findObjects({
				patient : 'PID-2',
				'cytokenemarker' : $('#styled-select3').val()
			});

			//formatting and validating data
			compareCytoData.forEach(function(obj) {
				if (obj['result_2']) {
					if ( typeof obj['result_2'] === 'string') {
						obj['result_2'] = obj['result_2'].replace(/[^.0-9]/g, '');
						obj['result_2'] = Number(obj['result_2']);
					}
				} else {
					obj['result_2'] = 0;
				}
			});

			//sorting data based on visits
			compareCytoData.sort(function(cyto1, cyto2) {
				return ((cyto1['visit_2'] < cyto2['visit_2']) ? -1 : ((cyto1['visit_2'] > cyto2['visit_2']) ? 1 : 0));
			});

			//Adding data to the chart table
			compareCytoData.forEach(function(obj) {
				cytoDataTable.addRow([obj['visit_2'], obj['result_2']]);
			});

			//setting unique color to graph bars
			columnOptions.colors = ['#3366CC'];

			//creating and initializing and drawing chart
			var cytoChart = new google.visualization.ColumnChart(document.getElementById('cytokine'));
			cytoChart.draw(cytoDataTable, columnOptions);

			//redrawing when window resized
			$(window).smartresize(function() {
				columnOptions.colors = ['#3366CC'];
				cytoChart.draw(cytoDataTable, columnOptions);
			});
		}


		$('#styled-select3').on('change', function() {
			drawCytokine();
		});

		function drawFcm() {
			// preparing data table for chart
			var fcmDataTable = new google.visualization.DataTable();
			fcmDataTable.addColumn('string', 'visits');
			fcmDataTable.addColumn('number', 'result');

			//getting chart data from db based selected criteria
			var compareFcmData = db2.getCollection('COMPARISON').findObjects({
				patient : 'PID-2',
				'measure_2' : $('#styled-select4').val(),
				'flowcyto-marker' : $('#styled-select5').val()
			});

			//formatting and validating data
			compareFcmData.forEach(function(obj) {
				if (obj['result_3']) {
					if ( typeof obj['result_3'] === 'string') {
						obj['result_3'] = obj['result_3'].replace(/[^.0-9]/g, '');
						obj['result_3'] = Number(obj['result_3']);
					}
				} else {
					obj['result_3'] = 0;
				}
			});

			//sorting data based on visits
			compareFcmData.sort(function(fcm1, fcm2) {
				return ((fcm1['visit_3'] < fcm2['visit_3']) ? -1 : ((fcm1['visit_3'] > fcm2['visit_3']) ? 1 : 0));
			});

			//Adding data to the chart table
			compareFcmData.forEach(function(obj) {
				fcmDataTable.addRow([obj['visit_3'], obj['result_3']]);
			});

			//setting unique color to graph bars
			columnOptions.colors = ['#109618'];

			//creating and initializing and drawing chart
			var fcmChart = new google.visualization.ColumnChart(document.getElementById('fcm'));
			fcmChart.draw(fcmDataTable, columnOptions);

			//redrawing when window resized
			$(window).smartresize(function() {
				columnOptions.colors = ['#109618'];
				fcmChart.draw(fcmDataTable, columnOptions);
			});
		}


		$('#styled-select4').on('change', function() {
			$('#com-image1').addClass('animated fadeInUp').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
				$('#com-image1').removeClass('animated fadeInUp');
			});
			$('#com-image2').addClass('animated fadeInUp').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
				$('#com-image2').removeClass('animated fadeInUp');
			});
			drawFcm();
		});

		$('#styled-select5').on('change', function() {
			drawFcm();
		});

		renderDropdown();
		$('#styled-select1 option[value="Density"]').prop('selected', true);
		$('#styled-select4 option[value="Percent"]').prop('selected', true);
		drawIHC();
		drawCytokine();
		drawFcm();

	}); 
</script>