<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper card-2">
				<div class="doc-head">
					<a style="padding-left: 0px;">All</a>
					<a>Hospital</a>
					<a>Family</a>
					<a>Friends</a>
					<a>Other Groups</a>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="pg-holder">
							<button class="pull-left btn btn-default btn-sm" id="pg-left">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>
							</button>
							<button class="pull-right btn btn-default  btn-sm" id="pg-right">
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
							</button>
						</div>
						<br>
						<br>
						<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
							<thead class="cf" style="background:#ffe5e5;">
								<tr>
									<th><span class="htitle">NAME</span></th>
									<th><span class="htitle">ROLE</span></th>
									<th><span class="htitle">CONTACT</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Dr. James Cameron</td>
									<td>Study Director</td>
									<td></td>
								</tr>
								<tr>
									<td>Dr. Rami</td>
									<td>Oncologist</td>
									<td></td>
								</tr>
								<tr>
									<td>Dr.Scott </td>
									<td>Dietician</td>
									<td></td>
								</tr>
								<tr>
									<td>Ms. elisa</td>
									<td>Lab Manager</td>
									<td></td>
								</tr>
								<tr>
									<td>Ms. Neea</td>
									<td>Primary Investigator</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<br />
						<div class="bottom">
							<button class="btn btn-primary">
								<i style="color:white;" class="fa fa-phone"></i>&nbsp;Contact
							</button>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pg-holder">
							<button class="pull-left btn btn-default btn-sm" id="pg-left">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>
							</button>
							<button class="pull-right btn btn-default  btn-sm" id="pg-right">
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
							</button>
						</div>
						<br>
						<br>
						<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
							<thead class="cf" style="background:#ffe5e5;">
								<tr>
									<th><span class="htitle">NAME</span></th>
									<th><span class="htitle">RELATION</span></th>
									<th><span class="htitle">CONTACT</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Dr. James Cameron</td>
									<td>Father</td>
									<td></td>
								</tr>
								<tr>
									<td>Dr. Rami</td>
									<td>Big Brother</td>
									<td></td>
								</tr>
								<tr>
									<td>Dr.Scott </td>
									<td>Brother</td>
									<td></td>
								</tr>
								<tr>
									<td>Ms. elisa</td>
									<td>Mother</td>
									<td></td>
								</tr>
								<tr>
									<td>Ms. Neea</td>
									<td>Lover</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<br />
						<div class="bottom">
							<button class="btn btn-primary">
								<i style="color:white;" class="fa fa-phone"></i>&nbsp;Contact
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
	}); 
</script>