<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper card-2">
				<div class="doc-head">
					<a style="padding-left: 0px;">All</a>
					<a>Admin</a>
					<a>Lab</a>
					<a>Scans</a>
					<a>Reports</a>
				</div>
				<div class="pg-holder">
					<button class="pull-left btn btn-default btn-sm" id="pg-left">
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
					</button>
					<button class="pull-right btn btn-default  btn-sm" id="pg-right">
						<i class="fa fa-arrow-right" aria-hidden="true"></i>
					</button>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th> <span class="htitle">NAME</span> </th>
							<th> <span class="htitle">TYPE</span> </th>
							<th> <span class="htitle">SOURCE </span></th>
							<th> <span class="htitle">DOC TYPE</span> </th>
							<th> <span class="htitle">DATE</span> </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>IHC-06</td>
							<td>Lab</td>
							<td>Inst/Lab1</td>
							<td>Pdf</td>
							<td>11/12/2015</td>
						</tr>
						<tr>
							<td>Blood-ctrl-21</td>
							<td>Lab</td>
							<td>Inst/Lab2</td>
							<td>Pdf</td>
							<td>12/12/2015</td>
						</tr>
						<tr>
							<td>Scan1</td>
							<td>Image</td>
							<td>Inst/Lab2</td>
							<td>Jpg</td>
							<td>13/12/2015</td>
						</tr>
						<tr>
							<td>Radiology3</td>
							<td>Image</td>
							<td>Inst1/Rad Dept</td>
							<td>Jpg</td>
							<td>14/12/2015</td>
						</tr>
						<tr>
							<td>Expenses</td>
							<td>Admin</td>
							<td>Inst1/Admin</td>
							<td>Jpg</td>
							<td>15/12/2015</td>
						</tr>
					</tbody>
				</table>
				<br />
				<div class="bottom" style="float: right;">
					<a class="btn btn-primary"><i style="color:white;" class="fa fa-upload"></i>&nbsp;Upload</a>
					<a class="btn btn-primary" style="margin : 0px 20px;"><i style="color:white;" class="fa fa-share-alt"></i>&nbsp;Share</a>
					<a class="btn btn-primary"><i style="color:white;" class="fa fa-phone"></i>&nbsp;Contact</a>
				</div>

			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable(applyLast = true);
	}); 
</script>