<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="main-div-wrapper">
				<div class="form-group">
					<select class="form-control selectpicker" title="To" multiple>
						<option>dan@parkerici.org</option>
						<option>rex@parkerici.org</option>
						<option>bob@parkerici.org</option>
						<option>cln@parkerici.org</option>
					</select>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" id="mail-subject" placeholder="Subject"/>
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="10" id="mail-body">
					</textarea>
				</div>
				<div class="form-group">
					<a class="btn btn-primary btn-block">Send</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script id='mail-tag' type="text/template">
	{{#rows}}
	  <div title="" style="border: 1px solid #ccc;width: {{wdth}}px;">
	  	   <span style="max-width: 706px;">{{title}}</span>
	  	   <a>×</a>
	  </div>
	{{/rows}}
</script>
<script type="text/javascript">
  	$(function(){
  	  $('.selectpicker').selectpicker({
  	  	'actionsBox' : true,
  	  	'doneButton' : true
  	  });
  	    
  		// $("#mail-to").keyup(function(event) {
			// if (event.keyCode == 13 && $("#mail-to").val().trim()) {
				// $('#To').html(prepareHtml('mail-tag')([{'wdth' : ($("#mail-to").val().trim().length * 8), 'title':$("#mail-to").val().trim()}]));
			// }
		// });
  });
</script>