<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th> Protocol/Clinical Trail </th>
							<th> Title </th>
							<th> Phase </th>
							<th> Enrollment </th>

						</tr>
					</thead>
					<tbody id="collection_data_table" class="searchable">
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00796991')">
								NCT00796991
							</button></td>
							<td>Drug-Drug Interaction - 3 Arm - Carboplatin/Paclitaxel, Dacarbazine</td>
							<td>Phase 1</td>
							<td>72</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00495066')">
								NCT00495066
							</button></td>
							<td>Compassionate Use Trial for Unresectable Melanoma With Ipilimumab</td>
							<td>Not Provided</td>
							<td>Not Provided</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00920907')">
								NCT00920907
							</button></td>
							<td>Comparison of Ipilimumab Manufactured by 2 Different Processes in Participants With Advanced Melanoma</td>
							<td>Phase 1</td>
							<td>99</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00324155')">
								NCT00324155
							</button></td>
							<td>Dacarbazine and Ipilimumab vs. Dacarbazine With Placebo in Untreated Unresectable Stage III or IV Melanoma</td>
							<td>Phase 3</td>
							<td>681</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00162123')">
								NCT00162123
							</button></td>
							<td>A Companion Study for Patients Enrolled in Prior/Parent Ipilimumab Studies</td>
							<td>Phase 2</td>
							<td>248</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT0140045')">
								NCT0140045
							</button></td>
							<td>Determinants of Cancer Response To Immunotherapy</td>
							<td>Not Provided</td>
							<td>Not Provided</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00289640')">
								NCT00289640
							</button></td>
							<td>Study of Ipilimumab (MDX-010) Monotherapy in Patients With Previously Treated Unresectable Stage III or IV Melanoma</td>
							<td>Phase 2</td>
							<td>210</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00636168')">
								NCT00636168
							</button></td>
							<td>Efficacy Study of Ipilimumab Versus Placebo to Prevent Recurrence After Complete Resection of High Risk Stage III Melanoma</td>
							<td>Phase 3</td>
							<td>1211</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT01515189')">
								NCT01515189
							</button></td>
							<td>Phase 3 Trial in Subjects With Metastatic Melanoma Comparing 3 mg/kg Ipilimumab Versus 10 mg/kg Ipilimumab</td>
							<td>Phase 3</td>
							<td>700</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00086489')">
								NCT00086489
							</button></td>
							<td>CP-675,206 In Patients With Advanced Melanoma</td>
							<td>Phase 2</td>
							<td>118</td>
						</tr>
						<tr>
							<td>
							<button class="nctlink" onclick="nctLink('https://clinicaltrials.gov/ct2/show/study/NCT00471887')">
								NCT00471887
							</button></td>
							<td>Ticilimumab (CP-675,206) in Treating Patients With Stage IIIC or Stage IV Melanoma</td>
							<td>Phase 2</td>
							<td>34</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<div class="pull-right">
					<a href="#/protocols_table" style="color: black;">More...</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
		
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
	}); 
</script>