﻿<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span>PROTOCOLS</span></th>
						</tr>
					</thead>
					<tbody id="cytokinelist-data" class="searchable">
						<tr>
							<td>PROTOCOL SUMMARY AND OR SCHEMA</td>
						</tr>
						<tr>
							<td>OBJECTIVES AND SCIENTIFIC AIMS</td>
						</tr>
						<tr>
							<td>BACKGROUND AND RATIONALE</td>
						</tr>
						<tr>
							<td>OVERVIEW OF STUDY DESIGN / INTERVENTION</td>
						</tr>
						<tr>
							<td>DESIGN</td>
						</tr>
						<tr>
							<td>INTERVENTION</td>
						</tr>
						<tr>
							<td>THERAPEUTIC/DIAGNOSTIC AGENTS</td>
						</tr>
						<tr>
							<td>CRITERIA FOR SUBJECT ELIGIBILITY</td>
						</tr>
						<tr>
							<td>SUBJECT INCLUSION CRITERIA</td>
						</tr>
						<tr>
							<td>SUBJECT EXCLUSION CRITERIA</td>
						</tr>
						<tr>
							<td>RECRUITMENT PLAN</td>
						</tr>
						<tr>
							<td>PRETREATMENT EVALUTION</td>
						</tr>
						<tr>
							<td>TREATMENT/INTERVENTION PLAN</td>
						</tr>
						<tr>
							<td>EVALUATION DURING TREATMENT/INTERVENTION</td>
						</tr>
						<tr>
							<td>TOXICTIES/SIDE EFFECTS</td>
						</tr>
						<tr>
							<td>CRITERIA FOR THERAPEUTIC RESPONSE/OUTCOME ASSESSMENT</td>
						</tr>
						<tr>
							<td>BIOSTATISTICS</td>
						</tr>
						<tr>
							<td>RESEARCH PARTICIPANT REGISTRATION AND RANDOMIZATION PROCEDURES</td>
						</tr>
						<tr>
							<td>RESEARCH PARTICIPANT REGISTRATION</td>
						</tr>
						<tr>
							<td>RANDOMIZATION</td>
						</tr>
						<tr>
							<td>DATA MANAGEMENT ISSUES</td>
						</tr>
						<tr>
							<td>QUALITY ASSURANCE</td>
						</tr>
						<tr>
							<td>DATA AND SAFETY MONITORING</td>
						</tr>
						<tr>
							<td>PROTECTION OF HUMAN SUBJECTS</td>
						</tr>
						<tr>
							<td>PRIVACY</td>
						</tr>
						<tr>
							<td>SERIOUS ADVERSE EVENT (SAE) REPORTING</td>
						</tr>
						<tr>
							<td>INFORMED CONSENT PROCEDURES</td>
						</tr>
						<tr>
							<td>REFERENCES</td>
						</tr>
						<tr>
							<td>APPENDICES</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));</script>