<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper card-2">
				<div class="bottom" style="float: right;">
					<a class="btn btn-primary">New</a>
					<a class="btn btn-primary" style="margin : 0px 20px;">Share</a>
					<a class="btn btn-primary">Upload</a>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">NAME</span></th>
							<th><span class="htitle">OWNER</span></th>
							<th><span class="htitle">DATE OF CREATION</span></th>
							<th><span class="htitle">VERSION</span></th>
							<th><span class="htitle">SIZE</span></th>
							<th><span class="htitle">FILES</span></th>
							<th><span class="htitle">SHARED WITH</span></th>
							<th><span class="htitle">NOTES</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>PICI2-01881867</td>
							<td>Tom Hussy</td>
							<td>07/18/2016</td>
							<td>1</td>
							<td>86.1 Mb</td>
							<td><i class="fa fa-folder-o" aria-hidden="true"></i></td>
							<td><i class="fa fa-users" aria-hidden="true"></i></td>
							<td><i class="fa fa-sticky-note-o" aria-hidden="true"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable(applyLast = true);
	}); 
</script>