<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper card-2">
				<div style="text-align: center;">
					<span style="font-size: 1.5em;">Summary : Selected 5 Patients</span>
				</div>
				<br>
				<table class="table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th data-defaultsort='disabled'><input id="all-subjects" type="checkbox"/></th>
							<th style="text-align: left;">Subjects</th>
							<th> Sex </th>
							<th> Age </th>
							<th> Demographics</th>
							<th> Date Of Admission </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox"/></td>
							<td><a>Janet Johnson</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td><a>Nick Nightingale</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td><a>Francis Frasier</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td><a>Dewey Donald</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td><a>Shana Schwartz</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#homebutton").show();
		$("#top-right-holder").show();
		$("#all-subjects").on('change',function(){
			if($(this).prop('checked')){
				$("tbody input[type='checkbox']").prop('checked', true);
				return;
			}
			$("tbody input[type='checkbox']").prop('checked', false);
		});
	}); 
</script>