<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="main-div-wrapper card-2">
				<form id="">
					<div class="form-group">
						<select id="select_study" class="form-control">
							<option value="">Select Study</option>
						</select>
					</div>
					<div class="form-group">
						&nbsp;<h4 >Select file:</h4>
						<form action="/" method="post" name="upload">
							<input type="file" multiple name="file" />
						</form>
					</div>
					<div class="row">
						<div class="col-md-12">
							<a class="btn btn-primary btn-block">Upload</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script id="study-title-options-template" type="text/template">
	{{#rows}}
		<option value="{{studyid}}">{{studytitle}}</option>
	{{/rows}}
</script>
<script type="text/javascript">
  $(function(){
  		var qry = {'studyid' : {$ne : ""}};
		var studies = db2.getCollection('STUDIES').findObjects(qry);
		$('#select_study').append(prepareHtml('study-title-options-template')(studies));
  });
</script>