<style type="text/css">
	.glyphicon-star {
		color: blue;
	}
	.glyphicon-record {
		color: red;
	}
	.glyphicon-stop {
		color: green;
	}
	.google-visualization-tooltip-item-list .google-visualization-tooltip-item {
		margin: 0px;
		padding: 0px;
	}
	.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child {
		margin: 0px;
		padding: 0px;
	}
	#select_study {
		float:left;
		width: 90%;
		margin-bottom:20px;
	}
	
	@media screen and (max-width: 1200px){
		#select_study {
			float:left;
			width: 70%;
			margin-bottom:20px;
		}	
	}
	
	#compare {
		float:right;
	}
</style>

<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table-wrapper card-2">
				<select class="form-control" id="select_study">
					<option value="">Select Study</option>
				</select>
				<a class="btn btn-primary" id="compare"  onclick="$('body').trigger('compare-screen');">Compare</a>
				<table class="table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span>Subjects</span></th>
							<th>
							<input class="pull-left" type="checkbox"/>
							<span>Visit-1</span></th>
							<th>
							<input class="pull-left" type="checkbox"/>
							<span>Visit-2</span></th>
							<th>
							<input class="pull-left" type="checkbox"/>
							<span>Visit-3</span></th>
							<th>
							<input class="pull-left" type="checkbox"/>
							<span>Visit-4</span></th>
							<th>
							<input class="pull-left" type="checkbox"/>
							<span>Visit-5</span></th>
						</tr>
					</thead>
					<tbody id="study-details" class="searchable">
						<tr>
							<td>
							<input class="pull-left" style="margin: 3px;" type="checkbox"/>
							<span class="pull-left">PID-1</span>
							</td>
							<td> Adverse Events(2)
							<br>
							<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-star"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
							<td> Adverse Events(2) </td>
							<td> Adverse Events(3) </td>
							<td> Adverse Events(1) </td>
							<td> Adverse Events(0) </td>
						</tr>
						<tr>
							<td>
							<input class="pull-left" style="margin: 3px;" type="checkbox">
							<span class="pull-left">PID-2</span></td>
							<td> Adverse Events(2)
							<br>
							<span class="glyphicon glyphicon-star"></span></td>
							<td> Adverse Events(0) </td>
							<td> Adverse Events(4) </td>
							<td> Adverse Events(5) </td>
							<td> Adverse Events(2) </td>
						</tr>
						<tr>
							<td>
							<input class="pull-left" style="margin: 3px;" type="checkbox"/>
							<span class="pull-left">PID-3</span></td>
							<td> Adverse Events(4)
							<br>
							<span class="glyphicon glyphicon-record"></span></td>
							<td> Adverse Events(7)
							<br>
							<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
							<td> Adverse Events(3)
							<br>
							<span class="glyphicon glyphicon-star"></span></td>
							<td> Adverse Events(1) </td>
							<td> Adverse Events(1) </td>
						</tr>
						<tr>
							<td>
							<input class="pull-left" style="margin: 3px;" type="checkbox"/>
							<span class="pull-left">PID-4</span></td>
							<td> Adverse Events(6) </td>
							<td> Adverse Events(5)
							<br>
							<span class="glyphicon glyphicon-stop"></span></td>
							<td> Adverse Events(5) </td>
							<td> Adverse Events(4) </td>
							<td> Adverse Events(2)
							<br>
							<span class="glyphicon glyphicon-star"></span></td>
						</tr>
						<tr>
							<td>
							<input class="pull-left" style="margin: 3px;" type="checkbox"/>
							<span class="pull-left">PID-5</span></td>
							<td> Adverse Events(5) </td>
							<td> Adverse Events(6) </td>
							<td> Adverse Events(4)
							<br>
							<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
							<td> Adverse Events(2)
							<br>
							<span class="glyphicon glyphicon-record"></span></td>
							<td> Adverse Events(0) </td>
						</tr>
						<tr>
							<td>
							<input class="pull-left" style="margin: 3px;" type="checkbox"/>
							<span class="pull-left">PID-6</span></td>
							<td> Adverse Events(0) </td>
							<td> Adverse Events(4)
							<br>
							<span class="glyphicon glyphicon-record"></span></td>
							<td> Adverse Events(7)
							<br>
							<span class="glyphicon glyphicon-stop"></span>&nbsp;<span class="glyphicon glyphicon-record"></span></td>
							<td> Adverse Events(5) </td>
							<td> Adverse Events(3) </td>
						</tr>
					</tbody>
				</table>
				<h4 class="pull-left">Legend: IHC=<span class="glyphicon glyphicon-record"></span> &nbsp;&nbsp; Flow=<span class="glyphicon glyphicon-stop"></span>&nbsp;&nbsp; Cytokine=<span class="glyphicon glyphicon-star"></span></h4>
			</div>
		</div>
	</div>
</div>

<script id="study-title-options-template" type="text/template">
	{{#rows}}
		<option value="{{studyid}}">{{studytitle}}</option>
	{{/rows}}
</script>

<script type="text/javascript">
	$(function(){
		var qry = {'studyid' : {$ne : ""}};
		var studies = db2.getCollection('STUDIES').findObjects(qry);
		$('#select_study').append(prepareHtml('study-title-options-template')(studies));
	});
</script>