<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-wrapper card-2">
				<!-- div style="margin-bottom: 15px;" class="pull-right">
					<a class="btn btn-primary disabled" id="create-data-id"  onclick="$('body').trigger('create-data-set');">Create Data Set</a>
				</div -->
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<!-- th><span class="htitle"></span></th -->
							<th><span class="htitle">STUDY ID</span></th>
							<th><span class="htitle" style="white-space: nowrap;">NCT-NUMBER</span></th>
							<th><span class="htitle">TITLE</span></th>
							<th><span class="htitle">PHASE</span></th>
							<th><span class="htitle">STATUS</span></th>
							<th><span class="htitle" style="white-space: nowrap;">START DATE</span></th>
							<th><span class="htitle" style="white-space: nowrap;">END DATE</span></th>
						</tr>
					</thead>
					<tbody id="study-list"></tbody>
				</table>
			</div>
		</div>

	</div>
	<br/>
</div>
<script id='study-template' type="text/template">
	{{#rows}}
	<tr>
	<!-- td>
	<input style="margin-left: 10px;margin-top: 10px;alignment-adjust: central" type="checkbox"/>
	</td -->
	<td style="text-align: center;white-space: nowrap;" data-title="STUDY ID">
		<a onclick="$('body').trigger('full-study-view',['{{studyid}}']);">{{studyid}}</a>
	</td>
	<td style="text-align: center" data-title="NCT-NUMBER">
		<a class="nctlink" onclick="nctLink('{{url}}')">{{ctorgid}}</a>
	</td>
	<td style="text-align: left;" data-title="TITLE">
		{{studytitle}}
	</td>
	<td style="text-align: left" data-title="PHASE">
		{{phase}}
	</td>
	<td style="text-align: left" data-title="STATUS">
		{{status}}
	</td>
	<td style="text-align: left" data-title="START DATE">
		{{startdate}}
	</td>
	<td style="text-align: center" data-title="END DATE">
		{{completiondate}}
	</td>
	</tr>
	{{/rows}}
</script>

<script type="text/javascript">
	$(function() {
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$('.pg-holder').hide();
		function renderStudyList(rows) {
			var StudyTemplate = $('#study-template').html();
			var StudyHtml = Mustache.to_html(StudyTemplate, {
				'rows' : rows
			});
			$("#study-list").html(StudyHtml);
			$.bootstrapSortable( applyLast = true);
		}

		var qry = {
			'studyid' : {
				$ne : ""
			}
		},
		    rows = [],
		    pageHitCount = 1,
		    startRange = 0;
		function bootsrapPageRendering() {
			rowStudies = db2.getCollection('STUDIES').findObjects(qry);
			rowStudies.forEach(function(study, index){
				if($.inArray(study.studyid.trim(), ['PICI2-01881867' ,'PICI2-02506114', 'PICI2-01530984', 'PICI2-02643667']) === -1 && (study.studyid.trim()).substr(0, 5) !== 'PICI1') rows.push(study);
			});
			//if total rows count is less than 50,pagination not required
			if (rows.constructor === Array && rows.length > 50)
				$('.pg-holder').show();
			renderStudyList(onLeft(rows, startRange, pageHitCount));
		}

		if (!Storage.getItem('DATASOURCES')) {
			setTimeout(function() {
				bootsrapPageRendering();
			}, 10000);
			return;
		}
		bootsrapPageRendering();

		$('#pg-left').click(function() {
			pageHitCount = pageHitCount - 1;
			startRange = startRange - 50;
			renderStudyList(onLeft(rows, startRange, pageHitCount));
		});

		$('#pg-right').click(function() {
			pageHitCount = pageHitCount + 1;
			startRange = startRange + 50;
			renderStudyList(onRight(rows, startRange, pageHitCount));
		});

	}); 
</script>
