<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="main-div-wrapper card-2">
				<div>
					<p>
						<h5>AuthToken  : FGCCVHXDFGHUIJKO65GTY</h5>
						<h5>Headers  :</h5>
						<h5>API Endpoint  : https://api.icore.com/v1/ihc/</h5>
						<h5>Request : </h5>
						<textarea class="form-control" cols="100" rows="8" align="center" width="50%">
						</textarea>
						<a class="btn btn-primary" style="margin: 20px 0px;">Execute</a>
						<h5>Response : </h5>
						<textarea class="form-control" cols="100" rows="8" align="center">
						</textarea>
						<a class="btn btn-primary" style="margin-top: 20px;">Download Data</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>