<form id="signup_form">
	<div class="container animated fadeInUp" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="black-glass pad20">
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" name="first_name" id="first_name" class="form-control input-md" placeholder="Firstname">
						</div>
						<div class="form-group">
							<input type="text" name="institute" id="institute" class="form-control input-md" placeholder="Institution Name">
						</div>
						<div class="form-group">
							<input type="text" name="uname" id="uname" class="form-control input-md" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-md" placeholder="Password">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" name="last_name" id="last_name" class="form-control input-md" placeholder="Lastname">
						</div>
						<div class="form-group">
							<input type="text" name="dob" id="dob" class="form-control input-md" placeholder="Date of Birth">
						</div>
						<div class="form-group">
							<input type="email" name="email" id="email" class="form-control input-md" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-md" placeholder="Confirm Password">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<input type="text" name="jprofile" id="jprofile" class="form-control input-md" placeholder="Job Profile">
						</div>
						<div class="form-group">
							<textarea name="desc" id="desc" class="form-control input-md" placeholder="Description"></textarea>
						</div>
						<div class="form-group">
							<select class="form-control">
								<option>Security Question1</option>
								<option>Security Question2</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter Answer"/>
						</div>
						<div class="form-group">
							<select class="form-control">
								<option>Security Question2</option>
								<option>Security Question1</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter Answer"/>
						</div>
						<div class="form-group">
							<a id="register_button" class="btn btn-primary btn-block"> Register </a>
						</div>
					</div>
					<p class="text-center" style="color: black;">
						Already have an account? <a href="#/login" onclick="$('body').trigger('login-screen');">Sign in</a>
					</p>
					<p style="letter-spacing: 2px;font-size: .7em;text-align: center;color: black;font-weight: bold;">
                        Privacy Policy <b>|</b> Terms & Conditions
					</p>
				</div>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
	$(function() {
		$("#menubutton").hide();
		$("#homebutton").hide();
		$("#top-right-holder").hide();
	}); 
</script>
