<style type="text/css" media="screen">
	.summary-chart {
		height: 100px;
		border: 1px solid black;
		width: 100%;
	}

	.styled-select {
		text-align: center;
		background-color: #F5F5F5;
		appearance: none;
		-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */
		border: none;
	}

	#ihc-screen * {
		color: black;
	}
	table tr td:nth-child(1) {
    	width:20%;
	}
	
	.source-visit,.trend-visit {
		cursor : pointer;
	}
</style>
<div class="container-fluid">
	<div class="row" style="margin-top: 15px;">
		<div class="col-sm-12">
			<div class="card-panel pull-right text-right">
				<p class="hospital-data" onclick="$('body').trigger('study-details');" style="cursor: pointer;">
					<span>Study Name:</span>
					<span id="patient-study-title">A Neoadjuvant Phase IIa Study of Ipilimumab</span>
					<br/>
					<span>Primary investigator:</span>
					Padmanee Sharma, MD, PHD	M.D. Anderson Cancer Center
				</p>
			</div>
			<div class="card-1" style="background: white;padding-left: 10px">
				<!-- onclick="$('body').trigger('patient-details');" -->
				<table border="0">
					<tr>
						<td width="90px" align="center" valign="middle"><img id="user_pic" src="img/male.png" width="90"></td>
						<td  width="90%" style="padding:10px;padding-left: 20px;" align="center">
						<p class="profile-data text-left" style="margin-top: 10px;">
							<a onclick="$('body').trigger('patient-details1');"><span>Subject:</span>
							PID-1</a>
							<br/>
							<span>Name:</span>
							<span id="name" style="font-weight: normal;">XXXX XXXX</span>
							<br/>
							<span>Age:</span>
							<span id="age" style="font-weight: normal;">XX</span>
							<br/>
							<span>Gender:</span>
							<span id="gender" style="font-weight: normal;">X</span>
							<br/>
							<a id="identify">Identify</a>
						</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="mrow animated fadeInUp" id="ihc-screen">
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-empire"></i>Cytokine</h4>
				<div class="pad10">
					<table class="table table-condensed table-hover">
						<thead>
							<th> MARKER </th>
							<th></th>
						</thead>
						<tbody id="cytokine-summary-chart"></tbody>
					</table>
				</div>
				<div class="pad10">
					<a onclick="$('body').trigger('cytokine-screen');" style="text-decoration:none;float:right;">more...</a>
					<span class="text-left source-visit">Show Data Source <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span>
					<div class="pad10" id="common-trend-chart" style="display:none;">
						<table class="table-bordered  table-condensed cf table-hover">
							<tr>
								<td>Process Data</td>
								<td>4284</td>
							</tr>
							<tr>
								<td>Raw Data</td>
								<td>1 File</td>
							</tr>
							<tr>
								<td>Box Upload status</td>
								<td>Complete</td>
							</tr>
							<tr>
								<td>Raw Data Location</td>
								<td>IMT Network Drive</td>
							</tr>
							<tr>
								<td>System/Data Flow</td>
								<td>Not Available</td>
							</tr>
							<tr>
								<td>Assay Instrument</td>
								<td>MSD V-PLEX</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="clearfix section-head" data-screenname="images"><i class="fa fa-line-chart"></i>IHC</h4>
				<select class="styled-select pull-right styledselect1" style="margin:0px;padding:0px;margin-top: -40px;">
					<option value="Density" selected="selected">Density</option>
					<option value="Percent">Percent</option>
					<option value="H-Score">H-score</option>
				</select>
                <div class="pad10">
					<table class="table table-condensed table-hover">
						<thead style="display:block;">
							<th>MARKER</th>
							<th></th>
						</thead>
						<tbody id="ihc-summary-chart"></tbody>
					</table>
				</div>
				<div class="pad10">
					<a onclick="$('body').trigger('ihc-screen');" style="text-decoration:none;float: right;">more...</a>
					<span class="text-left source-visit">Show Data Source <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span>
					<div class="pad10" id="common-trend-chart" style="display:none;">
						<table class="table-bordered  table-condensed cf table-hover">
							<tr>
								<td>Process Data</td>
								<td>1326</td>
							</tr>
							<tr>
								<td>Raw Data</td>
								<td>16 of 483 images</td>
							</tr>
							<tr>
								<td>Box Upload status</td>
								<td>Partial</td>
							</tr>
							<tr>
								<td>Raw Data Location</td>
								<td>IMT Network Drive</td>
							</tr>
							<tr>
								<td>System/Data Flow</td>
								<td>Available</td>
							</tr>
							<tr>
								<td>Assay Instrument</td>
								<td> Aperio VERSA </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="clearfix section-head" data-screenname="images"><i class="fa fa-link"></i>Flow Cytometry</h4>
				<select class="styled-select pull-right styledselect2" style="margin:0px;padding:0px;margin-top: -40px;">
					<option value="Percent" selected="selected">Percent</option>
				</select>
                <div class="pad10">
					<table class="table table-condensed table-hover">
						<thead style="display:block;">
							<th> POPULATION </th>
							<th style="padding-left:150px;"> RESULT </th>
						</thead>
						<tbody id="flowcytometry-chart"></tbody>
					</table>
				</div>
				<!-- div style="padding-left:10px;padding-bottom:10px;">
					<span class="text-left trend-visit">Show Trend <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span>
					<div class="pad10" id="common-trend-chart" style="display:none">
						<img src="img/mocks/cyto.png" width="100%"/>
					</div>
				</div -->
				<div class="pad10">
					<a onclick="$('body').trigger('flowcytometry-screen');" style="text-decoration:none;float: right;">more...</a>
					<span class="text-left source-visit">Show Data Source <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span>
					<div class="pad10" id="common-trend-chart" style="display:none;">
						<table class="table-bordered  table-condensed cf table-hover">
							<tr>
								<td>Process Data</td>
								<td>4182</td>
							</tr>
							<tr>
								<td>Raw Data</td>
								<td>51 of 3778 Files</td>
							</tr>
							<tr>
								<td>Box Upload status</td>
								<td>Partial</td>
							</tr>
							<tr>
								<td>Raw Data Location</td>
								<td>IMT Network Drive</td>
							</tr>
							<tr>
								<td>System/Data Flow</td>
								<td>Not Available</td>
							</tr>
							<tr>
								<td>Assay Instrument</td>
								<td>BD FACSCanto</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-history"></i>Clinical History</h4>
				<div id="clinical-history-chart"><a onclick="$('body').trigger('spv-tl')"> View Timeline</a></div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-file-text-o"></i>Collection</h4>
				<div class="pad10">
					<table class="table table-condensed table-hover">
						<thead>
							<th>DATE</th>
							<th>SPECIMEN</th>
							<th>IPTP</th>
						</thead>
						<tbody id="collection-summary-chart"></tbody>
					</table>
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('collection-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-flask"></i>Clinical Labs</h4>
				<div class="pad10">
					<table class="table table-condensed table-hover">
						<thead>
							<th>OBSERVATION DATE</th>
							<th>RESULT</th>
							<th>MEASURE</th>
						</thead>
						<tbody id="clinical-labs-chart"></tbody>
					</table>
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('clinical-labs-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-pencil-square-o"></i>Treatments</h4>
				<div class="pad10">
					<table class="table table-condensed table-hover">
						<thead>
							<th>DATE</th>
							<th>INTERVENTION</th>
							<th>TREATMENT</th>
						</thead>
						<tbody id="treatment-summary-chart"></tbody>
					</table>
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('treatments-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-tasks"></i>Adverse Events</h4>
				<div class="pad10">
					<table class="table table-condensed table-hover">
						<thead>
							<th>EVENT</th>
							<th>GRADE</th>
							<th>ONSET-DATE</th>
						</thead>
						<tbody id="adverse-summary-chart"></tbody>
					</table>
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('adverse-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-file-text-o"></i>Life Style</h4>
				<div class="pad10 table-responsive">
					<table class="table table-condensed table-hover">
						<thead>
							<th>DATE-VALUE</th>
							<th>
								<select class="styled-select" style="padding:0px 2px;border-radius: 4px !important;">
									<option value="Percent" selected="selected">QUESTION</option>
								</select>
							</th>
							<th>TIMEPOINT</th>
							<th>SCORE</th>
						</thead>
						<tbody>
							<tr>
								<td>09/28/2015</td>
								<td>CES-D</td>
								<td>A</td>
								<td>17</td>
							</tr>
							<tr>
								<td>10/14/2015</td>
								<td>SCI-D</td>
								<td>A</td>
								<td>2</td>
							</tr>
							<tr>
								<td>10/09/2015</td>
								<td>MDASI</td>
								<td>A</td>
								<td>13</td>
							</tr>
							<tr>
								<td>11/09/2015</td>
								<td>Social Provisions</td>
								<td>A</td>
								<td>62</td>
							</tr>
							<tr>
								<td>12/09/2015</td>
								<td>GODIN</td>
								<td>A</td>
								<td>94</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('response-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-file-text-o"></i>TCR-SEQ</h4>
				<div class="pad10">
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('ngs-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-file-text-o"></i>Response</h4>
				<div class="pad10">
					<table class="table table-condensed table-hover">
						<thead>
							<th>DATE</th>
							<th>TIMEPOINT</th>
							<th>RECIST RESPONSE</th>
						</thead>
						<tbody>
							<tr>
								<td>09/28/2015</td>
								<td>A</td>
								<td>PD</td>
							</tr>
							<tr>
								<td>10/14/2015</td>
								<td>C</td>
								<td>PR</td>
							</tr>
							<tr>
								<td>10/09/2015</td>
								<td>D</td>
								<td>CR</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('response-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-file-text-o"></i>Nanostring</h4>
				<div class="pad10">
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('nanostring-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-file-text-o"></i>NGS</h4>
				<div class="pad10">
				</div>
				<div class="pad10" style="padding-bottom: 23px;">
					<a onclick="$('body').trigger('ngs-screen');" style="text-decoration:none;float: right;">more...</a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-image"></i>Radiology Images</h4>
				<div id="images-container" class="text-center" style="margin:5px;">
					<a href="img/cancer/img6.jpg">
					<div class="inline-image">
						<img src="img/cancer/img6.jpg" width="100%" />
					</div> </a>
					<a href="img/cancer/img4.jpg">
					<div class="inline-image">
						<img src="img/cancer/img4.jpg" width="100%" />
					</div> </a>
					<a href="img/cancer/img3.jpg">
					<div class="inline-image">
						<img src="img/cancer/img3.jpg" width="100%" />
					</div> </a>
					<a href="img/cancer/img1.jpg">
					<div class="inline-image">
						<img src="img/cancer/img1.jpg" width="100%" />
					</div> </a>
				</div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1">
				<h4 class="section-head" data-screenname="vital"><i class="fa fa-user-md"></i>Clinical Study Team</h4>
				<div id="mynetwork" style="height: 450px;"></div>
			</div>
		</div>
		<div class="mitem">
			<div class="card-panel card-1 ">
				<h4 class="section-head" data-screenname="images"><i class="fa fa-spinner"></i>Micro RNA</h4>
				<div class="pad10">
					<div id="micro-rna-summary-chart" class="summary-chart"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script id="marker_row_temp" type="text/template">
	{{#rows}}
	<tr>
		<td valign="middle" class="leftpad-20">
			<p>
				{{marker}}
			</p>
		</td>
		<td valign="middle">
			<span id="{{id}}">Loading..</span>
		</td>
	</tr>
	{{/rows}}
</script>
<script id="clab_summary_temp" type="text/template">
	{{#rows}}
    <tr>
        <td>
            {{observation}}
        </td>
        <td>
            {{result}}
        </td>
        <td>
            {{unit}}
        </td>
    </tr>
	{{/rows}}
</script>
<script id="collection_summary_temp" type="text/template">
	{{#rows}}
    <tr>
        <td style="text-align: left;">
            {{collectiondate}}
        </td>
        <td>
            {{specimen}}
        </td>
        <td>
            {{iptp}}
        </td>
    </tr>
	{{/rows}}
</script>
<script id="treatment_summary_temp" type="text/template">
	{{#rows}}
    <tr>
        <td style="text-align: left;">
            {{completedate}}
        </td>
        <td style="text-align: center;">
            {{intervention}}
        </td>
        <td style="text-align: left;">
            {{treatment}}
        </td>
    </tr>
	{{/rows}}
</script>
<script id="adverse_summary_temp" type="text/template">
	{{#rows}}
    <tr>
        <td style="text-align: left;">
            {{adverseevent}}
        </td>
        <td>
            {{grade}}
        </td>
        <td>
            {{onsetdate}}
        </td>
    </tr>
	{{/rows}}
</script>
<script type="text/javascript">
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo(LS.get_data('LOGGEDINUSER'))));
		
		$('body').on('click', '#cyto-VEGF-C', function(){
			$('body').trigger('cyto-flip');
		});
		
		$('body').on('click', '#ihc-CC-3', function(){
			$('body').trigger('ihc-flip');
		});
		
		$('body').on('click', '#fcm-MDC', function(){
			$('body').trigger('flow-flip');
		});
		
		var toggle = true;
		$('#identify').click(function(){
			if(toggle){
				$('#user_pic').attr('src', 'https://randomuser.me/api/portraits/men/40.jpg');
				$('#name').html('John Doe');
				$('#age').html('33');
				$('#gender').html('Male');
				$('#identify').html('de-identify');
				toggle = false;
				return;
			}
			$('#user_pic').attr('src', 'img/male.png');
			$('#name').html('XXXX XXXX');
			$('#age').html('XX');
			$('#gender').html('X');
			$('#identify').html('Identify');
			toggle = true;
		});
		
		$('#patient-study-title').html(function(){
			var currentStudy = db2.getCollection('STUDIES').find({'studyid' : LS.get_data('STUDYID')});
			return currentStudy[0].studytitle;
		});
		
		var scrollCSS = {"display":"block",
						 "overflow-y":"auto",
						 "height":"200px",
					     "padding-right":"10px"};
		//blueimg gallery
		document.getElementById('images-container').onclick = function(event) {
			event = event || window.event;
			var target = event.target || event.srcElement,
			    link = target.src ? target.parentNode : target,
			    options = {
				index : link,
				event : event
			},
			links = this.getElementsByTagName('a');
			blueimp.Gallery(links, options);
		};
		
		$(".source-visit").click(function() {
			var display = $(this).siblings('#common-trend-chart').css('display');
			$(this).html('Hide Data Source <i class="fa fa-angle-up fa-lg" aria-hidden="true"></i>');
			$(this).next().addClass("animated bounceIn").show();
			if (display === 'block') {
				$(this).html('Show Data Source <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>');
				$(this).next().hide();
			}
		});
		
		$(".trend-visit").click(function() {
			var display = $(this).siblings('#common-trend-chart').css('display');
			$(this).html('Hide Trend <i class="fa fa-angle-up fa-lg" aria-hidden="true"></i>');
			$(this).next().addClass("animated bounceIn").show();
			if (display === 'block') {
				$(this).html('Show Trend <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>');
				$(this).next().hide();
			}
		});

		$("#name-of-card").click(function() {
			document.querySelector(".flipper").classList.toggle("flip");
		});
		
		function drawChart(chartHolderId, customOptions, chartData){
			var Options = jQuery.extend(true, {}, {
						type : 'line',
						width : '100%',
						height : 20,
						spotRadius : 4,
						fillColor : '#f5f5f5',
						lineColor : '#7f7f00'
					}, customOptions);		
			$("#" + chartHolderId).sparkline(chartData, Options);
		}
		
		function renderCytokineSummary() {
			var qry = {"result" : {$ne : "NULL"}}, cytokineRecords = [], renderObject = {}, markers = [];

			if ($('#select-pid').val()) qry.cpan = $('#select-pid').val();
			
			cytokineRecords = db2.getCollection('CYTOKINE').findObjects(qry);
			cytokineRecords.forEach(function(obj) {
				if (!renderObject[obj.marker]) renderObject[obj.marker] = [];
				if (!isNaN(obj.result)) renderObject[obj.marker].push(obj.result);
			});
			
			$.each(renderObject, function(key, value) {
				if (value.length) markers.push({'marker' : key,
								  			    'id' : 'cyto-' + key.replace(/ |\?|\//g, '-')});
			});
			
			if(markers.length > 5)
				$('#cytokine-summary-chart').css(scrollCSS);
			
			$("#cytokine-summary-chart").html(prepareHtml('marker_row_temp')(markers));
			
			$.each(renderObject, function(key, value) {
				if (value.length > 1) {
					drawChart('cyto-' + key.replace(/ |\?|\//g, '-'), {}, value);
					return;
				}
				$("#" + 'cyto-' + key.replace(/ |\?|\//g, '-')).html(value);
			});
		}

		// ---------------------------------------------------------------------------------------------------------

		//rendering IHC SUMMARY
		function renderIHCSummary() {
			var qry = {
				"measure" : $('.styledselect1').val() || 'Density',
				"result" : {
					$ne : "NULL"
				}
			}, ihcRecords = [], renderObject = {}, markers = [];

			if ($('#select-pid').val()) qry.pan = $('#select-pid').val();

			ihcRecords = db2.getCollection('IHC').findObjects(qry);			
			ihcRecords.forEach(function(obj) {
				if (!renderObject[obj.marker]) renderObject[obj.marker] = [];
				if (!isNaN(obj.result)) renderObject[obj.marker].push(obj.result);
			});

			$.each(renderObject, function(key, value) {
				if (value.length) markers.push({'marker' : key,
								  			    'id' : 'ihc-' + key.replace(/ /g, '-')});
			});
			
			if(markers.length > 5)
				$('#ihc-summary-chart').css(scrollCSS);
				
			$("#ihc-summary-chart").html(prepareHtml('marker_row_temp')(markers));

			$.each(renderObject, function(key, value) {
				if (value.length > 1) {
					drawChart('ihc-' + key.replace(/ /g, '-'), {}, value);
					return;
				}
				$("#" + 'ihc-' +  key.replace(/ /g, '-')).html(value);
			});
		}


		$('.styledselect1').on('change', function() {
			renderIHCSummary();
		});

		//rendering FlowCytoMetry(FCM) SUMMARY
		function renderFCMSummary() {
			var qry = {
				"measure" : $('.styledselect2').val() || 'Percent',
				"result" : {
					$ne : "NULL"
				}
			}, FCMRecords = [], count = 0, renderObject = {}, markers = [];

			if ($('#select-pid').val())
				qry.pan = $('#select-pid').val();

			FCMRecords = db2.getCollection('FLOWCYTOMETRY').findObjects(qry);
			FCMRecords.forEach(function(obj) {
				if (obj.marker && !renderObject[obj.marker]) renderObject[obj.marker] = [];
				if (!isNaN(obj.result)) renderObject[obj.marker].push(obj.result);
			});

			$.each(renderObject, function(key, value) {
				if (value.length >= 1) 
					markers.push({'marker' : key,
								  'id' : 'fcm-' + key.replace(/ |\+/g, '-')});
			});
			
			if(markers.length > 5)
				$('#flowcytometry-chart').css(scrollCSS);
				
			$("#flowcytometry-chart").html(prepareHtml('marker_row_temp')(markers));

			$.each(renderObject, function(key, value) {
				if (value.length > 1) {
					drawChart('fcm-' + key.replace(/ |\+/g, '-'), {type : 'box', tooltipContainer : $('#flowcytometry-chart')}, value);
					return;
				}
				$("#" + 'fcm-' + key.replace(/ |\+/g, '-')).html(value);
			});
		};

		$('.styledselect2').on('change', function() {
			renderFCMSummary();
		});

		//rendering COLLECTION SUMMARY
		function renderCollectionSummary() {
			var qry = {}, count = 0, collectionRecords = [];
			    
			if ($('#select-pid').val())
				qry.pan = $('#select-pid').val();

			collectionRecords = db2.getCollection('SPECIMEN').findObjects(qry);
			collectionRecords = $.grep(collectionRecords, function(record, index) {
				count++;
				return count <= 5;
			});
			$("#collection-summary-chart").html(prepareHtml('collection_summary_temp')(collectionRecords));
		};

		//rendering TREATMENTS SUMMARY
		function renderTreatmentSummary() {
			var qry = {}, count = 0, treatmentRecords = [];

			if ($('#select-pid').val())
				qry.cpan = $('#select-pid').val();

			treatmentRecords = db2.getCollection('TREATMENT').findObjects(qry);
			treatmentRecords = $.grep(treatmentRecords, function(record, index) {
				count++;
				return count <= 5;
			});
			
			$("#treatment-summary-chart").html(prepareHtml('treatment_summary_temp')(treatmentRecords));
		};

		//rendering Adverse Event SUMMARY
		function renderAdverseSummary() {
			var qry = {}, count = 0, adverseRecords = [];

			if ($('#select-pid').val())
				qry.cpan = $('#select-pid').val();

			adverseRecords = db2.getCollection('ADVERSEVENT').findObjects(qry);
			adverseRecords = $.grep(adverseRecords, function(record, index) {
				count++;
				return count <= 5;
			});
			$("#adverse-summary-chart").html(prepareHtml('adverse_summary_temp')(adverseRecords));
		};

		//rendering CLINICAL LABS SUMMARY
		function renderClabsSummary() {
			var qry = {}, clabRecord = '';

			if ($('#select-pid').val())
				qry.cpan = $('#select-pid').val();

			clabRecord = db2.getCollection('CLINICALLABS').findObject(qry);

			if (clabRecord) $("#clinical-labs-chart").html(prepareHtml('clab_summary_temp')([clabRecord]));
		};
		
		function renderClinicalHistory() {
			var Options = {
				width : '100%',
				height : '100%',
				hAxis : {
					textStyle : {
						fontSize : 10
					},
					slantedText : true
				},
				legend : {
					position : 'none'
				}
			};
			
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'string');
			data.addColumn('number', 'PSA Level-ng/mL');
			
			var clinicaLabs = db2.getCollection('CLINICALLABS').find({pid : 'PID- 2'});
			clinicaLabs.forEach(function(clinicaLab) {
				data.addRow([clinicaLab.observation, Number(clinicaLab.result)]);
			});
			
			var lineChart = new google.visualization.LineChart(document.getElementById('clinical-history-chart'));
			lineChart.draw(data, Options);
			$(window).smartresize(function() {
				lineChart.draw(data, Options);
			});
		}
		
		function renderFinalSummary(){
				renderCytokineSummary();
				renderIHCSummary();
				renderFCMSummary();
				renderClabsSummary();
				renderCollectionSummary();
				renderTreatmentSummary();
				renderAdverseSummary();
				/*return function(timeout){
					setTimeout(function() {renderClinicalHistory();}, timeout);
				};*/
		}

		if (!Storage.getItem('DATASOURCES')) {
			//(0)
			setTimeout(function() {renderFinalSummary();}, 10000);
			return;
		}
		//(2000)
		renderFinalSummary();
		
		//(2000)
		$(window).smartresize(function() {
			renderFinalSummary();
		});

		// ------------------------------- PATIENT-DOCTORS NETWORK GRAPH --------------------------
		// create an array with nodes
		var nodes = new vis.DataSet(),
			titles = ['Mr. ', 'Dr. ', 'Dr. ', 'Dr. ', 'Dr. ', 'Dr. ', 'Dr. ', 'Mr. ', 'Mr. '],
		    specializations = ['\nSubject', '\nStudy Director', '\nPrimary Investigator', '\nClinician/Oncologist', '\nGeneral Practitioner', '\nResearch Scientist', '\nResearch Scientist Associate', '\nClinical Study Coordinator', '\nLab Manager'];
		// create an array with edges
		var edges = new vis.DataSet([{
			from : 1,
			to : 2
		}, {
			from : 1,
			to : 3
		}, {
			from : 1,
			to : 4
		}, {
			from : 1,
			to : 5
		}, {
			from : 1,
			to : 6
		}, {
			from : 1,
			to : 7
		}, {
			from : 1,
			to : 8
		}, {
			from : 1,
			to : 9
		}]);

		$.ajax({
			url : 'https://randomuser.me/api/?results=9&gender=male&nat=us&inc=name,picture',
			dataType : 'json',
			success : function(data) {
				for (var i = 0; i < data.results.length; i += 1) {
					var name = data.results[i].name;
					name = (specializations[i] === '\nSubject')? 'John Doe' : name.first.substr(0,1).toUpperCase() + name.first.substr(1);
					nodes.add({
						id : i + 1,
						label : titles[i] + name + specializations[i],
						shape : 'circularImage',
						image : 'img/user.png',
						//image : (data.results[i].picture).medium,
						title : specializations[i]
					});
				}
				// create a network
				var container = document.getElementById('mynetwork');
				// provide the data in the vis format
				var data = {
					nodes : nodes,
					edges : edges
				};
				var options = {
					clickToUse : true,
					nodes : {
						borderWidth : 1,
						size : 20,
						color : {
							border : '#333',
							background : '#111'
						},
						font : {
							size : 11,
							color : '#222'
						},
						shapeProperties : {
							useBorderWithImage : true
						}
					},
				};
				// initialize your network!
				var network = new vis.Network(container, data, options);
			}
		});
	}); 
</script>