<div class="container animated fadeInDown">
	<div class="row" style="background: white;">
		<div class="col-sm-12" align="center">
			<iframe id="showncturl" src="" width="100%" style="height: 90vh;"></iframe>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		if(LS.get_data('NCT-URL') !== 'NULL'){
			$('#showncturl').attr('src', LS.get_data('NCT-URL'));
			LS.set_data('NCT-URL', 'NULL');
			return;
		}
		$('#showncturl').attr('src', 'https://goo.gl/PUV6JA');
	});
</script>