<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3></center>
			<div class="table-wrapper card-2">
				<center>
					<img src="img/study_response.png"/>
					<br/>
					<br/>
					<a href="#/response_table" class="btn btn-primary" style="color: white;">More...</a>
				</center>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
</script>
<!--div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<br>
				<br>
				<div class="table-responsive" style="display: inline-block;width: 100%;">
					<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
						<thead class="cf" style="background:#ffe5e5;">
							<tr>
								<th><span class="htitle">Tx</span></th>
								<th><span class="htitle">Start Date</span></th>
								<th><span class="htitle">Traget Lesion</span></th>
								<th><span class="htitle">T1 Baseline Measurement(mm)</span></th>
								<th><span class="htitle">Image(date/series/image)</span></th>
								<th><span class="htitle">T1 Tumor Measurement(mm)</span></th>
								<th><span class="htitle">Image(date/series/image)</span></th>
								<th><span class="htitle">Percent Change</span></th>
								<th><span class="htitle">RECIST Response</span></th>
							</tr>
						</thead>
						<tbody id="protocol_table" class="searchable"></tbody>
					</table>
				</div>
			</div>
			<br/>
		</div>
	</div>
</div -->
<script type="text/javascript">
/*	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
		
		//start of pagination relevant rendering logic
		function renderAdverseEvents(rows) {
			var adverseTemplate = $('#adverse_table_template').html();
			var adverseHtml = Mustache.to_html(adverseTemplate, {
				'rows' : rows
			});
			$("#adverse_date_table").html(adverseHtml);
			$.bootstrapSortable( applyLast = true);
		}

		var pageHitCount = 1,
		    startRange = 0,
		    qry = {};
		if ($('#select-pid').val())
			qry.cpan = $('#select-pid').val();
		var rows = db2.getCollection('ADVERSEVENT').findObjects(qry);

		//if total rows count is less than 50,pagination not required
		if (rows.constructor === Array && rows.length <= 50) {
			$('.pg-holder').hide();
			//renderAdverseEvents(rows);
		} else {
			//renderAdverseEvents(onLeft(rows, startRange, pageHitCount));
		}

		$('#pg-left').click(function() {
			pageHitCount = pageHitCount - 1;
			startRange = startRange - 50;
			//renderAdverseEvents(onLeft(rows, startRange, pageHitCount));
		});

		$('#pg-right').click(function() {
			pageHitCount = pageHitCount + 1;
			startRange = startRange + 50;
			//renderAdverseEvents(onRight(rows, startRange, pageHitCount));
		});

		//renderAdverseEvents(onLeft(rows, startRange, pageHitCount));

		//end of pagination relevant rendering logic

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); */
</script>
