<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><b><h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3></b><br><h5>BIOPSY</h5></center>
			<div class="table-wrapper card-2">
				<center><img src="img/study_timepoints.png"/></center>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
</script>