<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3></center>
			<div class="table-wrapper card-2">
				<center>
					<div class="doc-head">
						<input type="checkbox"/>
						<a>Specimen</a>
						<input type="checkbox"/>
						<a>Treatment</a>
						<input type="checkbox"/>
						<a>Adverse Events</a>
						<input type="checkbox"/>
						<a>Response</a>
						<input id="all" type="checkbox"/>
						<a>All</a>
					</div>
					<br/>
					<br/>
					<img src="img/mocks/timeline-img.jpg" class="img-responsive" style="background: white;width: 70%"/>
				</center>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
		
		$("#all").on('click', function(){
			window.location.href="#/timeline_evaltion";
		});
	}); 
</script>
