<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div class="input-group">
					<span class="input-group-addon">Filter</span>
					<input id="filter" type="text" class="form-control" placeholder="Type here...">
					<span id="search" class="input-group-addon"><i class="fa fa-search" style="color: black;"></i>&nbsp;Search</span>
				</div>
				<div id="container">
					<div class="query-holder">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-xs-4">
								<select class="form-control" name="tests">
									<option value="">QueryList</option>
								</select>
							</div>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<select class="form-control" name="tests">
									<option value="">Add Criteria</option>
								</select>
							</div>
						</div>
					</div>
					<div class="query-holder">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-xs-4">
								<select class="form-control selector1" name="study">
									<option value="">Study</option>
								</select>
							</div>
							<div class="col-sm-7 col-md-7 col-xs-7">
								<select class="form-control selector2" name="subject">
									<option value="0">Subject</option>
									<option value="1">Discovery Set</option>
									<option value="2">Validation</option>
									<option value="3">LG Group</option>
									<option value="4">NB Group</option>
								</select>
							</div>
							<div class="col-sm-1 col-md-1 col-xs-1">
								<button class="form-control btn btn-success" type="button">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="query-holder">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-xs-4">
								<select class="form-control" name="age">
									<option value="">Assays</option>
								</select>
							</div>
							<div class="col-sm-3 col-md-3 col-xs-3">
								<select class="form-control" name="gender">
									<option value="">Marker</option>
								</select>
							</div>
							<div class="col-sm-3 col-md-3 col-xs-3">
								<select class="form-control" name="gender">
									<option value="">Measure</option>
								</select>
							</div>
							<div class="col-sm-1 col-md-1 col-xs-1">
								<select class="form-control" name="gender">
									<option value="">&gt;</option>
								</select>
							</div>
							<div class="col-sm-1 col-md-1 col-xs-1">
								<select class="form-control" name="gender">
									<option value="">----</option>
								</select>
							</div>
						</div>
					</div>
					<div class="query-holder">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-xs-4">
								<select class="form-control" name="age">
									<option value="">Genes</option>
								</select>
							</div>
							<div class="col-sm-6 col-md-6 col-xs-6">
								<select class="form-control" name="gender">
									<option value="">Marker</option>
								</select>
							</div>
							<div class="col-sm-1 col-md-1 col-xs-1">
								<select class="form-control" name="gender">
									<option value="">&gt;</option>
								</select>
							</div>
							<div class="col-sm-1 col-md-1 col-xs-1">
								<select class="form-control" name="gender">
									<option value="">----</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

		$('.btn-success').on('click', function() {
			var template = $(this).closest('.row').html();
			$(this).closest('.query-holder').append('<div class="row slideInDown animated query-holder2">' + template + '</div>');
			$('.btn-success').prop('disabled', true);
			$('.query-holder2').find('.selector1').hide();
			$('.query-holder2').find('.selector2 option[value="1"]').prop('selected', true);
			$('#search').css('cursor', 'pointer');
		});

		if (Number(sessionStorage.getItem('SUB'))) {
			var template = $('.btn-success').closest('.row').html();
			$('.btn-success').closest('.query-holder').append('<div class="row query-holder2">' + template + '</div>');
			$('.btn-success').prop('disabled', true);
			$('.query-holder2').find('.selector1').hide();
			$('.query-holder2').find('.selector2 option[value="' + (Number(sessionStorage.getItem('SUB')) + 1) + '"]').prop('selected', true);
			$('#search').css('cursor', 'pointer');
		}

		$('#search').on('click', function() {
			if ($('.query-holder2').find('.selector2').val()) {
				sessionStorage.setItem('SUB', Number($('.query-holder2').find('.selector2').val()));
				$('body').trigger('cohorting_table_' + sessionStorage.getItem('SUB'));
				if (Number(sessionStorage.getItem('SUB')) === 4) {
					console.log('four reached');
					sessionStorage.setItem('SUB', 0);
				}
			}
		});
	}); 
</script>