<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">Patient ID</span></th>
							<th><span class="htitle">Sample Site</span></th>
							<th><span class="htitle">Largest Dimension</span></th>
							<th><span class="htitle">Biopsy type</span></th>
						</tr>
					</thead>
					<tbody id="adverse_date_table" class="searchable">
						<tr>
							<td>CR0095</td>
							<td>groin metastasis</td>
							<td>0.8</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>CR04885</td>
							<td>scalp metastasis 0.5</td>
							<td>0.5</td>
							<td>shave</td>
						</tr>

						<tr>
							<td>CR06670</td>
							<td>left thigh metastasis</td>
							<td>1.4</td>
							<td>excision</td>
						</tr>

						<tr>
							<td>CR1509</td>
							<td>gluteal metastasis</td>
							<td>2.5</td>
							<td>resection</td>
						</tr>

						<tr>
							<td>CR22640</td>
							<td>lung metastasis</td>
							<td>1.1</td>
							<td>resection</td>
						</tr>

						<tr>
							<td>CR3665</td>
							<td>breast metastasis</td>
							<td>21x16</td>
							<td>resection</td>
						</tr>

						<tr>
							<td>CR4880</td>
							<td>groin metastasis</td>
							<td>0.6</td>
							<td>resection</td>
						</tr>

						<tr>
							<td>CR6126</td>
							<td>elbow metastasis</td>
							<td>1x0.9</td>
							<td>excision</td>
						</tr>

						<tr>
							<td>CR6161</td>
							<td>left axillary lymph</td>
							<td>2.6x2x1.5</td>
							<td>excision</td>
						</tr>

						<tr>
							<td>CR7623</td>
							<td>nonresponding adrenal gland metastasis</td>
							<td>1</td>
							<td>metastasis</td>
						</tr>

						<tr>
							<td>CR9306</td>
							<td>coracoid metastasis</td>
							<td>4.7</td>
							<td>resection</td>
						</tr>

						<tr>
							<td>CR9699</td>
							<td>portal lymph node</td>
							<td>not documented</td>
							<td>resection</td>
						</tr>

						<tr>
							<td>CRNR0244</td>
							<td>small bowel nonresponding</td>
							<td>4x3x1.5</td>
							<td>metastasis</td>
						</tr>

						<tr>
							<td>CRNR2472</td>
							<td>nonresponding spleen metastasis</td>
							<td>not available</td>
							<td>excision</td>
						</tr>

						<tr>
							<td>CRNR4941</td>
							<td>nonresponding inguinal metastasis</td>
							<td>not available</td>
							<td>excision</td>
						</tr>

						<tr>
							<td>LSD0167</td>
							<td>small bowel melanoma</td>
							<td>3.5x3x1.5</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSD2057</td>
							<td>left parietal brain</td>
							<td>0.5x0.3x0.1</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSD3484</td>
							<td>lymph node metastases</td>
							<td>0.5 to 3.5</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSD4691</td>
							<td>vetebral metastasos</td>
							<td>4.1x2.6x0.6</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSD4744</td>
							<td>not available</td>
							<td>not available</td>
							<td>available</td>
						</tr>
						<tr>
							<td>LSD6819</td>
							<td>skin nodule</td>
							<td>0.6</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSDNR1120</td>
							<td>L axillary lymph</td>
							<td>2.7x2.5x2</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSDNR1650</td>
							<td>pubic nonresponding metastsis</td>
							<td>3.5x3x1.8</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSDNR3086</td>
							<td>nonresponding cutaneous metastasis</td>
							<td>1.6x1.5x1.1</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>LSDNR9298</td>
							<td>lymph node metastasis</td>
							<td>2.7x2.7</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR1867</td>
							<td>groin lymph nodes</td>
							<td>0.3 to 4</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>NR2137</td>
							<td>R occipital brain</td>
							<td>2x1.3x0.3</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR3156</td>
							<td>gluteal metastasis</td>
							<td>1.4mm</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR3549</td>
							<td>inguinal lymph nodes</td>
							<td>3.2</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR4018</td>
							<td>skin metastasis not</td>
							<td>not available</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR4045</td>
							<td>R elbow metastasis</td>
							<td>0.5x0.4x0.4</td>
							<td>punch</td>
						</tr>
						<tr>
							<td>NR4083</td>
							<td>not available not</td>
							<td>not available</td>
							<td>needle</td>
						</tr>
						<tr>
							<td>NR4631</td>
							<td>CNS metastasis</td>
							<td>3.3x1.7x0.8</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR4810</td>
							<td>small bowel metastasis</td>
							<td>4.5x3.5x3</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>NR4949</td>
							<td>parietal metastasis</td>
							<td>1.2</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>NR5784</td>
							<td>axillary lymph nodes</td>
							<td>2</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>NR6689</td>
							<td>L temporal brain</td>
							<td>1.8x1.5x0.5</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR6721</td>
							<td>R chest wall</td>
							<td>2.2x2x0.5</td>
							<td>nodular</td>
						</tr>
						<tr>
							<td>NR6842</td>
							<td>R axillary lymph</td>
							<td>0.2 to 2.5</td>
							<td>node</td>
						</tr>
						<tr>
							<td>NR8727</td>
							<td>axillary lymph nodes</td>
							<td>0.2 to 2.2</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>NR8815</td>
							<td>anterior chest, skin</td>
							<td>3.3x2.5</td>
							<td>metastasis</td>
						</tr>
						<tr>
							<td>NR9341</td>
							<td>skin nodules</td>
							<td>1.2</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>NR9445</td>
							<td>abdonimal nodule</td>
							<td>0.6x0.3x0.3</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR9449</td>
							<td>small bowel resection</td>
							<td>0.9</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR9521</td>
							<td>L arm melanoma</td>
							<td>0.5</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR9705</td>
							<td>skin/chest wall metastasis</td>
							<td>9.2x7.5x7</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>NR9765</td>
							<td>left inguinal lymph</td>
							<td>0.2 to 3</td>
							<td>nodes</td>
						</tr>
						<tr>
							<td>PR03803</td>
							<td>forearm metastasis</td>
							<td>0.6</td>
							<td>punch</td>
						</tr>
						<tr>
							<td>PR12117</td>
							<td>neck lymph node</td>
							<td>1</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>PR4035</td>
							<td>soft tissue metastasis</td>
							<td>not available</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>PR4046</td>
							<td>lymph nodes not</td>
							<td>not available</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>PR4077</td>
							<td>not available not</td>
							<td>not available</td>
							<td>needle</td>
						</tr>
						<tr>
							<td>PR4091</td>
							<td>skin metastasis not</td>
							<td>not available</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>PR4092</td>
							<td>lymph nodes not</td>
							<td>not available</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>SD0346</td>
							<td>axillary soft tissue</td>
							<td>5</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>SD1494</td>
							<td>parietal metastasis</td>
							<td>2.1</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>SD2051</td>
							<td>groin lymph node metastases</td>
							<td>0.5 to 3</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>SD2056</td>
							<td>lung metastasis</td>
							<td>1.5</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>SD5038</td>
							<td>upper back metastasis</td>
							<td>6.5</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>SD5118</td>
							<td>elbow metastasis</td>
							<td>3</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>SD5934</td>
							<td>abdominal tumor nodules</td>
							<td>4.5</td>
							<td>excision</td>
						</tr>
						<tr>
							<td>SD6336</td>
							<td>gluteal metastasis</td>
							<td>not documented</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>SD6494</td>
							<td>small bowel metastasis</td>
							<td>10</td>
							<td>resection</td>
						</tr>
						<tr>
							<td>SD7357</td>
							<td>skin and breast metastasis</td>
							<td>12</td>
							<td>resection</td>
						</tr>

					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));</script>