<style type="text/css" media="screen">
	.summary-chart {
		height: 100px;
		border: 1px solid black;
		width: 100%;
	}

	.styled-select {
		text-align: center;
		background-color: #F5F5F5;
		appearance: none;
		-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */
		border: none;
	}

	#ihc-screen * {
		color: black;
	}
	table tr td:nth-child(1) {
    	width:20%;
	}
	
	.source-visit,.trend-visit {
		cursor : pointer;
	}
</style>
<div class="container-fluid">
	<div class="row" style="margin-top: 15px;">
		<div class="col-sm-12">
			<div class="card-panel pull-right text-right">
				<p class="hospital-data" onclick="$('body').trigger('study-details');">
					<span>Study Name:</span> Genetic Basis For Clinical Response to CTLA-4 Bloackade in Melanoma
					<span id="patient-study-title"></span>
					<br/>
					<span>Primary investigator:</span>Alexandra Snyder, M.D., mermorial Sloan Kettering Cancer Center
					
				</p>
			</div>
            
			<div class="card-1" style="background: white;padding: 10px">
				<table border="0" onclick="$('body').trigger('patient-details');">
					<tr>
						<td width="90px" align="center" valign="middle"><img src="/img/mocks/male.png" width="90"></td>
						<td  width="90%" style="padding:10px;padding-left: 20px;" align="center">
						<p class="profile-data text-left" style="margin-top: 10px;">
							<span>Total Subjects:</span>
							CR9699
							<br/>
							<span>Cancer Type:</span>
				            Melanoma
							<br/>
							<span>Start Date:</span>
							xx-xx-xxx
							<br/>
                            
							<span>Recruitment Status:</span>
							xx
							<br/>
						</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center><h3>Whole Exome Sqquencing - Distribution of Variants</h3></center>
			<div class="table-wrapper card-2">
				<br>
				<br>
                <center><img src="img/mocks/subject-wes-screen2.jpg" class="img-responsive" width="80%">
				</center>
				<br>
				<br>
                <a class="pull-right" onclick="$('body').trigger('sub-wes-table1');"  style="color: white;background-color: #337ab7;padding: 5px;">more...</a>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
	}); 
</script>