<style type="text/css" media="screen">
	.summary-chart {
		height: 100px;
		border: 1px solid black;
		width: 100%;
	}

	.styled-select {
		text-align: center;
		background-color: #F5F5F5;
		appearance: none;
		-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */
		border: none;
	}

	#ihc-screen * {
		color: black;
	}
	table tr td:nth-child(1) {
    	width:20%;
	}
	
	.source-visit,.trend-visit {
		cursor : pointer;
	}
</style>
<div class="container-fluid">
	<div class="row" style="margin-top: 15px;">
		<div class="col-sm-12">
			<div class="card-panel pull-right text-right">
				<p class="hospital-data" onclick="$('body').trigger('study-details');">
					<span>Study Name:</span> Genetic Basis For Clinical Response to CTLA-4 Bloackade in Melanoma
					<span id="patient-study-title"></span>
					<br/>
					<span>Primary investigator:</span>Alexandra Snyder, M.D., mermorial Sloan Kettering Cancer Center
					
				</p>
			</div>
            
			<div class="card-1" style="background: white;padding: 10px">
				<table border="0" onclick="$('body').trigger('patient-details');">
					<tr>
						<td width="90px" align="center" valign="middle"><img src="/img/mocks/male.png" width="90"></td>
						<td  width="90%" style="padding:10px;padding-left: 20px;" align="center">
						<p class="profile-data text-left" style="margin-top: 10px;">
							<span>Total Subjects:</span>
							CR9699
							<br/>
							<span>Cancer Type:</span>
				            Melanoma
							<br/>
							<span>Start Date:</span>
							xx-xx-xxx
							<br/>
                            
							<span>Recruitment Status:</span>
							xx
							<br/>
						</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th> SAMPLE </th>
							<th> GENE </th>
							<th> Chr </th>
							<th> POSITION </th>
							<th> Ref </th><th> Alt </th>
							<th> Ncov </th>
							<th> Tcov </th>
							<th> Naf </th>
							<th> Taf </th>
							<th> HLA I Type </th>
							<th> Allele </th>
							<th> Mut Score </th>
							<th> WT Score </th>
							<th> Mut </th>
							<th> Mut Peptide </th>
						</tr>
					</thead>
					<tbody id="cytokinelist-data" class="searchable">
						<tr>
							<td>CR9699</td>
							<td>HRH2</td>
							<td>chr5</td>
							<td>175110949</td>
							<td>C</td>
							<td>T</td>
							<td>187</td>
							<td>140</td>
							<td>100</td>
							<td>27.9</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2601</td>
							<td>489</td>
							<td>57</td>
							<td>tlaVvmgaf</td>
							<td>tlaAvmgaf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>FRAS1</td>
							<td>chr4</td>
							<td>79369245</td>
							<td>G</td>
							<td>A</td>
							<td>41</td>
							<td>30</td>
							<td>100</td>
							<td>50</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B2705</td>
							<td>487</td>
							<td>11049</td>
							<td>rqtaseplK</td>
							<td>rqtaseplE</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>UBE4A</td>
							<td>chr11</td>
							<td>118243875</td>
							<td>C</td>
							<td>T</td>
							<td>110</td>
							<td>44</td>
							<td>99.1</td>
							<td>29.6</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B4403</td>
							<td>486</td>
							<td>402</td>
							<td>eevrtfSev</td>
							<td>eevrtfPev</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SLC39A12</td>
							<td>chr10</td>
							<td>18242457</td>
							<td>T</td>
							<td>A</td>
							<td>8</td>
							<td>17</td>
							<td>100</td>
							<td>82.4</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2301</td>
							<td>482</td>
							<td>428</td>
							<td>mqgEcnlcf</td>
							<td>mqgDcnlcf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>ZNF536</td>
							<td>chr19</td>
							<td>31039816</td>
							<td>C</td>
							<td>T</td>
							<td>89</td>
							<td>52</td>
							<td>100</td>
							<td>17.3</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B4403</td>
							<td>481</td>
							<td>5300</td>
							<td>geqksgawI</td>
							<td>geqksgawT</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>EPPK1</td>
							<td>chr8</td>
							<td>144942288</td>
							<td>C</td>
							<td>T</td>
							<td>89</td>
							<td>146</td>
							<td>100</td>
							<td>61.6</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2301</td>
							<td>480</td>
							<td>6307</td>
							<td>ayrcgyfdK</td>
							<td>ayrcgyfdE</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>TTC23</td>
							<td>chr15</td>
							<td>99768757</td>
							<td>G</td>
							<td>A</td>
							<td>106</td>
							<td>45</td>
							<td>100</td>
							<td>60</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2301</td>
							<td>477</td>
							<td>9027</td>
							<td>kFysnshey</td>
							<td>kSysnshey</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>FAT3</td>
							<td>chr11</td>
							<td>92623974</td>
							<td>C</td>
							<td>T</td>
							<td>194</td>
							<td>117</td>
							<td>100</td>
							<td>23.9</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B2705</td>
							<td>474</td>
							<td>601</td>
							<td>rrrpqfYps</td>
							<td>rrrpqfHps</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>COL13A1</td>
							<td>chr10</td>
							<td>71686859</td>
							<td>C</td>
							<td>T</td>
							<td>210</td>
							<td>107</td>
							<td>100</td>
							<td>30.8</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B4403</td>
							<td>472</td>
							<td>434</td>
							<td>qeirtlVlm</td>
							<td>qeirtlAlm</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>NUP214</td>
							<td>chr9</td>
							<td>134004748</td>
							<td>C</td>
							<td>T</td>
							<td>252</td>
							<td>135</td>
							<td>99.6</td>
							<td>30.4</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2301</td>
							<td>471</td>
							<td>18938</td>
							<td>mvidmkwnL</td>
							<td>mvidmkwnP</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>CD36</td>
							<td>chr7</td>
							<td>80303351</td>
							<td>G</td>
							<td>A</td>
							<td>282</td>
							<td>182</td>
							<td>100</td>
							<td>28</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B2705</td>
							<td>471</td>
							<td>378</td>
							<td>frsqvtEki</td>
							<td>frsqvtGki</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>GIMAP8</td>
							<td>chr7</td>
							<td>150171208</td>
							<td>G</td>
							<td>A</td>
							<td>112</td>
							<td>78</td>
							<td>100</td>
							<td>23.1</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B4403</td>
							<td>470</td>
							<td>42627</td>
							<td>aEnsilgrq</td>
							<td>aGnsilgrq</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>ZNF454</td>
							<td>chr5</td>
							<td>178392595</td>
							<td>C</td>
							<td>T</td>
							<td>97</td>
							<td>33</td>
							<td>100</td>
							<td>21.2</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B2705</td>
							<td>469</td>
							<td>2141</td>
							<td>frdnLsfar</td>
							<td>frdnSsfar</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>CCDC64B</td>
							<td>chr16</td>
							<td>3078222</td>
							<td>T</td>
							<td>C</td>
							<td>94</td>
							<td>18</td>
							<td>100</td>
							<td>22.2</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B2705</td>
							<td>467</td>
							<td>1197</td>
							<td>lrsqrqkGl</td>
							<td>lrsqrqkEl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>HYDIN</td>
							<td>chr16</td>
							<td>71103246</td>
							<td>G</td>
							<td>A</td>
							<td>157</td>
							<td>75</td>
							<td>100</td>
							<td>17.3</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2301</td>
							<td>467</td>
							<td>7239</td>
							<td>iFsmkpkef</td>
							<td>iSsmkpkef</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>HYDIN</td>
							<td>chr16</td>
							<td>71103246</td>
							<td>G</td>
							<td>A</td>
							<td>157</td>
							<td>75</td>
							<td>100</td>
							<td>17.3</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2601</td>
							<td>467</td>
							<td>40</td>
							<td>wtkeeiFsm</td>
							<td>wtkeeiSsm</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>PANK3</td>
							<td>chr5</td>
							<td>167988433</td>
							<td>T</td>
							<td>A</td>
							<td>60</td>
							<td>29</td>
							<td>96.7</td>
							<td>20.7</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2301</td>
							<td>460</td>
							<td>4755</td>
							<td>tlvtitnnF</td>
							<td>tlvtitnnI</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LIPK</td>
							<td>chr10</td>
							<td>90490917</td>
							<td>C</td>
							<td>T</td>
							<td>99</td>
							<td>71</td>
							<td>99</td>
							<td>32.4</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>A2301</td>
							<td>457</td>
							<td>3123</td>
							<td>pkLpeywaf</td>
							<td>pkSpeywaf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>DNAH6</td>
							<td>chr2</td>
							<td>84936473</td>
							<td>G</td>
							<td>A</td>
							<td>109</td>
							<td>38</td>
							<td>100</td>
							<td>26.3</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B2705</td>
							<td>455</td>
							<td>427</td>
							<td>yrqsliKcw</td>
							<td>yrqsliEcw</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>KIAA1377</td>
							<td>chr11</td>
							<td>101857614</td>
							<td>C</td>
							<td>T</td>
							<td>192</td>
							<td>76</td>
							<td>100</td>
							<td>18.4</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B4403</td>
							<td>453</td>
							<td>472</td>
							<td>aenlvkaLv</td>
							<td>aenlvkaSv</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>DDX4</td>
							<td>chr5</td>
							<td>55088514</td>
							<td>C</td>
							<td>T</td>
							<td>94</td>
							<td>44</td>
							<td>98.9</td>
							<td>36.4</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B4403</td>
							<td>447</td>
							<td>3571</td>
							<td>deadCmldm</td>
							<td>deadRmldm</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SBK1</td>
							<td>chr16</td>
							<td>28331889</td>
							<td>G</td>
							<td>A</td>
							<td>37</td>
							<td>13</td>
							<td>100</td>
							<td>61.5</td>
							<td>A2301,A2601,B2705,B4403,C0102,C0401</td>
							<td>B2705</td>
							<td>439</td>
							<td>395</td>
							<td>rrgpakKvf</td>
							<td>rrgpakEvf</td>
						</tr>
					</tbody>
				</table>
				<br />
				<br />
				<a class="pull-right" onclick="$('body').trigger('sub-wes-table2');" style="padding: 5px;color: white;background-color: #337ab7;border-radius: 2px !important;">more... </a>
			</div>
		</div>
		<br/>
	</div>
</div>
</div>
<script type="text/javascript">
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); 
</script>
