<style type="text/css" media="screen">
	.summary-chart {
		height: 100px;
		border: 1px solid black;
		width: 100%;
	}

	.styled-select {
		text-align: center;
		background-color: #F5F5F5;
		appearance: none;
		-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */
		border: none;
	}

	#ihc-screen * {
		color: black;
	}
	table tr td:nth-child(1) {
    	width:20%;
	}
	
	.source-visit,.trend-visit {
		cursor : pointer;
	}
</style>
<div class="container-fluid">
	<div class="row" style="margin-top: 15px;">
		<div class="col-sm-12">
			<div class="card-panel pull-right text-right">
				<p class="hospital-data" onclick="$('body').trigger('study-details');">
					<span>Study Name:</span> Genetic Basis For Clinical Response to CTLA-4 Bloackade in Melanoma
					<span id="patient-study-title"></span>
					<br/>
					<span>Primary investigator:</span>Alexandra Snyder, M.D., mermorial Sloan Kettering Cancer Center
					
				</p>
			</div>
            
			<div class="card-1" style="background: white;padding: 10px">
				<table border="0" onclick="$('body').trigger('patient-details');">
					<tr>
						<td width="90px" align="center" valign="middle"><img src="/img/mocks/male.png" width="90"></td>
						<td  width="90%" style="padding:10px;padding-left: 20px;" align="center">
						<p class="profile-data text-left" style="margin-top: 10px;">
							<span>Total Subjects:</span>
							CR9699
							<br/>
							<span>Cancer Type:</span>
				            Melanoma
							<br/>
							<span>Start Date:</span>
							xx-xx-xxx
							<br/>
                            
							<span>Recruitment Status:</span>
							xx
							<br/>
						</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<br>
				<br>
				<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th> SAMPLE </th>
							<th> 4mer </th>
							<th> Chr </th>
							<th> POSITION </th>
							<th> Gene </th><th> Mutation </th>
							<th> Amino Acid </th>

							<th> WTSeq </th>
							<th> WTSeq </th>
						</tr>
					</thead>
					<tbody id="cytokinelist-data" class="searchable">
						<tr>
							<td>CR9699</td>
							<td>AALL</td>
							<td>chrX</td>
							<td>14708901</td>
							<td>GLRA2</td>
							<td>c.G1000A</td>
							<td>p.E334K</td>
							<td>fvfaallEy</td>
							<td>fvfaallKy</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>AATA</td>
							<td>chr22</td>
							<td>32555082</td>
							<td>C22orf42</td>
							<td>c.C121T</td>
							<td>p.P41S</td>
							<td>etvaataPa</td>
							<td>etvaataSa</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>AFPS</td>
							<td>chr10</td>
							<td>63852764</td>
							<td>ARID5B</td>
							<td>c.C3542T</td>
							<td>p.S1181F</td>
							<td>afpssqlsS</td>
							<td>afpssqlsF</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>AGAA</td>
							<td>chr14</td>
							<td>94909083</td>
							<td>SERPINA11</td>
							<td>c.C1129T</td>
							<td>p.L377F</td>
							<td>teagaasgL</td>
							<td>teagaasgF</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>ALLK</td>
							<td>chrX</td>
							<td>14708901</td>
							<td>GLRA2</td>
							<td>c.G1000A</td>
							<td>p.E334K</td>
							<td>fvfaallEy</td>
							<td>fvfaallKy</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>ALLN</td>
							<td>chr12</td>
							<td>29596410</td>
							<td>OVCH1</td>
							<td>c.C3041T</td>
							<td>p.P1014L</td>
							<td>wrlvaPlnh</td>
							<td>wrlvaLlnh</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>ANLA</td>
							<td>chr10</td>
							<td>1.15E+08</td>
							<td>NRAP</td>
							<td>c.G2056A</td>
							<td>p.D686N</td>
							<td>ykaDlawmk</td>
							<td>ykaNlawmk</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>ASHL</td>
							<td>chr19</td>
							<td>48244574</td>
							<td>EHD2</td>
							<td>c.T1517A</td>
							<td>p.F506Y</td>
							<td>eeFalashl</td>
							<td>eeYalashl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>DLFF</td>
							<td>chr1</td>
							<td>67313257</td>
							<td>WDR78</td>
							<td>c.C1201T</td>
							<td>p.H401Y</td>
							<td>kfHqdlffm</td>
							<td>kfYqdlffm</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>DSLG</td>
							<td>chr5</td>
							<td>1.38E+08</td>
							<td>CDC23</td>
							<td>c.C418T</td>
							<td>p.P140S</td>
							<td>etvdslgPl</td>
							<td>etvdslgSl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>EKVL</td>
							<td>chr11</td>
							<td>1.07E+08</td>
							<td>GUCY1A2</td>
							<td>c.G1130A</td>
							<td>p.R377K</td>
							<td>tfeRvllrl</td>
							<td>tfeKvllrl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>EPLK</td>
							<td>chr4</td>
							<td>79369245</td>
							<td>FRAS1</td>
							<td>c.G6049A</td>
							<td>p.E2017K</td>
							<td>rqtaseplE</td>
							<td>rqtaseplK</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>ETLV</td>
							<td>chr4</td>
							<td>1.23E+08</td>
							<td>KIAA1109</td>
							<td>c.C13195T</td>
							<td>p.P4399S</td>
							<td>tPwetlvvf</td>
							<td>tSwetlvvf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>FHFY</td>
							<td>chr1</td>
							<td>2.11E+08</td>
							<td>HHAT</td>
							<td>c.C62T</td>
							<td>p.S21F</td>
							<td>slgfhfySf</td>
							<td>slgfhfyFf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>FLGL</td>
							<td>chr17</td>
							<td>7605749</td>
							<td>WRAP53</td>
							<td>c.C1043T</td>
							<td>p.S348F</td>
							<td>grSlglyaw</td>
							<td>grFlglyaw</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>FLNL</td>
							<td>chr10</td>
							<td>96707646</td>
							<td>CYP2C9</td>
							<td>c.A592T</td>
							<td>p.M198L</td>
							<td>qflnlMekl</td>
							<td>qflnlLekl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>FYFF</td>
							<td>chr1</td>
							<td>2.11E+08</td>
							<td>HHAT</td>
							<td>c.C62T</td>
							<td>p.S21F</td>
							<td>slgfhfySf</td>
							<td>slgfhfyFf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>HFYF</td>
							<td>chr1</td>
							<td>2.11E+08</td>
							<td>HHAT</td>
							<td>c.C62T</td>
							<td>p.S21F</td>
							<td>slgfhfySf</td>
							<td>slgfhfyFf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>IFFA</td>
							<td>chr19</td>
							<td>14744049</td>
							<td>EMR3</td>
							<td>c.C1550T</td>
							<td>p.S517F</td>
							<td>ifSanlvlf</td>
							<td>ifFanlvlf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LDPL</td>
							<td>chr15</td>
							<td>56981277</td>
							<td>ZNF280D</td>
							<td>c.C742T</td>
							<td>p.H248Y</td>
							<td>iHfnlldpl</td>
							<td>iYfnlldpl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LEEK</td>
							<td>chr10</td>
							<td>61843365</td>
							<td>ANK3</td>
							<td>c.G1487A</td>
							<td>p.G496E</td>
							<td>evleGkpiy</td>
							<td>evleEkpiy</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LEKL</td>
							<td>chr10</td>
							<td>96707646</td>
							<td>CYP2C9</td>
							<td>c.A592T</td>
							<td>p.M198L</td>
							<td>qflnlMekl</td>
							<td>qflnlLekl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LFFV</td>
							<td>chr4</td>
							<td>39436053</td>
							<td>KLB</td>
							<td>c.C1049T</td>
							<td>p.S350F</td>
							<td>mrkklfSvl</td>
							<td>mrkklfFvl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LGST</td>
							<td>chr11</td>
							<td>89896757</td>
							<td>NAALAD2</td>
							<td>c.G1250A</td>
							<td>p.G417E</td>
							<td>fGllgstew</td>
							<td>fEllgstew</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LLPK</td>
							<td>chr9</td>
							<td>27197325</td>
							<td>TEK</td>
							<td>c.C1637T</td>
							<td>p.P546L</td>
							<td>Prglnllpk</td>
							<td>Lrglnllpk</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LRFL</td>
							<td>chr11</td>
							<td>1.12E+08</td>
							<td>C11orf52</td>
							<td>c.C326T</td>
							<td>p.P109L</td>
							<td>lrfPqatpr</td>
							<td>lrfLqatpr</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LSFA</td>
							<td>chr5</td>
							<td>1.78E+08</td>
							<td>ZNF454</td>
							<td>c.C1190T</td>
							<td>p.S397L</td>
							<td>frdnSsfar</td>
							<td>frdnLsfar</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>LVCF</td>
							<td>chr1</td>
							<td>2.35E+08</td>
							<td>RBM34</td>
							<td>c.C649T</td>
							<td>p.R217C</td>
							<td>vrfRslvcf</td>
							<td>vrfCslvcf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>NKSF</td>
							<td>chr2</td>
							<td>1.68E+08</td>
							<td>XIRP2</td>
							<td>c.C8117T</td>
							<td>p.S2706F</td>
							<td>itqnksffS</td>
							<td>itqnksffF</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>RILK</td>
							<td>chr19</td>
							<td>8131060</td>
							<td>FBN3</td>
							<td>c.G8173A</td>
							<td>p.E2725K</td>
							<td>graerilEl</td>
							<td>graerilKl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>RRRP</td>
							<td>chr11</td>
							<td>92623974</td>
							<td>FAT3</td>
							<td>c.C13369T</td>
							<td>p.H4457Y</td>
							<td>rrrpqfHps</td>
							<td>rrrpqfYps</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>RSQR</td>
							<td>chr16</td>
							<td>3078222</td>
							<td>CCDC64B</td>
							<td>c.A1412G</td>
							<td>p.E471G</td>
							<td>lrsqrqkEl</td>
							<td>lrsqrqkGl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>RTFS</td>
							<td>chr11</td>
							<td>1.18E+08</td>
							<td>UBE4A</td>
							<td>c.C796T</td>
							<td>p.P266S</td>
							<td>eevrtfPev</td>
							<td>eevrtfSev</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>RYLL</td>
							<td>chr14</td>
							<td>31952774</td>
							<td>GPR33</td>
							<td>c.C398T</td>
							<td>p.P133L</td>
							<td>rylltlhPv</td>
							<td>rylltlhLv</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SLGF</td>
							<td>chr1</td>
							<td>2.11E+08</td>
							<td>HHAT</td>
							<td>c.C62T</td>
							<td>p.S21F</td>
							<td>slgfhfySf</td>
							<td>slgfhfyFf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SLSV</td>
							<td>chr8</td>
							<td>69031678</td>
							<td>PREX2</td>
							<td>c.C3433T</td>
							<td>p.P1145S</td>
							<td>delPlsvri</td>
							<td>delSlsvri</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SLVC</td>
							<td>chr1</td>
							<td>2.35E+08</td>
							<td>RBM34</td>
							<td>c.C649T</td>
							<td>p.R217C</td>
							<td>vrfRslvcf</td>
							<td>vrfCslvcf</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SLYL</td>
							<td>chr2</td>
							<td>1.78E+08</td>
							<td>NFE2L2</td>
							<td>c.C1582T</td>
							<td>p.H528Y</td>
							<td>gendkslHl</td>
							<td>gendkslYl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SMSS</td>
							<td>chr12</td>
							<td>57431379</td>
							<td>MYO1A</td>
							<td>c.C2008A</td>
							<td>p.L670I</td>
							<td>gelsmssgE</td>
							<td>gelsmssgI</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SVLY</td>
							<td>chr12</td>
							<td>40668499</td>
							<td>LRRK2</td>
							<td>c.C1771T</td>
							<td>p.H591Y</td>
							<td>svlHtlqmy</td>
							<td>svlYtlqmy</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>SVTF</td>
							<td>chr2</td>
							<td>1.74E+08</td>
							<td>CDCA7</td>
							<td>c.C940T</td>
							<td>p.L314F</td>
							<td>rrsrssvtL</td>
							<td>rrsrssvtF</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>TAAF</td>
							<td>chr9</td>
							<td>94495705</td>
							<td>ROR2</td>
							<td>c.G636A</td>
							<td>p.M212I</td>
							<td>nritaaftM</td>
							<td>nritaaftI</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>VAIC</td>
							<td>chr9</td>
							<td>35957729</td>
							<td>OR2S2</td>
							<td>c.C367T</td>
							<td>p.R123C</td>
							<td>Ryvaicnpl</td>
							<td>Cyvaicnpl</td>
						</tr>
						<tr>
							<td>CR9699</td>
							<td>VLLR</td>
							<td>chr11</td>
							<td>1.07E+08</td>
							<td>GUCY1A2</td>
							<td>c.G1130A</td>
							<td>p.R377K</td>
							<td>tfeRvllrl</td>
							<td>tfeKvllrl</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br/>
	</div>
</div>
</div>
<script>
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); 
</script>
