<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<table class="table-bordered  table-condensed cf table-hover" width="100%">
					<thead style="background:#ffe5e5;">
						<tr>
							<th>TIme Period</th>
							<th>Pre-Treatment</th>
							<th colspan="4">Treatment</th>
							<th colspan="2">Follow-up</th>
						</tr>
						<tr>
							<th>Evaluation/Clinical Activity</th>
							<th>Baseline/Screening/Pre-Treatment</th>
							<td>Cycle 1</td><td>Cycle 2</td><td>Cycle 3</td>/<td>Cycle 4</td>
							<td>Follow-up Visit 1</td><td>Additional Followup Visits</td>
						</tr>
					</thead>
					<tbody id="timeline_evalution" class="searchable">
						<tr>
							<th>Duration</th>
							<th>2</th>
							<td>3</td><td>3</td><td>3</td>/<td>3</td>
							<td>6</td><td>12</td>
						</tr>
						<tr>
							<th>End of Time ( Weeks) - Time - Point</th>
							<th>2</th>
							<td>2</td><td>8</td><td>11</td>/<td>14</td>
							<td>20</td><td>32</td>
						</tr>
						<tr>
							<th></th>
							<th></th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>

						<tr>
							<th>Obtain Informed Consent</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>
						<tr>
							<th>Patient History</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>
						<tr>
							<th>Inclusion/Exclusion Criteria</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>
						<tr>
							<th>Biopsy of Target Lesion</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>
						<tr>
							<th></th>
							<th></th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>
						<tr>
							<th>Prior / concomitant medications</th>
							<th colspan="7">Collected from Screening to Follow-up</th>
						</tr>
						<tr>
							<th>Physical Examination</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td>X</td>
						</tr>
						<tr>
							<th>Performance status (WHO)</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td>X</td>
						</tr>
						<tr>
							<th>Height/Weight</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td>X</td>
						</tr>
						<tr>
							<th>Vital Signs</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td>X</td>
						</tr>
						<tr>
							<th>Complete Blood Count</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td>X</td>
						</tr>

						<tr>
							<th>Complete Metabloic Panel, LDH</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td>X</td>
						</tr>
						<tr>
							<th>Thyroid Function testing</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td></td>
						</tr>
						<tr>
							<th>Pregancy Test (serum)</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td></td>
						</tr>
						<tr>
							<th>HCV,HBV,HIV Testiong</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td>X</td>
							<td></td><td></td>
						</tr>
						<tr>
							<th>CT Scan</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td>X</td>
							<td>X</td><td>X</td>
						</tr>
						<tr>
							<th>Mari Brain</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>
						<tr>
							<th>ECG</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>

						<tr>
							<th>Adverse Events</th>
							<th colspan="7">Collected from consent to 100 days after drug discontinuation</th>

						</tr>

						<tr>
							<th>Drug Administration</th>
							<th></th>
							<td></td><td>X</td><td>X</td>/<td>X</td>
							<td></td><td></td>
						</tr>

						<tr>
							<th>Research blood (~40mL)</th>
							<th>X</th>
							<td>X</td><td>X</td><td>X</td>/<td>X</td>
							<td>X</td><td></td>
						</tr>
						<tr>
							<th>PD-L1 Expression on banked tumor specimen if available</th>
							<th>X</th>
							<td></td><td></td><td></td>/<td></td>
							<td></td><td></td>
						</tr>
						<tr>
							<th>Survival Data</th>
							<th></th>
							<td></td><td></td><td></td>/<td></td>
							<td>X</td><td>X</td>
						</tr>

					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<script id='adverse_table_template' type="text/template">
	{{#rows}}
	<tr style="padding: 20px;">
	<td style="text-align: center" data-title="CPAN">
	{{cpan}}
	</td>
	<td style="text-align: left" data-title="ADVERSE EVENT">
	{{adverseevent}}
	</td>
	<td style="text-align: center" data-title="GRADE">
	{{grade}}
	</td>
	<td style="text-align: center" data-title="RELATIONSHIP TO AGENT">
	{{relationshiptoagent}}
	</td>
	<td style="text-align: left" data-title="ONSET DATE">
	{{onsetdate}}
	</td>
	<td style="text-align: left" data-title="RESOLUTION DATE">
	{{resolutiondate}}
	</td>
	<td style="text-align: center" data-title="VISIT">
	{{visit}}
	</td>
	</tr>
	{{/rows}}
</script>
<script>
	$(function() {
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));

		var rows = 10;

		//if total rows count is less than 50,pagination not required
		if (rows.constructor === Array && rows.length <= 50) {
			$('.pg-holder').hide();
		} else {
		}

		//end of pagination relevant rendering logic

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	}); 
</script>
