<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-wrapper card-2">
				<div style="display:inline;">
					<div class="input-group">
						<span class="input-group-addon">Filter</span>
						<input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<div class="pull-right pg-holder" style="margin-top:5px;margin-bottom: 5px;">
						<button class="btn btn-default btn-sm" id="pg-left">
							<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default  btn-sm" id="pg-right">
							<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<br>
				<br>
				<div class="table-responsive" style="display: inline-block;width: 100%;">
					<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
					<thead class="cf" style="background:#ffe5e5;">
						<tr>
							<th><span class="htitle">CPAN</span></th>
							<th><span class="htitle">INTERVENTION</span></th>
							<th><span class="htitle">TREATMENT</span></th>
							<th><span class="htitle">ARM</span></th>
							<th><span class="htitle">PLANNED DOSE</span></th>
							<th><span class="htitle">UNIT PER BASIS</span></th>
							<th><span class="htitle">START DATE</span></th>
							<th><span class="htitle">COMPLETE DATE</span></th>
							<th><span class="htitle">ADMINISTERED</span></th>
						</tr>
					</thead>
					<tbody id="treatment_data_table" class="searchable"></tbody>
				</table>
				</div>
				<!--br>
				<div align="right">
				<input type="hidden" id="focus" checked>
				<button  id="moveLeft" style="border:none;background: transparent;">
				<i class="fa fa-2x fa-arrow-circle-left"></i>
				</button>
				<button  id="moveRight" style="border:none;background: transparent;">
				<i class="fa fa-2x fa-arrow-circle-right"></i>
				</button>
				</div>
				<br/>
				<div id="visualization"></div -->

			</div>
			<br/>
		</div>
	</div>
</div>
<script id='treatment_table_template' type="text/template">
	{{#rows}}
	<tr style="padding: 20px;">
	<td style="text-align: right" data-title="CPAN">
	{{patientid}}
	</td>
	<td style="text-align: left" data-title="INTERVENTION">
	{{intervention}}
	</td>
	<td style="text-align: left" data-title="TREATMENT">
	{{treatment}}
	</td>
	<td style="text-align: center" data-title="ARM">
	{{arm}}
	</td>
	<td style="text-align: left" data-title="PLANNED DOSE">
	{{planneddose}}
	</td>
	<td style="text-align: left" data-title="UNIT PER BASIS">
	{{unitperbasis}}
	</td>
	<td style="text-align: left" data-title="START DATE">
	{{startdate}}
	</td>
	<td style="text-align: left" data-title="COMPLETE DATE">
	{{completedate}}
	</td>
	<td style="text-align: center" data-title="ADMINISTERED">
	{{administered}}
	</td>
	</tr>
	{{/rows}}
</script>

<script>
	$(function() {
		function renderTreatment(rows) {
			var treatmentTemplate = $('#treatment_table_template').html();
			var treatmentHtml = Mustache.to_html(treatmentTemplate, {
				'rows' : rows
			});
			$("#treatment_data_table").html(treatmentHtml);
			$.bootstrapSortable( applyLast = true);
		}

		var pageHitCount = 1,
		    startRange = 0,
		    qry = {};
		if ($('#select-pid').val())
			qry.patientid = $('#select-pid').val();
		//cpan
		var rows = db2.getCollection('TREATMENT').findObjects(qry), newRows = [];
        rows.forEach(function(treatment, index){
        	if(treatment.patientid && treatment.intervention && treatment.treatment && treatment.arm && treatment.planneddose && treatment.unitperbasis && treatment.startdate && treatment.completedate && treatment.administered){
        		newRows.push(treatment);	
        	}
        });
        rows = newRows;;

		//if total rows count is less than 50,pagination not required
		if (rows.constructor === Array && rows.length <= 50) {
			$('.pg-holder').hide();
			renderTreatment(rows);
		} else {
			renderTreatment(onLeft(rows, startRange, pageHitCount));
		}

		$('#pg-left').click(function() {
			pageHitCount = pageHitCount - 1;
			startRange = startRange - 50;
			renderTreatment(onLeft(rows, startRange, pageHitCount));
		});

		$('#pg-right').click(function() {
			pageHitCount = pageHitCount + 1;
			startRange = startRange + 50;
			renderTreatment(onRight(rows, startRange, pageHitCount));
		});

		renderTreatment(onLeft(rows, startRange, pageHitCount));

		//end of pagination relevant rendering logic

		$('#filter').keyup(function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable tr').hide();
			$('.searchable tr').filter(function() {
				return rex.test($(this).text());
			}).show();
		});

		//timeline
		var arr = [],
		    TARGETID;
		$.each(rows, function(index, data) {
			obj_array = {};
			obj_array['id'] = index;
			obj_array['content'] = data.treatment + "<br>" + data.intervention;
			obj_array['start'] = data.startdate;
			arr.push(obj_array);

		});
		var container = document.getElementById('visualization');
		var items = new vis.DataSet(arr);
		var options = {
			zoomMin : 86400000,
			zoomMax : 1000 * 60 * 60 * 24 * 31 * 4,
			orientation : {
				axis : "bottom",
				item : "bottom"
			},
			margin : {
				item : 10,
				axis : 20
			},
			showCurrentTime : false,
			height : 300
		};
		//var timeline = new vis.Timeline(container, items, options);

		// moving focus  item to item
		function movefocus(click) {
			if (arr.length) {
				arr.sort(function(item1, item2) {
					return new Date(item1.start).getTime() - new Date(item2.start).getTime();
				});
				if (TARGETID) {

					var index = -1;
					for (var item_index in arr) {
						console.log("hjf " + arr[item_index].id);
						if (arr[item_index].id == TARGETID) {
							index = Number(item_index);
							break;
						}
					};
					if ((index + click) < arr.length && (index + click) >= 0) {
						fitem = arr[index + click].id;
						focusitem(fitem);
					} else {
						for (var item_index in arr) {
							if (arr[item_index].id == TARGETID) {
								focusitem(TARGETID);
							} else {
								fitem = arr[0].id;
								focusitem(fitem);
							}
						};
					}

				} else {
					fitem = arr[0].id;
					focusitem(fitem);
				}

			}
		}

		function focusitem(id) {
			var focus = document.getElementById('focus');
			timeline.setSelection(id, {
				focus : focus.checked
			});
			TARGETID = id;

		}


		$("#moveLeft").click(function() {
			movefocus(-1);
		});
		$("#moveRight").click(function() {
			movefocus(1);
		});

		// timeline.on('select', function(properties) {
		// if (properties.items && properties.items[0] && properties.items[0] != lastSelection) {
		// lastSelection = properties.items[0];
		// var selection = timeline.getSelection();
		// timeline.focus(selection, {
		// animation : {
		// duration : 1000,
		// easingFunction : "easeInOutQuart"
		// }
		// });
		// var targetItem = items.get(selection[0]);
		// TARGETID = targetItem.id;
		// }
		// });
	}); 
</script>
