<div>
	<table class="sortable table-bordered  table-condensed cf table-hover" width="100%">
		<thead class="cf" style="background:#ffe5e5;">
			<tr>
				<th><span class="htitle">STUDYID</span></th>
				<th><span class="htitle">TITLE</span></th>
				<th><span class="htitle">ASSIGNED</span></th>
				<th><span class="htitle">STATUS</span></th>
				<th><span class="htitle">RESEARCH REPORT</span></th>
			</tr>
		</thead>
		<tbody id="study-list"></tbody>
	</table>
</div>
<script id='study-template' type="text/template">
	{{#rows}}
	<tr style="padding: 20px;">
	<td style="text-align: right" data-title="STUDYID">
	{{studyid}
	</td>
	<td style="text-align: right" data-title="TITLE">
	{{studytitle}}
	</td>
	<td style="text-align: left" data-title="ASSIGNED">
	</td>
	<td style="text-align: left" data-title="STATUS">
	</td>
	<td style="text-align: left" data-title="RESEARCH REPORT">
	{{startdate}}
	</td>
	</tr>
	{{/rows}}
</script>
<script>
	$(function() {
		function renderStudyList(rows) {
			var StudyTemplate = $('#study-template').html();
			var StudyHtml = Mustache.to_html(StudyTemplate, {
				'rows' : rows
			});
			$("#study-list").html(StudyHtml);
			$.bootstrapSortable( applyLast = true);
		}

	}); 
</script>
