<div class="container animated fadeInUp" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<h3>Genetic Basis For Clinical Response to CTLA-4 Blockade in Melanoma</h3>
			</center>
			<div class="table-wrapper card-2">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4">
						<span>Total Number of Patients : 64</span>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<a href="#ngs1"><i class="fa fa-users fa-2x"></i></a>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<span onclick="$('body').trigger('ngs2');" style="border: 1px solid black;padding : 4px;border-bottom-right-radius: 4px !important;cursor: pointer;">G</span>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<div>
							Frequency &gt;
							<input type="text" value="10%" style="width: 30%;"/>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<a href="#wes2"><i class="fa fa-bar-chart fa-2x"></i></a>
					</div>
				</div>
				<br>
				<br>
				<center>
					<img src="img/mocks/wes-img.jpg" class="img-responsive" width="80%">
				</center>
			</div>
			<br/>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#menubutton").show();
		$("#homebutton").show();
		$("#top-right-holder").show();
		$.bootstrapSortable( applyLast = true);
		$('#menu-div').html(prepareHtml('menu-template')(getMenuInfo('singlestudyview')));
	}); 
</script>